div.cust.select2-container {
    border: solid #5897fb 1px;
}

table.titre td{
    padding: 0 20px;
}

.serialNumber {
    width: 120px;
    border: solid gray 1px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    font-size: 14px;
    font-family: arial;
}

.custInput {
    border: solid gray 1px;
}

table.custTable {
    border-collapse: separate; 
    border-spacing: 0;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    z-index: 900 !important;
    margin-top: 30px;
}

table.custTable tr{
    background: #ccc;
}

table.custTable th, table.custTable td {
    padding: 3px 10px 3px 10px;
    border-right: solid black 1px;
    text-align: center;
}

table.custTable th {
    border-bottom: solid black 1px;
}

.clickable:hover {
    cursor: pointer;
}

.modify {
    margin-bottom: -8px;
}

.fadeInOut {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}

.fade-in {
    opacity: 1;
}

.entry td {
    border-collapse: collapse;
    padding: 2px 4px 0px 4px;
}

.hrShadow {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 7px -10px #8c8b8b inset;
}

.separatorDiv {
    border: solid #bfbfbf 2px;
    border-radius: 3px;
    padding: 5px;
    
}