@charset "UTF-8";
@-webkit-keyframes bimp-spin {
  /* line 3, ../scss/bimpcore/_styles.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 7, ../scss/bimpcore/_styles.scss */
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes bimp-spin {
  /* line 13, ../scss/bimpcore/_styles.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 17, ../scss/bimpcore/_styles.scss */
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*Styles génériques*/
/* line 24, ../scss/bimpcore/_styles.scss */
#id-right {
  background-color: gainsboro;
}

/* line 28, ../scss/bimpcore/_styles.scss */
div.tabBar {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 33, ../scss/bimpcore/_styles.scss */
.section {
  margin-bottom: 30px;
}

/* line 36, ../scss/bimpcore/_styles.scss */
.ajaxResultContainer {
  margin: 15px;
}

/* line 40, ../scss/bimpcore/_styles.scss */
.ui-autocomplete {
  z-index: 10250 !important;
}

/* line 43, ../scss/bimpcore/_styles.scss */
.typeLabel {
  border-radius: 24px;
  padding: 3px 8px;
  font-size: 11px;
  color: #fff;
}

/* line 50, ../scss/bimpcore/_styles.scss */
.success {
  font-weight: bold;
  color: #348c41;
}

/* line 54, ../scss/bimpcore/_styles.scss */
.info {
  font-weight: bold;
  color: #3b6ea0;
}

/* line 58, ../scss/bimpcore/_styles.scss */
.warning {
  font-weight: bold;
  color: #e69900;
}

/* line 62, ../scss/bimpcore/_styles.scss */
.danger {
  font-weight: bold;
  color: #a00000;
}

/* line 67, ../scss/bimpcore/_styles.scss */
.date, .time, .datetime {
  font-weight: bold;
}

/* line 71, ../scss/bimpcore/_styles.scss */
.datetime .time {
  font-weight: normal;
  font-style: italic;
}

/* line 76, ../scss/bimpcore/_styles.scss */
.loading {
  font-size: 18px;
  color: #3b6ea0;
  opacity: 0;
  margin: 0 8px;
  line-height: 22px;
  vertical-align: middle;
}
/* line 83, ../scss/bimpcore/_styles.scss */
.loading.active {
  opacity: 1;
}

/* line 88, ../scss/bimpcore/_styles.scss */
.bold {
  font-weight: bold;
}

/*Boutons*/
/* line 95, ../scss/bimpcore/_styles.scss */
.btn i {
  font-size: 14px;
}
/* line 98, ../scss/bimpcore/_styles.scss */
.btn i.left {
  margin-right: 8px;
}
/* line 101, ../scss/bimpcore/_styles.scss */
.btn i.right {
  margin-left: 8px;
}

/* line 107, ../scss/bimpcore/_styles.scss */
.open-close:after {
  font-family: 'FontAwesome';
  margin-left: 5px;
}
/* line 111, ../scss/bimpcore/_styles.scss */
.open-close.action-open:after {
  content: '\f0d7';
}
/* line 114, ../scss/bimpcore/_styles.scss */
.open-close.action-close:after {
  content: '\f0d8';
}

/* line 118, ../scss/bimpcore/_styles.scss */
i.iconLeft {
  margin-right: 8px;
}

/* line 121, ../scss/bimpcore/_styles.scss */
i.iconRight {
  margin-left: 8px;
}

/* line 124, ../scss/bimpcore/_styles.scss */
.buttonsContainer {
  margin: 15px 0;
  padding: 10px 0;
}
/* line 127, ../scss/bimpcore/_styles.scss */
.buttonsContainer span, .buttonsContainer a, .buttonsContainer button, .buttonsContainer .button, .buttonsContainer .btn {
  margin: 5px 10px;
  display: inline-block;
}
/* line 132, ../scss/bimpcore/_styles.scss */
.buttonsContainer.align-left {
  text-align: left;
}
/* line 135, ../scss/bimpcore/_styles.scss */
.buttonsContainer.align-center {
  text-align: center;
}
/* line 138, ../scss/bimpcore/_styles.scss */
.buttonsContainer.align-right {
  text-align: right;
}

/* line 143, ../scss/bimpcore/_styles.scss */
.panel-footer .btn, .panel-footer .button, .panel-footer button {
  margin: 2px 4px;
}
/* line 147, ../scss/bimpcore/_styles.scss */
.panel-footer .btn-group {
  margin: 2px 8px;
}
/* line 149, ../scss/bimpcore/_styles.scss */
.panel-footer .btn-group .btn {
  margin: 0;
}

/* line 155, ../scss/bimpcore/_styles.scss */
.modal .modal-dialog {
  margin-top: 10%;
}

/* line 160, ../scss/bimpcore/_styles.scss */
.content-loading {
  display: none;
  padding: 60px;
  text-align: center;
}
/* line 165, ../scss/bimpcore/_styles.scss */
.content-loading .loading-spin {
  font-size: 32px;
  color: #3b6ea0;
  margin: 30px;
}
/* line 170, ../scss/bimpcore/_styles.scss */
.content-loading .loading-text {
  font-size: 16px;
}

/*Sections dépliables*/
/* line 177, ../scss/bimpcore/_styles.scss */
.foldable_section .foldable_section_caption {
  margin-top: 15px;
  padding: 8px 15px;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 1%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9f9f9 1%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9f9f9 1%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #B4B4B4;
  font-size: 12px;
  font-weight: bold;
  color: #292964;
  cursor: pointer;
}
/* line 193, ../scss/bimpcore/_styles.scss */
.foldable_section .foldable_section_caption:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f2f2f2+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 1%, #f2f2f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 1%, #f2f2f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
  /* IE6-9 */
}
/* line 202, ../scss/bimpcore/_styles.scss */
.foldable_section > .foldable_section_caption:after {
  font-family: 'FontAwesome';
  margin-right: 10px;
  float: right;
  font-size: 14px;
}
/* line 208, ../scss/bimpcore/_styles.scss */
.foldable_section.closed > .foldable_section_caption:after {
  content: '\f0d7';
}
/* line 211, ../scss/bimpcore/_styles.scss */
.foldable_section.open > .foldable_section_caption:after {
  content: '\f0d8';
}
/* line 214, ../scss/bimpcore/_styles.scss */
.foldable_section.closed > .foldable_section_content {
  display: none;
}
/* line 217, ../scss/bimpcore/_styles.scss */
.foldable_section.open > .foldable_section_content {
  display: block;
}
/* line 220, ../scss/bimpcore/_styles.scss */
.foldable_section .foldable_section_content {
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 15px;
  border-left: 1px dotted #B4B4B4;
}

/*Tiny Popups*/
/* line 232, ../scss/bimpcore/_styles.scss */
.tinyPopup {
  display: none;
  background-color: #fff;
  box-shadow: 0 0 8px #787878;
  color: #3c3c3c;
  margin-right: 5px;
  min-width: 250px;
  padding: 15px;
  position: absolute;
  text-align: left;
  right: 0;
  z-index: 9999;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
/* line 247, ../scss/bimpcore/_styles.scss */
.tinyPopup .title {
  font-size: 11px;
  color: #505050;
  padding-bottom: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid #B4B4B4;
}
/* line 254, ../scss/bimpcore/_styles.scss */
.tinyPopup .btn {
  display: inline-block;
  margin: 5px 0;
  padding: 8px 12px;
  font-size: 12px;
}
/* line 260, ../scss/bimpcore/_styles.scss */
.tinyPopup .btn:hover {
  background-color: #EF7D00;
  color: #fff;
}

/*Bimp Timer*/
/* line 268, ../scss/bimpcore/_styles.scss */
.bimp_timer {
  background-color: #fff;
  border: 1px solid #636363;
}
/* line 272, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_header {
  padding: 5px 8px;
  background-color: #ef7d00;
  color: #fff;
}
/* line 277, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_header .title {
  padding: 0;
}
/* line 280, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_header .title:before {
  font-family: 'FontAwesome';
  margin-right: 8px;
  content: '\f017';
}
/* line 288, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time {
  text-align: center;
  color: #282828;
  padding: 10px 16px;
  font-weight: bold;
}
/* line 294, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time .title {
  font-size: 13px;
  color: #636363;
  text-align: left;
  margin-bottom: 8px;
}
/* line 301, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time .bimp_timer_label {
  margin: 0 8px;
}
/* line 305, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_current_time {
  color: #5b5b5b;
}
/* line 307, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_current_time .bimp_timer_value {
  font-size: 22px;
}
/* line 310, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_current_time .bimp_timer_label {
  font-size: 16px;
}
/* line 314, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_total_time {
  color: #282828;
}
/* line 316, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_total_time .bimp_timer_value {
  font-size: 32px;
}
/* line 319, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_time.bimp_timer_total_time .bimp_timer_label {
  font-size: 24px;
}
/* line 325, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_footer {
  background-color: gainsboro;
  padding: 5px 8px;
  text-align: right;
}
/* line 330, ../scss/bimpcore/_styles.scss */
.bimp_timer .bimp_timer_footer button {
  margin: 2px 3px;
}

/* line 337, ../scss/bimpcore/_styles.scss */
.fixe_tab_content .bimp_timer {
  display: inline-block;
}

/* line 1, ../scss/bimpcore/_form.scss */
.fieldRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 8, ../scss/bimpcore/_form.scss */
.fieldRow .inputLabel,
.fieldRow .inputContainer {
  padding: 10px 15px;
}
/* line 12, ../scss/bimpcore/_form.scss */
.fieldRow .inputLabel {
  color: #fff;
  background-color: #ef7d00;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
}
/* line 21, ../scss/bimpcore/_form.scss */
.fieldRow .fieldRowInput {
  color: #636363;
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
}
/* line 27, ../scss/bimpcore/_form.scss */
.fieldRow .fieldRowInput .inputContainer input {
  width: 350px;
}
/* line 30, ../scss/bimpcore/_form.scss */
.fieldRow .fieldRowInput .inputContainer textarea {
  width: 450px;
}

@media (max-width: 992px) {
  /* line 38, ../scss/bimpcore/_form.scss */
  .fieldRow {
    display: block;
  }
  /* line 41, ../scss/bimpcore/_form.scss */
  .fieldRow .inputLabel {
    text-align: left;
  }
}
/* line 47, ../scss/bimpcore/_form.scss */
.formRow {
  padding: 5px;
  width: 100%;
}
/* line 51, ../scss/bimpcore/_form.scss */
.formRow .formLabel {
  text-align: right;
  display: inline-block;
  width: 25%;
  padding-right: 15px;
}
/* line 58, ../scss/bimpcore/_form.scss */
.formRow .formInput {
  text-align: left;
  display: inline-block;
  width: 70%;
}
/* line 64, ../scss/bimpcore/_form.scss */
.formRow .formInput select.fullwidth,
.formRow .formInput input.fullwidth {
  width: 100%;
}
/* line 69, ../scss/bimpcore/_form.scss */
.formRow input[type=checkbox] {
  margin-right: 12px;
}

/* line 73, ../scss/bimpcore/_form.scss */
.formSubmit {
  text-align: right;
  padding: 10px 20px;
}
/* line 76, ../scss/bimpcore/_form.scss */
.formSubmit .button {
  margin-left: 10px;
}

/* line 80, ../scss/bimpcore/_form.scss */
.inputHelp {
  font-size: 12px;
  font-style: italic;
  color: #b4b4b4;
  margin: 8px 0;
  padding-left: 15px;
}

/* line 88, ../scss/bimpcore/_form.scss */
.objectToolbar,
.toolBar {
  padding: 15px 0;
  text-align: right;
}

/*Inputs*/
/* line 94, ../scss/bimpcore/_form.scss */
.auto_expand {
  overflow: hidden;
}

/* line 98, ../scss/bimpcore/_form.scss */
.input-group input {
  padding-bottom: 5px;
}

/* line 103, ../scss/bimpcore/_form.scss */
.object_view_content textarea.note,
.objectlistTable textarea.note {
  background-color: #FFFFE1;
  border-color: #FFFFE1;
  padding: 6px 15px;
  border-radius: 8px;
  box-shadow: 0 0 2px #787878;
}

/* line 111, ../scss/bimpcore/_form.scss */
select.switch {
  width: 75px;
  font-weight: bold;
}
/* line 115, ../scss/bimpcore/_form.scss */
select.switch option[value='1'] {
  color: #3b6ea0;
}
/* line 118, ../scss/bimpcore/_form.scss */
select.switch option[value='0'] {
  color: #8C8C8C;
}

/* line 123, ../scss/bimpcore/_form.scss */
.formSwitch label {
  margin-right: 20px;
}
/* line 127, ../scss/bimpcore/_form.scss */
.formSwitch input {
  margin: 0 5px;
}

/* line 131, ../scss/bimpcore/_form.scss */
.toggle {
  display: none;
}
/* line 135, ../scss/bimpcore/_form.scss */
.toggle + span, .toggle + span + label + span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  line-height: 20px;
  margin: 0 6px;
  color: #b4b4b4;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 146, ../scss/bimpcore/_form.scss */
.toggle + span {
  color: #636363;
}
/* line 150, ../scss/bimpcore/_form.scss */
.toggle + span + .toggle-slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  border-radius: 1.5em;
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #dddddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
}
/* line 163, ../scss/bimpcore/_form.scss */
.toggle + span + .toggle-slider:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}
/* line 179, ../scss/bimpcore/_form.scss */
.toggle + span + .toggle-slider:before {
  position: absolute;
  content: '';
  width: 32px;
  height: 12px;
  top: 4px;
  left: 4px;
  border-radius: 0.75em;
  -webkit-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(68, 204, 102, 0.7) inset;
}
/* line 195, ../scss/bimpcore/_form.scss */
.toggle:checked + span {
  color: #b4b4b4;
}
/* line 198, ../scss/bimpcore/_form.scss */
.toggle:checked + span + label + span {
  color: #2fa04b;
}
/* line 202, ../scss/bimpcore/_form.scss */
.toggle:checked + span + .toggle-slider:before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(68, 204, 102, 0.7) inset;
}
/* line 208, ../scss/bimpcore/_form.scss */
.toggle:checked + span + .toggle-slider:after {
  left: 22px;
}

/* line 214, ../scss/bimpcore/_form.scss */
.search_input_results {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 4px 4px 4px #505050;
  padding: 0 15px;
}
/* line 222, ../scss/bimpcore/_form.scss */
.search_input_results button {
  display: block;
  width: 100%;
  text-align: left;
}

/* line 229, ../scss/bimpcore/_form.scss */
.switchOption.selected {
  color: white !important;
  background-color: #ef7d00 !important;
  border-color: #ef7d00 !important;
}

/* line 236, ../scss/bimpcore/_form.scss */
.timer_input input, .timer_input select {
  width: 45px !important;
}
/* line 239, ../scss/bimpcore/_form.scss */
.timer_input span {
  display: inline-block;
  font-weight: bold !important;
  margin: 8px;
}

/* line 245, ../scss/bimpcore/_form.scss */
.optionsContainer {
  text-align: right;
}
/* line 248, ../scss/bimpcore/_form.scss */
.optionsContainer .optionsButton {
  display: inline-block;
  margin: 5px;
  color: #636363;
  font-weight: normal;
  margin: 0 3px;
  padding: 4px 6px;
  height: 100%;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
/* line 262, ../scss/bimpcore/_form.scss */
.optionsContainer .optionsButton:hover {
  color: #fff;
  background-color: #ef7d00;
}
/* line 266, ../scss/bimpcore/_form.scss */
.optionsContainer .optionsButton:hover:before {
  color: #fff;
}
/* line 271, ../scss/bimpcore/_form.scss */
.optionsContainer .optionsButton:before {
  font-size: 14px;
  color: #ef7d00;
  font-family: 'FontAwesome';
  content: '\f013';
  margin-right: 8px;
}

/* line 281, ../scss/bimpcore/_form.scss */
.inputMultipleValues table tbody tr {
  border: 1px solid #b4b4b4;
}
/* line 284, ../scss/bimpcore/_form.scss */
.inputMultipleValues table tbody tr td {
  padding: 6px 12px;
}

/* line 1, ../scss/bimpcore/_list.scss */
.objectList {
  overflow-x: auto;
}
/* line 4, ../scss/bimpcore/_list.scss */
.objectList table.objectlistTable {
  border: none;
  box-shadow: none;
}
/* line 8, ../scss/bimpcore/_list.scss */
.objectList table.objectlistTable > thead > tr > th {
  padding: 10px 6px;
  margin-bottom: 8px;
  color: #fff;
  background-color: #ef7d00;
  text-align: left;
  font-weight: bold;
}
/* line 17, ../scss/bimpcore/_list.scss */
.objectList table.objectlistTable td {
  padding: 5px 6px;
}
/* line 21, ../scss/bimpcore/_list.scss */
.objectList table.objectlistTable td .editInputContainer input, .objectList table.objectlistTable td .editInputContainer textarea, .objectList table.objectlistTable td .editInputContainer select {
  width: 100%;
}
/* line 28, ../scss/bimpcore/_list.scss */
.objectList .sortTitle {
  cursor: pointer;
}
/* line 31, ../scss/bimpcore/_list.scss */
.objectList .sortTitle:after {
  font-family: 'FontAwesome';
  margin-left: 8px;
  opacity: 0;
  color: #fff;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
}
/* line 40, ../scss/bimpcore/_list.scss */
.objectList .sortTitle:hover, .objectList .sortTitle.active {
  text-decoration: none !important;
}
/* line 42, ../scss/bimpcore/_list.scss */
.objectList .sortTitle:hover:after, .objectList .sortTitle.active:after {
  opacity: 1;
}
/* line 47, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.sorted-asc:after {
  content: '\f0d7';
}
/* line 50, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.sorted-desc:after {
  content: '\f0d8';
}
/* line 53, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.active.sorted-asc:after {
  content: '\f0d8';
}
/* line 56, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.active.sorted-desc:after {
  content: '\f0d7';
}
/* line 59, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.active.sorted-asc:hover:after {
  content: '\f0d7';
}
/* line 62, ../scss/bimpcore/_list.scss */
.objectList .sortTitle.active.sorted-desc:hover:after {
  content: '\f0d8';
}
/* line 66, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow {
  display: none;
  background-color: #DCDCDC;
}
/* line 70, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow i.fa-search {
  font-size: 16px;
  font-weight: bold;
  color: #787878;
}
/* line 75, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow .inputHelp {
  display: none;
}
/* line 79, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow #search_id {
  max-width: 45px;
}
/* line 82, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow td.searchTools {
  text-align: right;
}
/* line 86, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow .searchInputContainer {
  width: 100%;
  padding: 5px 15px 5px 0;
}
/* line 90, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow .searchInputContainer input, .objectList .listSearchRow .searchInputContainer select, .objectList .listSearchRow .searchInputContainer .input-group {
  width: 100%;
}
/* line 94, ../scss/bimpcore/_list.scss */
.objectList .listSearchRow .searchInputContainer .search_list_input {
  width: 80%;
}
/* line 99, ../scss/bimpcore/_list.scss */
.objectList .addObjectRow {
  display: none;
  background-color: #A0A0A0;
}
/* line 103, ../scss/bimpcore/_list.scss */
.objectList .addObjectRow td:first-child {
  text-align: center;
}
/* line 106, ../scss/bimpcore/_list.scss */
.objectList .addObjectRow td:first-child i.fa-plus-circle {
  font-size: 20px;
  font-weight: normal;
  color: #DCDCDC;
}
/* line 112, ../scss/bimpcore/_list.scss */
.objectList .addObjectRow .inputHelp {
  display: none;
}
/* line 117, ../scss/bimpcore/_list.scss */
.objectList .addObjectRow .inputContainer input, .objectList .addObjectRow .inputContainer select, .objectList .addObjectRow .inputContainer textarea {
  width: 100%;
}
/* line 122, ../scss/bimpcore/_list.scss */
.objectList th.th_tools {
  margin-right: 25px;
}
/* line 126, ../scss/bimpcore/_list.scss */
.objectList .headerTools {
  text-align: right;
  height: 100%;
}
/* line 130, ../scss/bimpcore/_list.scss */
.objectList .headerTools .headerButton {
  display: inline-block;
  margin: 5px;
  color: #fff;
  font-weight: normal;
  margin: 0 3px;
  padding: 4px 6px;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
/* line 144, ../scss/bimpcore/_list.scss */
.objectList .headerTools .headerButton:hover {
  color: #EF7D00;
  background-color: #fff;
}
/* line 149, ../scss/bimpcore/_list.scss */
.objectList .headerTools .headerButton:before, .objectList .headerTools .headerButton:after {
  font-family: 'FontAwesome';
}
/* line 153, ../scss/bimpcore/_list.scss */
.objectList .headerTools .openSearchRowButton:before {
  content: '\f002';
}
/* line 156, ../scss/bimpcore/_list.scss */
.objectList .headerTools .openAddObjectRowButton:before {
  content: '\f055';
}
/* line 159, ../scss/bimpcore/_list.scss */
.objectList .headerTools .openBulkActionsPopupButton:before {
  content: '\f046';
}
/* line 162, ../scss/bimpcore/_list.scss */
.objectList .headerTools .openParametersPopupButton:before {
  content: '\f013';
}
/* line 166, ../scss/bimpcore/_list.scss */
.objectList td.buttons {
  text-align: right;
  min-width: 160px;
}
/* line 170, ../scss/bimpcore/_list.scss */
.objectList .rowButton {
  color: #636363;
  text-align: center;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
  font-size: 16px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
/* line 186, ../scss/bimpcore/_list.scss */
.objectList .rowButton:hover {
  color: #fff;
  background-color: #EF7D00;
  text-decoration: none;
}
/* line 191, ../scss/bimpcore/_list.scss */
.objectList .rowButton:before {
  font-family: 'FontAwesome';
}
/* line 194, ../scss/bimpcore/_list.scss */
.objectList .rowButton.editButton:before {
  content: '\f044';
}
/* line 197, ../scss/bimpcore/_list.scss */
.objectList .rowButton.updateButton:before {
  content: '\f0c7';
}
/* line 200, ../scss/bimpcore/_list.scss */
.objectList .rowButton.deleteButton:before {
  content: '\f1f8';
}
/* line 203, ../scss/bimpcore/_list.scss */
.objectList .rowButton.viewButton:before {
  content: '\f06e';
}
/* line 208, ../scss/bimpcore/_list.scss */
.objectList .select2-container {
  max-width: 160px !important;
}

/* line 212, ../scss/bimpcore/_list.scss */
.ajaxResultContainer {
  display: none;
  margin: 20px 15px;
}

/*Pagination*/
/* line 219, ../scss/bimpcore/_list.scss */
.paginationContainer td {
  background-color: #fff;
}

/* line 222, ../scss/bimpcore/_list.scss */
.listPagination {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid gainsboro;
}
/* line 223, ../scss/bimpcore/_list.scss */
.listPagination:empty {
  display: none;
}
/* line 233, ../scss/bimpcore/_list.scss */
.listPagination span.navButton {
  font-size: 13px;
  margin: 0 5px;
  color: #5F5F5F;
  font-weight: bold;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
}
/* line 246, ../scss/bimpcore/_list.scss */
.listPagination span.navButton:hover {
  color: #EF7D00;
}
/* line 250, ../scss/bimpcore/_list.scss */
.listPagination span.navButton:before, .listPagination span.navButton:after {
  font-family: 'FontAwesome';
  font-size: 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
/* line 257, ../scss/bimpcore/_list.scss */
.listPagination span.navButton.disabled, .listPagination span.navButton.disabled:hover {
  color: #C8C8C8;
  cursor: default;
}
/* line 262, ../scss/bimpcore/_list.scss */
.listPagination span.prevButton:before {
  content: '\f053';
  margin-right: 8px;
}
/* line 266, ../scss/bimpcore/_list.scss */
.listPagination span.nextButton:after {
  content: '\f054';
  margin-left: 8px;
}
/* line 270, ../scss/bimpcore/_list.scss */
.listPagination .pages {
  display: inline-block;
  margin: 0 50px;
  color: #A0A0A0;
}
/* line 275, ../scss/bimpcore/_list.scss */
.listPagination .pages .pageBtn {
  font-weight: bold;
  cursor: pointer;
}
/* line 278, ../scss/bimpcore/_list.scss */
.listPagination .pages .pageBtn:hover {
  color: #505050;
}
/* line 282, ../scss/bimpcore/_list.scss */
.listPagination .pages .pageBtn.active, .listPagination .pages .pageBtn.active:hover {
  color: #EF7D00;
  cursor: default;
}

/* line 2, ../scss/bimpcore/_view.scss */
[id$="_view_panel"] .panel-secondary {
  /*border-color: #c8c8c8;*/
}
/* line 4, ../scss/bimpcore/_view.scss */
[id$="_view_panel"] .panel-secondary .panel-heading {
  background-color: #c8c8c8;
  color: #282828;
  border-color: #c8c8c8;
}

/* line 13, ../scss/bimpcore/_view.scss */
.object_view_content {
  padding: 0 !important;
}
/* line 16, ../scss/bimpcore/_view.scss */
.object_view_content .row:not(:first-child) {
  margin-top: 30px;
}

/* line 21, ../scss/bimpcore/_view.scss */
.objectViewtable {
  width: 100%;
  margin: 5px 0;
}
/* line 25, ../scss/bimpcore/_view.scss */
.objectViewtable thead tr th {
  padding: 8px 12px;
  background-color: #c8c8c8;
  color: #282828;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: normal;
}
/* line 35, ../scss/bimpcore/_view.scss */
.objectViewtable tbody tr th, .objectViewtable tbody tr td {
  padding: 5px 10px;
}
/* line 38, ../scss/bimpcore/_view.scss */
.objectViewtable tbody tr th {
  width: 20%;
  min-width: 90px;
  background-color: #ef7d00;
  color: #fff;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  border-bottom: 1px solid #fff;
}
/* line 48, ../scss/bimpcore/_view.scss */
.objectViewtable tbody tr td {
  border-bottom: 1px solid gainsboro;
}

/* line 55, ../scss/bimpcore/_view.scss */
.object_card_table tbody tr th, .object_card_table tbody tr td {
  padding: 0 5px;
  border-bottom: 1px solid #fff;
}
/* line 60, ../scss/bimpcore/_view.scss */
.object_card_table tbody tr th {
  width: 30%;
  min-width: 120px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  background-color: #fff;
  color: #282828;
}
/* line 70, ../scss/bimpcore/_view.scss */
.object_card_table tbody tr td {
  color: #282828;
  background-color: #fff;
}

/* line 76, ../scss/bimpcore/_view.scss */
.object_common_fields {
  margin: 5px 0;
  background-color: whitesmoke;
}
/* line 80, ../scss/bimpcore/_view.scss */
.object_common_fields table {
  width: 100%;
  border: none;
}
/* line 85, ../scss/bimpcore/_view.scss */
.object_common_fields table tbody tr th, .object_common_fields table tbody tr td {
  padding: 3px 5px;
  font-size: 12px;
  border-bottom: 1px solid #fff;
}
/* line 91, ../scss/bimpcore/_view.scss */
.object_common_fields table tbody tr th {
  font-weight: normal;
  color: gainsboro;
  border-bottom: 1px solid gainsboro;
  width: 30%;
  min-width: 90px;
  text-align: right;
  vertical-align: top;
  background-color: #636363;
}
/* line 102, ../scss/bimpcore/_view.scss */
.object_common_fields table tbody tr td {
  color: #282828;
  border-bottom: 1px solid gainsboro;
  vertical-align: middle;
}
