/*$state-info-text:                #31708f !default;*/
/*$state-warning-text:             #8a6d3b !default;*/
/*$state-danger-text:              #a94442 !default;*/
/* line 6, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top {
  background-color: #ffffff;
  z-index: 1030;
  position: relative;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding-left: 240px;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04); }
/* line 7, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown {
  margin-left: 10px; }
/* line 8, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu {
  margin-top: 10px; }
/* line 9, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.menu-grid {
  width: 182px; }
/* line 10, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.menu-grid .dropdown-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  line-height: 40px;
  font-size: 18px;
  color: #5A5A5A; }
/* line 11, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown {
  min-width: 300px;
  padding: 0; }
/* line 12, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .header {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #f1f1f1; }
/* line 13, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media {
  border-bottom: 1px solid #eef1f2;
  padding: 10px; }
/* line 14, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media:nth-child(odd) {
  background: #f8f9fa; }
/* line 15, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .d-flex {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 15px; }
/* line 16, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .d-flex i {
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  top: 0;
  height: 30px;
  width: 30px;
  background: #404E67;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }
/* line 17, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .d-flex img {
  height: 30px; }
/* line 18, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .media-body {
  font-size: 12px; }
/* line 19, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .media-body .media-heading {
  color: #444;
  font-weight: 600;
  letter-spacing: 0; }
/* line 20, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .notifications-wrap .media .media-body .media-content {
  color: #868e96; }
/* line 21, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .footer {
  text-align: center;
  padding: 10px 15px; }
/* line 22, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .dropdown .dropdown-menu.notification-dropdown .footer a {
  color: #212121;
  font-size: 16px; }
/* line 23, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .nav-link {
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 36px;
  color: #212121;
  border: none;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
/* line 24, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .nav-link i {
  font-size: 16px; }
/* line 25, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .nav-link .badge {
  right: -1px;
  position: absolute;
  top: -4px;
  padding: 3px;
  width: 17px;
  font-size: 11px;
  font-weight: 800;
  color: #fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px; }
/* line 26, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .avatar {
  color: #4c5667;
  font-weight: 600;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
  position: relative;
  vertical-align: bottom;
  font-size: .875rem;
  user-select: none; }
/* line 27, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle {
  border: none;
  position: relative;
  margin-right: 5px; }
/* line 28, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle span {
  height: 2px;
  width: 20px;
  background-color: #4a5361;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  top: 14px;
  left: 5px; }
/* line 29, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle span::before, #BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle span::after {
  content: "";
  height: 2px;
  width: 20px;
  border-radius: 4px;
  background-color: #4a5361;
  display: inline-block;
  position: absolute; }
/* line 30, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle span::before {
  left: 0;
  top: -6px; }
/* line 31, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .mobile-nav-toggle span::after {
  left: 0;
  bottom: -6px; }
/* line 32, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search {
  padding: 0 10px;
  position: relative; }
/* line 33, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search .input-group {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-bottom: 0; }
/* line 34, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search .input-group .input-group-addon {
  color: #404E67;
  padding: 2px 10px 2px 0px;
  font-size: 16px;
  cursor: pointer; }
/* line 35, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search .input-group .input-group-addon.search-close {
  padding: 2px 0px 2px 10px;
  display: none; }
/* line 36, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search .input-group .form-control {
  padding: 0 10px;
  min-height: auto;
  width: 0;
  border: none;
  color: #353c4e;
  background-color: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }
/* line 37, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search.open .input-group {
  background-color: #e4e4e4; }
/* line 38, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-search.open .input-group .input-group-addon.search-close {
  display: block; }
@media only screen and (max-width: 1023px) {
  /* line 39, ../scss/bimptheme.scss */
  #BimpThemeWrapper .header-top {
    padding-left: 0; } }
/* line 40, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="light"] {
  background: #ffffff; }
/* line 41, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="dark"] {
  background: #272d36; }
/* line 42, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="blue"] {
  background: #007bff; }
/* line 43, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="red"] {
  background: #f5365c; }
/* line 44, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="orange"] {
  background: #fb6340; }
/* line 45, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="green"] {
  background: #2dce89; }
/* line 46, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="purple"] {
  background: #BF55EC; }
/* line 47, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="blue"] .top-menu .nav-link, #BimpThemeWrapper .header-top[header-theme="red"] .top-menu .nav-link, #BimpThemeWrapper .header-top[header-theme="orange"] .top-menu .nav-link, #BimpThemeWrapper .header-top[header-theme="green"] .top-menu .nav-link, #BimpThemeWrapper .header-top[header-theme="purple"] .top-menu .nav-link, #BimpThemeWrapper .header-top[header-theme="dark"] .top-menu .nav-link {
  color: #ffffff;
  background-color: transparent; }
/* line 48, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top[header-theme="blue"] .top-menu .header-search .input-group .input-group-addon, #BimpThemeWrapper .header-top[header-theme="red"] .top-menu .header-search .input-group .input-group-addon, #BimpThemeWrapper .header-top[header-theme="orange"] .top-menu .header-search .input-group .input-group-addon, #BimpThemeWrapper .header-top[header-theme="green"] .top-menu .header-search .input-group .input-group-addon, #BimpThemeWrapper .header-top[header-theme="purple"] .top-menu .header-search .input-group .input-group-addon, #BimpThemeWrapper .header-top[header-theme="dark"] .top-menu .header-search .input-group .input-group-addon {
  color: #ffffff; }
/* line 49, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap {
  position: relative; }
/* line 50, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1040;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
  -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  visibility: visible; }
/* line 51, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 13px 15px;
  height: 60px; }
/* line 52, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .header-brand {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #212529; }
/* line 53, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .header-brand .logo-img {
  display: inline-block;
  width: 30px; }
/* line 54, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .nav-toggle {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
/* line 55, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .btn-icon {
  border: none; }
/* line 56, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .nav-close {
  display: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
@media only screen and (max-width: 1023px) {
  /* line 57, ../scss/bimptheme.scss */
  #BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .nav-close {
    display: inline-block; } }
@media only screen and (max-width: 1023px) {
  /* line 58, ../scss/bimptheme.scss */
  #BimpThemeWrapper .page-wrap .app-sidebar .sidebar-header .nav-toggle {
    display: none; } }
/* line 59, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content {
  position: relative;
  height: -webkit-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: calc(100vh - 60px);
  overflow: auto;
  z-index: 4; }
/* line 60, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item {
  position: relative; }
/* line 61, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a {
  display: block;
  overflow: hidden;
  padding: 15px 5px;
  margin-left: 15px;
  margin-right: 15px;
  color: #545454;
  position: relative;
  text-decoration: none; }
/* line 62, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a i {
  font-size: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: -4px; }
/* line 63, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a span {
  font-size: 13px; }
/* line 64, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a .badge {
  position: absolute;
  right: 30px;
  text-align: center;
  top: 16px;
  vertical-align: middle;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  border-radius: 4px;
  font-size: 75%;
  padding: 4px 7px;
  margin-right: 5px;
  font-weight: 800;
  color: #fff;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  text-transform: uppercase; }
/* line 65, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a.disabled {
  opacity: 0.5;
  cursor: not-allowed !important; }
/* line 66, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub a::before {
  content: "\e844";
  font-family: "iconkit";
  position: absolute;
  right: 3px;
  top: 15px;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
/* line 67, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content {
  background-color: #f3f3f3; }
/* line 68, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .menu-item {
  padding: 10px 5px;
  font-size: 13px;
  padding-left: 50px;
  margin: 0; }
/* line 69, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .menu-item::before {
  display: none; }
/* line 70, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .menu-item.active {
  color: #eb525d; }
/* line 71, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item::after {
  display: none; }
/* line 72, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item a {
  position: relative; }
/* line 73, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item a::before {
  content: "\e844";
  font-family: "iconkit";
  position: absolute;
  right: 20px;
  top: 10px;
  display: inline-block;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
/* line 74, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item .submenu-content .menu-item {
  padding-left: 70px; }
/* line 75, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item .submenu-content .menu-item::before {
  display: none; }
/* line 76, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .nav-item.open a::before {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
/* line 77, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item:not(.open) .submenu-content {
  display: none; }
/* line 78, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.open a::before {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
/* line 79, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.open::after {
  background: #576a3d;
  border-radius: 10px;
  color: #fff;
  content: " ";
  height: 30px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 3px; }
/* line 80, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.active::after {
  background: #576a3d;
  border-radius: 10px;
  color: #fff;
  content: " ";
  height: 30px;
  left: 0;
  top: 10px;
  position: absolute;
  width: 3px; }
/* line 81, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-lavel {
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  padding: 8px 20px 8px;
  text-transform: capitalize;
  visibility: visible;
  width: 100%;
  color: #999;
  background: #333e52; }
/* line 82, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-header {
  background-color: #272d36; }
/* line 83, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-header .header-brand {
  color: #ffffff; }
/* line 84, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content {
  background-color: #404E67; }
/* line 85, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item {
  border-color: rgba(243, 243, 243, 0.15); }
/* line 86, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item a {
  color: #ffffff; }
/* line 87, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item a i {
  color: #bcc8d8; }
/* line 88, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item .submenu-content {
  background-color: #4a5872; }
/* line 89, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item.open::after, #BimpThemeWrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item.active::after {
  background-color: #eb525d; }
/* line 90, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .app-sidebar.hide-sidebar {
  -moz-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }
@media only screen and (max-width: 1023px) {
  /* line 91, ../scss/bimptheme.scss */
  #BimpThemeWrapper .page-wrap .app-sidebar {
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); } }
/* line 92, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content {
  padding: 30px 0;
  background-color: #F6F7FB;
  min-height: calc(100vh - 120px);
  margin-top: 60px;
  padding-right: 15px;
  padding-left: 255px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
@media only screen and (max-width: 1023px) {
  /* line 93, ../scss/bimptheme.scss */
  #BimpThemeWrapper .page-wrap .main-content {
    padding-left: 0;
    padding-right: 0; } }
/* line 94, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header {
  margin-bottom: 30px; }
/* line 95, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .page-header-title i {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.5); }
/* line 96, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .page-header-title h5 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px; }
/* line 97, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .page-header-title h5 + span {
  font-size: 13px; }
/* line 98, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .breadcrumb-container {
  float: right; }
/* line 99, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .breadcrumb-container .breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  float: right; }
/* line 100, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .page-header .breadcrumb-container .breadcrumb .breadcrumb-item a {
  color: #212121; }
/* line 101, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .sub-title {
  font-size: 14px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #2c3e50; }
/* line 102, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body code {
  background-color: #eee;
  margin: 5px;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
/* line 103, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item {
  padding: 13px 20px;
  border: 1px solid #ededed;
  position: relative;
  border-left: 0;
  border-right: 0;
  height: 50px;
  overflow: hidden;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out; }
/* line 104, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  position: relative; }
/* line 105, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .custom-control {
  margin: 0;
  margin-top: -2px; }
/* line 106, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-title {
  width: 100%;
  display: block; }
/* line 107, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-title a {
  color: #3e5569;
  font-weight: 600;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 50px); }
/* line 108, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-actions {
  position: absolute;
  right: 0px;
  top: 50%;
  opacity: 0;
  display: none;
  z-index: 3;
  padding-left: 10px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 109, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-actions a {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #999;
  display: inline-block;
  font-size: 16px; }
/* line 110, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-actions a:hover, #BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .item-inner .list-actions a:focus {
  background-color: #dee2e6;
  color: #333; }
/* line 111, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .qickview-wrap {
  margin-top: 5px;
  opacity: 0; }
/* line 112, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item .qickview-wrap .desc p {
  margin: 0; }
/* line 113, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item:hover, #BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item:focus {
  background-color: #f9f9f9; }
/* line 114, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item:hover .list-actions, #BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item:focus .list-actions {
  opacity: 1;
  display: block; }
/* line 115, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item.quick-view-opened {
  height: auto;
  background-color: #ffffff;
  border: none;
  z-index: 5;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01), 0 0 32px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01), 0 0 32px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01), 0 0 32px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01); }
/* line 116, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item.quick-view-opened .item-inner .list-title a {
  font-size: 16px;
  color: #263238; }
/* line 117, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item.quick-view-opened .qickview-wrap {
  opacity: 1; }
/* line 118, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item + .list-item {
  margin-top: -1px; }
/* line 119, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .main-content .card .card-body .list-item-wrap .list-item:last-child {
  border-bottom: none; }
/* line 120, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .footer {
  background: #ffffff;
  padding: 20px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  font-size: calc(0.875rem - 0.05rem);
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
@media only screen and (min-width: 1024px) {
  /* line 121, ../scss/bimptheme.scss */
  #BimpThemeWrapper .page-wrap .footer {
    padding-left: 270px; } }
/* line 122, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  width: 240px;
  background: #fff;
  height: calc(100vh - 60px);
  border-left: 1px solid #eef1f2;
  border-top: 1px solid #eef1f2;
  padding: 1.07143em;
  z-index: 9;
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
/* line 123, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .sidebar-chat-info h6 {
  color: #353c4e; }
/* line 124, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .sidebar-chat-info .form-group {
  position: relative; }
/* line 125, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .sidebar-chat-info .form-group .form-control {
  padding-right: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding-left: 15px; }
/* line 126, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .sidebar-chat-info .form-group i {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 16px;
  color: #bbb; }
/* line 127, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group {
  margin-left: -1.07143em;
  margin-right: -1.07143em; }
/* line 128, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group .list-group-item {
  background: none;
  border: 0;
  border-top: 1px solid #eef1f2;
  padding: 1em 1.07143em;
  overflow: hidden;
  color: #999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
/* line 129, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group .list-group-item figure {
  margin: 0;
  position: relative;
  margin-right: 10px; }
/* line 130, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group .list-group-item figure img {
  width: 40px;
  height: 40px; }
/* line 131, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group .list-group-item span {
  line-height: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: end;
  -moz-justify-content: end;
  -ms-justify-content: end;
  justify-content: end;
  -ms-flex-pack: end;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
/* line 132, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group .list-group-item span .name {
  font-size: 14px;
  color: #444;
  margin-bottom: 5px; }
/* line 133, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .right-sidebar .sidebar-chat .chat-list .list-group [class*="user-"]:after {
  position: absolute;
  top: calc(50% + 15px);
  left: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 134, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel {
  position: fixed;
  top: calc(100vh);
  right: calc( 240px + 15px);
  width: 310px;
  z-index: 9999;
  -moz-transform: translateY(-100%) translateX(14.0625rem);
  -o-transform: translateY(-100%) translateX(14.0625rem);
  -ms-transform: translateY(-100%) translateX(14.0625rem);
  -webkit-transform: translateY(-100%) translateX(14.0625rem);
  transform: translateY(-100%) translateX(14.0625rem); }
/* line 135, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card {
  border: none;
  margin-bottom: 1.42857em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2); }
/* line 136, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-header {
  background: none;
  padding: 1.07143em 1.42857em;
  font-size: 1.14286em;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2); }
/* line 137, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body {
  padding: 1.07143em; }
/* line 138, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages {
  position: relative;
  max-height: 21.42857em;
  overflow-y: scroll;
  margin-top: -1.07143em;
  margin-right: -1.07143em;
  margin-left: -1.07143em;
  padding-top: 1.07143em;
  padding-right: 1.07143em;
  padding-left: 1.07143em; }
/* line 139, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message {
  margin: 0.71429em 0; }
/* line 140, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message:first-child {
  margin-top: 0; }
/* line 141, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message figure {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  margin: 0;
  position: relative;
  order: 2; }
/* line 142, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message figure img {
  width: 30px;
  height: 30px; }
/* line 143, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message .message-body {
  margin-top: .5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: auto 1.5em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
/* line 144, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message .message-body p {
  background: #404E67;
  border: 1px solid #404E67;
  border-radius: 3px;
  padding: .5em 1em;
  color: #fff;
  margin-bottom: .5em;
  position: relative; }
/* line 145, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message .message-body p:first-child:after, #BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message .message-body p:first-child:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 1.25rem;
  right: -7px;
  left: auto;
  border-style: solid;
  border-width: 6px 0 7px 6px;
  border-color: transparent transparent transparent #404E67;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 146, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message .message-body p:first-child:before {
  right: -7px;
  border-left-color: #404E67; }
/* line 147, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply figure {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
/* line 148, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
/* line 149, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body p {
  background: #fff;
  border: 1px solid #eef1f2;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 3px;
  color: #666; }
/* line 150, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body p:first-child:after, #BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body p:first-child:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  right: auto;
  left: -7px;
  border-style: solid;
  border-width: 6px 7px 6px 0;
  border-color: transparent #fff transparent transparent;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 151, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body p:first-child:before {
  left: -9px;
  border-right-color: #eef1f2; }
/* line 152, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-body .messages .message.reply .message-body p:first-child:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  right: auto;
  left: -7px;
  border-style: solid;
  border-width: 6px 7px 6px 0;
  border-color: transparent #fff transparent transparent;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
/* line 153, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-footer {
  background: none;
  padding: 1.07143em 1.42857em;
  border-top: 1px solid rgba(153, 153, 153, 0.2); }
/* line 154, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-footer .list-icon {
  font-size: 1.125rem; }
/* line 155, ../scss/bimptheme.scss */
#BimpThemeWrapper .page-wrap .chat-panel .card .card-footer textarea {
  box-shadow: none;
  resize: none;
  padding: 0;
  width: 100%;
  min-height: auto;
  padding: 5px 0; }
/* line 156, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .header-top {
  padding-left: 60px; }
/* line 157, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar {
  width: 60px; }
/* line 158, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar .sidebar-header .header-brand .text {
  display: none; }
/* line 159, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-lavel {
  display: none; }
/* line 160, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a span {
  display: none; }
/* line 161, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a::before {
  display: none; }
/* line 162, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar:hover {
  width: 240px; }
/* line 163, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar:hover .header-brand .text {
  display: inline-block; }
/* line 164, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar:hover .sidebar-content .nav-container .navigation-main .nav-lavel {
  display: block; }
/* line 165, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar:hover .sidebar-content .nav-container .navigation-main .nav-item a span {
  display: inline-block; }
/* line 166, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .app-sidebar:hover .sidebar-content .nav-container .navigation-main .nav-item a::before {
  display: inline-block; }
/* line 167, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .main-content {
  padding-left: 75px; }
/* line 168, ../scss/bimptheme.scss */
#BimpThemeWrapper.nav-collapsed .page-wrap .footer {
  padding-left: 90px; }
/* line 169, ../scss/bimptheme.scss */
#BimpThemeWrapper.menu-collapsed .page-wrap .app-sidebar .sidebar-header .nav-toggle {
  display: none; }
/* line 170, ../scss/bimptheme.scss */
#BimpThemeWrapper.right-sidebar-expand .right-sidebar {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }
/* line 171, ../scss/bimptheme.scss */
#BimpThemeWrapper.right-sidebar-expand .chat-panel {
  -moz-transform: translateY(-100%) translateX(0);
  -o-transform: translateY(-100%) translateX(0);
  -ms-transform: translateY(-100%) translateX(0);
  -webkit-transform: translateY(-100%) translateX(0);
  transform: translateY(-100%) translateX(0); }
/* line 176, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .header-icon {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  border: none !important; }
  /* line 184, ../scss/bimptheme.scss */
  #BimpThemeWrapper .header-top .top-menu .header-icon:hover, #BimpThemeWrapper .header-top .top-menu .header-icon:hover i {
    background-color: transparent;
    text-decoration: none !important; }
  /* line 189, ../scss/bimptheme.scss */
  #BimpThemeWrapper .header-top .top-menu .header-icon:hover {
    color: #EF7D00; }
/* line 194, ../scss/bimptheme.scss */
#BimpThemeWrapper .header-top .top-menu .select2 {
  margin-left: 25px;
  margin-top: 2px; }
