/* Couleurs principales */
/*$state-info-text:                #31708f !default;*/
/*$state-warning-text:             #8a6d3b !default;*/
/*$state-danger-text:              #a94442 !default;*/
/* line 5, ../scss/fixeTabs.scss */
#id-right {
  padding-bottom: 60px; }

/* line 9, ../scss/fixeTabs.scss */
#bimp_fixe_tabs {
  position: fixed;
  z-index: 100000;
  bottom: 0;
  right: 0;
  display: inline-block; }
  /* line 16, ../scss/fixeTabs.scss */
  #bimp_fixe_tabs #bimp_fixe_tabs_captions {
    text-align: right;
    display: block;
    background-color: transparent;
    padding-right: 36px; }
    /* line 22, ../scss/fixeTabs.scss */
    #bimp_fixe_tabs #bimp_fixe_tabs_captions > .fixe_tabs_loading {
      display: none;
      position: absolute;
      right: 16px;
      bottom: 15px;
      font-size: 14px; }
    /* line 30, ../scss/fixeTabs.scss */
    #bimp_fixe_tabs #bimp_fixe_tabs_captions > .fixe_tabs_refresh_btn {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      right: 16px;
      bottom: 15px;
      font-size: 14px;
      cursor: pointer; }
      /* line 38, ../scss/fixeTabs.scss */
      #bimp_fixe_tabs #bimp_fixe_tabs_captions > .fixe_tabs_refresh_btn:hover {
        color: #335899; }
    /* line 43, ../scss/fixeTabs.scss */
    #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block;
      padding: 12px 8px;
      margin: 0 3px;
      border-left: 1px solid #636363;
      border-right: 1px solid #636363;
      border-top: 3px solid #335899;
      background-color: #fff;
      box-shadow: 0 0 4px #636363;
      cursor: pointer;
      z-index: 1002; }
      /* line 57, ../scss/fixeTabs.scss */
      #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption .title {
        font-size: 15px;
        color: #282828; }
        /* line 60, ../scss/fixeTabs.scss */
        #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption .title span {
          margin: 0 2px; }
      /* line 65, ../scss/fixeTabs.scss */
      #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption.active, #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption:hover {
        background-color: #335899; }
        /* line 67, ../scss/fixeTabs.scss */
        #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption.active .title, #bimp_fixe_tabs #bimp_fixe_tabs_captions .fixe_tab_caption:hover .title {
          color: #fff; }
  /* line 74, ../scss/fixeTabs.scss */
  #bimp_fixe_tabs #bimp_fixe_tabs_contents {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 4px #636363;
    z-index: 1001; }
    /* line 80, ../scss/fixeTabs.scss */
    #bimp_fixe_tabs #bimp_fixe_tabs_contents .fixe_tab_content {
      background-color: #DCDCDC;
      display: none;
      padding: 8px;
      text-align: right; }
      /* line 86, ../scss/fixeTabs.scss */
      #bimp_fixe_tabs #bimp_fixe_tabs_contents .fixe_tab_content div {
        text-align: left; }
