
/*Styles génériques*/

.typeLabel {
    border-radius: 24px;
    padding: 3px 8px;
    font-size: 11px;
    color: #fff;
}
.btn {
    cursor: pointer;
}
.btn i {
    font-size: 14px;
}
.btn i.left {
    margin-right: 8px;
}
.btn i.right {
    margin-left: 8px;
}

/*Messages*/

.alert {
    border: none!important;
    padding: 5px 12px;
}
.form-alert {
    margin-left: 15px;
    margin-right: 15px;
}
.alert-success {
    color: #348C41!important;
    background-color: #E7FAEA;
}
.alert-info {
    color: #3B6EA0!important;
    background-color: #E2ECF5;
}
.alert-warning {
    color: #B48335!important;
    background-color: #F5EEE2;
}
.alert-danger {
    color: #A00000!important;
    background-color: #F5E2E2;
}

.badge-warning {
    background-color: #B48335!important;
}
.badge-danger {
    background-color: #A00000;
}

.success {
    color: #348C41!important;
    font-weight: bold;
}
.info {
    color: #3B6EA0!important;
    font-weight: bold;
}
.warning {
    color: #B48335!important;
    font-weight: bold;
}
.danger {
    color: #A00000!important;
    font-weight: bold;
}

/*Forms*/

.formRow {
    padding: 5px;
    width: 100%;
}
.formRow .formLabel {
    text-align: right;
    display: inline-block;
    width: 25%;
    padding-right: 15px;
}
.formRow .formInput {
    text-align: left;
    display: inline-block;
    width: 70%;
}

.formSubmit .button {
    margin-left: 10px;
}

.buttonsContainer {
    text-align: left;
    padding: 10px 20px;
}
.buttonsContainer .button {
    margin-right: 10px;
}

.objectToolbar,
.toolBar {
    padding: 15px 0;
    text-align: right;
}

/*Inputs*/
select.switch {
    width: 75px;
    font-weight: bold;
}
select.switch option[value='1'] {
    color: #3b6ea0;
}
select.switch option[value='0'] {
    color: #8C8C8C;
}

.formRow input[type=checkbox] {
    margin-right: 12px;
}
.formRow .formInput select.fullwidth,
.formRow .formInput input.fullwidth {
    width: 100%;
}
.formRow .inputDesc {
    padding-left: 25%;
}
.formRow .inputDesc p{
    font-size: 12px;
    font-style: italic;
    color: #787878;
    margin: 8px 0;
    padding-left: 15px;
}

.inputHelp {
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
    font-style: italic;
    color: #787878;
}

.formSwitch input {
    margin: 0 5px;
}
.formSwitch label {
    margin-right: 20px;
}
.formSubmit {
    text-align: right;
    padding: 10px 20px;
}


/*Listes*/
.objectList table thead tr th {
    padding: 10px 6px;
    margin-bottom: 8px;
    color: #fff;
    background-color: #EF7D00;
    text-align: left;
    font-weight: bold;
}
.objectList table {
    border: none;
    box-shadow: none;
}
.objectList td {
    padding: 5px 6px;
}
.objectList .editInputContainer,
.objectList .inputContainer {
    width: 90%;
}
.objectList span.button {
    margin: 0 3px;
}

.sortTitle {
    cursor: pointer;
}
.sortTitle:after
{
    font-family: 'FontAwesome';
    margin-left: 8px;
    opacity: 0;
    color: #fff;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
}
.sortTitle:hover {
    text-decoration: none!important;
}
.sortTitle.active:after,
.sortTitle:hover:after {
    opacity: 1;
    text-decoration: none!important
}

.sortTitle.sorted-asc:after {
    content: '\f0d7';
}
.sortTitle.sorted-desc:after {
    content: '\f0d8';
}
.sortTitle.active.sorted-asc:after {
    content: '\f0d8';
}
.sortTitle.active.sorted-desc:after {
    content: '\f0d7';
}
.sortTitle.active.sorted-asc:hover:after {
    content: '\f0d7';
}
.sortTitle.active.sorted-desc:hover:after {
    content: '\f0d8';
}

.listSearchRow {
    background-color: #DCDCDC;
}
.listSearchRow i.fa-search {
    font-size: 16px;
    font-weight: bold;
    color: #787878;
}

.headerTools {
    text-align: right;
    height: 100%;
}
.headerTools .headerButton {
    display: inline-block;
    margin: 5px;
    color: #fff;
    font-weight: normal;
    margin: 0 3px;
    padding: 4px 6px;
    height: 100%;
    cursor: pointer;
    font-size: 14px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.headerTools .headerButton:hover {
    color: #EF7D00;
    background-color: #fff;
}
.headerTools .headerButton:before,
.headerTools .headerButton:after {
    font-family: 'FontAwesome';
}
.headerTools .headerButton.open:after {
    content: '\f0d7';
    margin-left: 3px;
}
.headerTools .headerButton.close:after {
    content: '\f0d8';
    margin-left: 5px;
}
.headerTools .openSearchRowButton:before {
    content: '\f002';
}
.headerTools .openBulkActionsPopupButton:before {
    content: '\f046';
}
.headerTools .openParametersPopupButton:before {
    content: '\f013';
}

.rowButton {
    color: #636363;
    text-align: center;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.rowButton:hover {
    color: #fff;
    background-color: #EF7D00;
}
.rowButton:before {
    font-family: 'FontAwesome';
}
.rowButton.editButton:before {
    content: '\f044';
}
.rowButton.updateButton:before {
    content: '\f0c7';
}
.rowButton.deleteButton:before {
    content: '\f1f8';
}
.rowButton.viewButton:before {
    content: '\f06e';
}

.ajaxResultContainer {
    display: none;
    margin: 20px 15px;
}

/*Pagination*/

.paginationContainer td {
    background-color: #fff;
}

.listPagination {
    text-align: center;
}
.listPagination span.navButton {
    font-size: 13px;
    margin: 0 5px;
    color: #5F5F5F;
    font-weight: bold;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
}
.listPagination span.navButton:hover {
    color: #EF7D00;
}
.listPagination span.navButton:before,
.listPagination span.navButton:after {
    font-family: 'FontAwesome';
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.listPagination span.prevButton:before {
    content: '\f053';
    margin-right: 8px;
}
.listPagination span.nextButton:after {
    content: '\f054';
    margin-left: 8px;
}
.listPagination span.navButton.disabled,
.listPagination span.navButton.disabled:hover {
    color: #C8C8C8;
    cursor: default;
}

.listPagination .pages {
    display: inline-block;
    margin: 0 50px;
    color: #A0A0A0;
}
.listPagination .pages .pageBtn {
    font-weight: bold;
    cursor: pointer;
}
.listPagination .pages .pageBtn:hover {
    color: #505050;
}
.listPagination .pages .pageBtn.active,
.listPagination .pages .pageBtn.active:hover {
    color: #EF7D00;
    cursor: default;
}

/*Opérations */

.operationTable {
    border: 1px solid #C8C8C8!important;
}
.operationTable .alert {
    margin: 5px 30px;
    padding: 10px 15px;
}

#debugContainer {
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    margin: 15px 0;
    padding: 0 15px 15px;
}

/*Sections dépliables*/

.foldable_section .foldable_section_caption {
    margin-top: 15px;
    padding: 8px 15px;

    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 1%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9f9f9 1%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9f9f9 1%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    border: 1px solid #B4B4B4;
    font-size: 12px;
    font-weight: bold;
    color: #292964;
    cursor: pointer;
}
.foldable_section .foldable_section_caption:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f2f2f2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
.foldable_section > .foldable_section_caption:after {
    font-family: 'FontAwesome';
    margin-right: 10px;
    float: right;
    font-size: 14px;
}
.foldable_section.closed > .foldable_section_caption:after {
    content: '\f0d7';
}
.foldable_section.open > .foldable_section_caption:after {
    content: '\f0d8';
}
.foldable_section.closed > .foldable_section_content {
    display: none;
}
.foldable_section.open > .foldable_section_content {
    display: block;
}
.foldable_section .foldable_section_content {
    margin-left: 15px;
    margin-top: 15px;

    padding-left: 15px;

    border-left: 1px dotted #B4B4B4;
}

/*Tiny Popups*/
.tinyPopup {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 8px #787878;
    color: #3c3c3c;
    margin-right: 5px;
    min-width: 250px;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: left;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.tinyPopup .title {
    font-size: 11px;
    color: #505050;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #B4B4B4;
}
.tinyPopup .btn {
    display: inline-block;
    margin: 5px 0;
    padding: 8px 12px;
    font-size: 12px;
}
.tinyPopup .btn:hover {
    background-color: #EF7D00;
    color: #fff;
}