@font-face {
    font-family: 'FA';
    src: url(./fonts/fontawesome.eot),
        url(./fonts/fontawesome.ttf);
}
span.button,
button {
    border-radius: 6px;
    border: 1px solid #828282;
    padding: 2px 4px;
    color: #505050;

    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
span.button:hover,
button:hover {
    cursor: pointer;
    color: #282828;
    border-color: #646464;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 65%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(65%,rgba(246,246,246,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}
span.button.redHover:hover,
button.redHover:hover {
    color: #960000;
    border-color: #960000;
}
span.button.greenHover:hover,
button.greenHover:hover {
    color: #199600;
    border-color: #199600;
}
span.button.blueHover:hover,
button.blueHover:hover {
    color: #0050A0;
    border-color: #0050A0;
}
button.deactivated,
button.deactivated:hover {
    color: #B4B4B4;
    border-color: #B4B4B4;
}
label {
    color: #505050;
}
p.error:before {
    content: '\f06a';
    font-family: 'FA';
    font-size: 20px;
    margin-right: 8px;
}
p.requestProcess {
    font-weight: bold;
    font-size: 14px;
    color: #00468C;
}
p.requestProcess:before {
    font-family: 'FA';
    content: '\f085';
    margin-right: 10px;
}
p.confirmation {
    font-weight: bold;
    font-size: 14px;
    color: #209620;
}
p.confirmation:before {
    font-family: 'FA';
    content: '\f00c';
    margin-right: 10px;
}
p.alert {
    font-weight: bold;
    font-size: 14px;
    color: #FF870F;
}
p.alert:before {
    font-family: 'FA';
    content: '\f071';
    margin-right: 10px;
}

/*Infos produit*/
#requestResult,
#requestsResponsesContainer {
    margin: 20px;
}
div.productDatasContainer {
    display: none;
    margin-top: 30px;
}
img.productImg {
    max-height: 200px;
}
.productName {
    font-size: 16px;
    font-weight: bold;
}
a.productPdfLink {
    background: url("./pdf.gif") no-repeat 0 0 transparent;
    margin-left: 30px;
    padding-left: 20px;
}
tr.oddRow {
    background-color: #F0F0F0;
}
tr.evenRow {
    background-color: #fff;
}
td.rowTitle {
    font-weight: bold;
}
.productDatas {
    border: 1px solid #DCDCDC;
    background: white;
}
.productDatas caption {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 8px 20px;
    color: #2A2A50;

    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(219,219,219,1) 50%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(219,219,219,1) 50%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(219,219,219,1) 50%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(219,219,219,1) 50%,rgba(232,232,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(219,219,219,1) 50%,rgba(232,232,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.productDatas td {
    padding: 3px 8px;
}
.createRepair,
.loadParts {
    padding: 8px 10px;
    margin-top: 20px;
    font-size: 14px;
}
.loadParts:before {
    font-weight: normal;
    font-size: 18px;
    font-family: 'FA';
    margin-right: 10px;
    content: '\f03a';
}
.createRepair:after,
.loadParts:after {
    font-family: 'FA';
    font-size: 18px;
    margin-left: 10px;
    content: '\f138';
}
.createRepair:before {
    font-family: 'FA';
    content: '\f0ad';
    margin-right: 10px;
    font-size: 16px;
}

/*Panier de commande*/
.cartContainer {

}
.cartTitle:before {
    font-family: 'FA';
    content: '\f07a';
    margin-right: 15px;
}
.cartTitle:after {
    font-family: 'FA';
    content: '\f0d7';
    margin-left: 10px;
}
.cartTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 8px 20px;
    color: #3C3C3C;
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #B4B4B4;

    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}
.cartTitle span {
    font-size: 12px;
    color: #787878;
}
.cartContent {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 4px #787676;
    padding: 20px;
    min-width: 361px;
}
th.comptiaCodeTitle {
    display: none;
}
.noProducts:before {
    font-family: 'FA';
    font-size: 18px;
    margin-right: 10px;
    content: '\f057';
}
.noProducts {
    color: #8C1E1E;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.cartProducts {
    display: none;
    border-collapse: collapse;
}
.cartProducts th {
    font-weight: normal;
    color: #292964;
    margin-bottom: 5px;
    border-bottom: 1px solid #9999C8;
}
.cartProducts td {
    vertical-align: middle;
    padding: 2px 4px;
    border-bottom: 1px dotted #B4B4B4;
    font-weight: bold;
    color: #323232;
}
.cartProducts td.ref {
    font-weight: normal;
    text-align: center;
}
.cartProducts td.price {
    font-weight: normal;
    color: #2F2FA0;
    text-align: center;
}
.prodQtyDown,
.prodQtyUp {
    padding: 3px;
    font-size: 10px;
    font-family: 'FA';
    margin: 0 2px;
}
.prodQtyDown:before {
    content: '\f068';
}
.prodQtyUp:before {
    content: '\f067';
}
span.removeCartProduct {
    margin-left: 10px;
    font-size: 14px;
}
.cartSubmitContainer {
    display: none;
    text-align: right;
    padding: 30px 20px 0 20px;
}
.cartSave,
.cartSubmit {
    font-size: 14px;
    margin: 0 5px;
}
.cartSave:before {
    font-family: 'FA';
    content: '\f0c7';
    font-size: 20px;
    margin-right: 10px;
}
.cartSubmit:after {
    content: '\f0a9';
    font-family: 'FA';
    margin-left: 10px;
    font-size: 20px;
}
.cartRequestResults {
    display: none;
    text-align: center;
    margin-top: 30px;
}
select.compTIACodeSelect,
select.compTIAModifierSelect {
    font-size: 11px;
    width: 120px;
    height: 20px;
}
/*Liste des composants*/
.partsRequestResult {
    display: none;
}
.componentsListContainer {
    padding: 20px;
    background-color: #F0F0F0;
    border: 1px solid #C8C8C8;
    margin-top: 15px;
}
.componentsListContainer div.titre {
    font-size: 15px;
    margin-bottom: 15px;
}
.componentsListContainer div.searchBloc {
    display: inline-block;
    margin: 10px 20px;
}

/*Type filter*/
.filterTitle:before {
    font-family: 'FA';
    font-size: 16px;
    content: '\f0b0';
    margin-right: 10px;
}
.filterTitle:after {
    font-family: 'FA';
    font-size: 16px;
    content: '\f0d7';
    margin-left: 10px;
}
.filterTitle:hover {
    color: #282828;
    cursor: pointer;
}
.typeFiltersContent {
    position: absolute;
    display: none;
    z-index: 99;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #B4B4B4;
    box-shadow: 0 0 4px #787878;
    max-width: 480px;
}
.typeFiltersContent span {
    color: #787878;
    font-size: 11px;
    padding: 0 10px;
}
.typeFiltersContent span:hover {
    color: #282828;
    cursor: pointer;
}
.filterCheckAll:before {
    font-family: 'FA';
    content: '\f046';
    margin-right: 8px;
}
.filterHideAll:before {
    font-family: 'FA';
    content: '\f096';
    margin-right: 5px;
}
.typeFiltersContent label {
    margin-top: 10px;
    display: inline-block;
}

/*Keywords Filter & Part search*/
.keywordFilter {
    width: 150px;
}
.addKeywordFilter:after {
    font-family: 'FA';
    margin-left: 8px;
    content: '\f055';
}
.curKeywords,
.searchResult {
    margin: 0 20px;
    font-size: 15px;
    color: #282828;
}
.curKeywords div,
.partSearchNum {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    border : 1px solid #B4B4B4;
    display: inline-block;
    background-color: #fff;
}
span.keyword {
    font-weight: bold;
}
span.keyword:before {
    content: '\f0b0';
    font-family: 'FA';
    margin-right: 10px;
    color: #505050;
}
span.kwType {
    color: #646464;
    font-size: 11px;
}
span.removeKeyWord,
span.removeSearch {
    margin-left: 12px;
    color: #505050;
}
span.removeKeyWord:before,
span.removeSearch:before,
span.removeCartProduct:before {
    content: '\f057';
    font-family: 'FA';
}
span.removeCartProduct:hover,
span.removeKeyWord:hover,
span.removeSearch:hover {
    color: #960000;
    cursor: pointer;
}
.searchPartSubmit {
    margin-left: 5px;
}
.searchPartSubmit:after {
    font-family: 'FA';
    margin-left: 8px;
    content: '\f002';
}
span.searchNum:before {
    font-family: 'FA';
    margin-right: 8px;
    content: '\f002';
}

/*parts*/
.partsListContainer {
    margin-top: 10px;
}
div.partGroup {

}
div.partGroupName {
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #D2D2D2;
    color: #2D2D50;
    font-weight: bold;
    margin: 2px 0;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
div.partGroupName:before {
    font-family: 'FA';
    margin-right: 15px;
}
div.partGroupName.closed:before {
    content: '\f0fe';
}
div.partGroupName.opened:before {
    content: '\f146';
}
div.partGroupName:hover {
    cursor: pointer;
    color: #2F2FA0;
    border-color: #A1A1D2;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,225,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1f4',GradientType=0 ); /* IE6-9 */

}
span.partsNbr {
    font-size: 12px;
    margin-left: 12px;
    font-weight: normal;
    color: #505050;
}
.partsList {
    display: none;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #C8C8C8;
}
.partsList table {
    border: 1px solid #767F87;
    border-collapse: collapse;
}
.partsLis tr.oddRow {
    background-color: #D4D4DC;
}
.partsList th {
    padding: 4px 0;
    color: #fff;
    font-weight: normal;

    background: rgb(162,169,178); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(162,169,178,1) 0%, rgba(118,127,135,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,169,178,1)), color-stop(36%,rgba(118,127,135,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a9b2', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}
.partsList td {
    font-size: 12px;
    padding: 6px;
    color: #464646;
    border-bottom: 1px solid #A0A0A0;
    text-align: center;
}
.partsList td.partName {
    font-weight: bold;
    text-align: left;
}
span.addToCart {
    font-weight: bold;
    margin: 0px 10px;
    padding: 3px 5px;
    margin: 0;
    border-radius: 4px;
}
span.addToCart.activated {
    color: #505050;
}
span.addToCart.deactivated {
    color: #B4B4B4;
}
span.addToCart.activated:hover {
    background-color: #00A000;
    color: #fff;
    cursor: pointer;
}
span.addToCart:before {
    font-family: 'FA';
    content: '\f064';
    margin-right: 10px;
}

/*Repairs*/
div.repairPopUp {
    display: none;
    position: absolute;
    margin: auto;
    max-width: 80%;
    top: 150px;
    box-shadow: 0 0 12px #505050;
    border-radius: 12px;
    z-index: 9999;
    padding: 30px;
    background: #FFFBF2;
}
.loadFormResults,
.repairFormContainer {
    display: none;
}
span.hidePopUp:before {
    font-family: 'FA';
    content: '\f057';
    margin-right: 10px;
    font-size: 18px;
}
span.hidePopUp {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    color: #787878;
    font-weight: bold;
}
span.hidePopUp:hover {
    cursor: pointer;
    color: #B40000;
}
.loadRepairForm:after {
    font-family: 'FA';
    content: '\f0a9';
    margin-left: 10px;
}

/*formulaires*/
div.requestTitle {
    font-weight: bold;
    font-size: 18px;
    color: #003C78;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #CDCDCD;
}
p.requiredInfos {
    text-align: right;
    font-style: italic;
    font-size: 11px;
    color: #B40000;
}
p.requiredInfos span.required:before,
div.requestFormInputs span.required:before {
    font-family: 'FA';
    color: #B40000;
    content: '\f069';
    font-size: 6px;
    margin-left: 5px;
}
div.requestFormInputs div.dataBlock {
    margin-bottom: 15px;
}
span.displayInfos:before {
    color: #3574B4;
    font-family: 'FA';
    content: '\f059';
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}
div.labelInfos {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 8px #808080;
    color: #1D4064;
    font-weight: bold;
}
div.requestFormInputs label {
    color: #505050;
    margin-bottom: 5px;
    margin-right: 20px;
    display: inline-block;
}
div.requestFormInputs label.dataTitle:before {
    content: '\f054';
    font-family: 'FA';
    margin-right: 5px;
    font-size: 12px;
}
div.requestFormInputs span.dataCheck {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}
div.requestFormInputs span.dataCheck span.ok {
    color: #00A000;
}
div.requestFormInputs span.dataCheck span.notOk {
    color: #B40000;
}
div.requestFormInputs span.dataCheck span.notOk:before {
    font-family: 'FA';
    content: '\f00d';
    margin-right: 8px;
    font-size: 16px;
}
div.requestFormInputs span.dataCheck span.ok:before {
    font-family: 'FA';
    content: '\f00c';
    margin-right: 8px;
    font-size: 16px;
}
div.requestFormInputs input {
    width: 250px;
}
div.requestFormInputs input[type="radio"] {
    width: 80px;
}
div.requestFormInputs fieldset {
    border: 1px solid #CDCDCD;
    border-radius: 12px;
    margin: 20px 10px;
}
div.repairsPartsInputsTemplate,
div.repairPartsContainer{
    display: none;
}
div.partDatasBlock {
    margin: 10px 0;
    border-top: 1px solid #969696;
}
div.partDatasBlockTitle {
    padding: 5px 0;
    font-size: 14px;
    color: #646464;
    font-weight: bold;
}
div.partDatasBlockTitle:hover {
    cursor: pointer;
    color: #505050;
}
div.partDatasBlockTitle.closed:before {
    font-family: 'FA';
    margin-right: 15px;
    content: '\f0fe';
}
div.partDatasBlockTitle.open:before {
    font-family: 'FA';
    margin-right: 15px;
    content: '\f146';
}
div.partDatasContent {
    display: none;
    padding: 10px 20px;
    border-left: 1px dotted #B4B4B4;
}
div.singleRequestFormContainer {
    padding: 30px;
    box-shadow: 0 0 12px #505050;
    border-radius: 12px;
    background: #FFFBF2;
    width: 700px;
}