
#moduleConf {
    .module_select_container {
        padding: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        background-color: #F2F2F2;
        border-bottom: 1px solid #000;
    }

    .all_modules_search_result_container {
        display: none;
    }
    
    .category_params_container {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #000;
    }

    .module_params_header {
        margin-bottom: 15px;
    }

    .sub_params_container {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 3px solid #676565;
    }

    .all_modules_search_input, 
    .cur_module_search_input {
        border: 1px solid #999999;
        width: 300px;
    }
}