/*NE PAS MODIFIER LES FICHIERS CSS => ILS SONT COMPILES A PARTIR DES FICHIERS SCSS*/
/*+ d'infos: f.martinez@bimp.fr*/ 
@import "../../../bimpcore/views/scss/bootstrap/mixins";
@import "../../../bimpcore/views/scss/bootstrap/variables";

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

$article_color: #004264;

#bc_main_container {
    @include transition(all 0.3s ease);

    .container-fluid {
        padding: 0!important;
    }

    .row {
        /*        margin-left: 0!important;
                margin-right: 0!important;*/
    }

    padding: 10px;
    background-color: #fff;
    background-image: none!important;

    .bc_header {
        margin: 0!important;
        width: 100%;
        height: 80px;
        background-color: #EF7D00;
        color: #fff;
        padding: 5px;
        border-bottom: 3px solid #EF7D00;

        .header_logo {
            display: inline-block;
            padding: 10px 30px;
            background-color: #fff;
            float: left;
            img {
                height: 50px;
                width: auto;
            }
        }

        .headerBlock {
            display: inline-block;
            float: left;
            margin: 12px 30px 12px 60px;

            padding-left: 50px;

            i {
                float: left;
                margin-left: -50px;

                font-size: 38px;
                color: #FFC587;
            }

            .headerBlockTitle {
                font-size: 14px;
                color: #FFC587;
            }
            .headerBlockContent {
                font-size: 16px;
                color: #fff;
            }
        }
        .fullScreenButton,
        .windowMaximiseButton {
            display: inline-block;
            float: right;
            margin: 20px 20px 20px 0;
            cursor: pointer;
            text-align: center;

            i {
                @include transition(all 0.3s ease);
                font-size: 32px;
                line-height: 32px;    
                color: #FFA84B;
            }

            &:hover {
                i {
                    color: #fff;
                }
            }
        }

        @media (max-width: 1300px) {
            .headerBlock {
                margin: 12px 10px 12px 15px;

                padding-left: 30px;

                i {
                    float: left;
                    margin-left: -30px;
                    font-size: 24px;
                }

                .headerBlockTitle {
                    font-size: 12px;
                }
                .headerBlockContent {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 800px) {
            .header_logo {
                display: none;
            }

            .fullScreenButton,
            .windowMaximiseButton {
                margin: 10px 10px 10px 5px;
                i {
                    font-size: 26px;
                    line-height: 28px;    
                }
            }
        }
    }

    .bc_body {
        margin: 0!important;
    }

    .bc_footer {
        margin: 0!important;
    }
}

#venteTicketContainer {
    display: none;
    padding: 0;
    margin: 0;
}

#openCaisseForm,
#closeCaisseForm {
    margin: 60px;
    text-align: center;

    .freeForm {
        text-align: left;
        display: inline-block;
        width: 600px;
        margin: auto;
    }
}

#closeCaisseForm {
    display: none;
}

#closeCaisseButton,
#disconnectUserButton {
    @media (min-width: 800px) {
        float: right;   
    }
}

#venteErrors,
#currentVenteErrors {
    display: none;

    .alert {
        border: 2px solid $danger;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: bold;

        button {
            font-size: 18px;
        }
    }
}

#curVenteGlobal {
    background-color: #DCDCDC;
}

#currentVenteContainer {
    display: none;

    .footer_buttons {
        margin-top: 30px;
        padding-top: 15px;
        border-top: 1px solid #DCDCDC;
    }
    #saveCurrentVenteButton,
    #validateCurrentVenteButton {
        float: right;
        margin-left: 15px;
    }
}

#currenVenteContent {
    background-color: #dcdcdc;
    padding: 15px;
    border: 1px solid #dcdcdc;
}

#bc_main_container.fullScreen {
    z-index: 11000!important;

    span {
        float: none;
        margin: 0;

        &.objectIcon {
            margin-left: 10px;
        }
    }
    padding: 0;

    .bc_body {
        padding: 5px 15px 15px 15px;
    }

    #currentVenteContainer {
        position: absolute;
        left: 0;
        right: 0;
        top: 140px;
        bottom: 0
    }

    #currenVenteContent {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 100px;
        padding-bottom: 0;
        overflow-x: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer_buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
    }

    #listVentesContainer,
    #clients, 
    #mvt_fonds,
    #paiements {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 130px;
        padding: 0 15px;
        overflow: auto;
    }
}

/*Vente: Sections*/

.venteSection {
    .venteSectionHeader {
        background-color: $secondary;
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding: 8px 12px;
    }
    .venteSectionBody {
        padding: 30px;
        background-color: #fff;
    }

    .formRow {
        margin: 0!important;

        .inputLabel {
            color: $gray-darker;
            background-color: #fff;
            border: none;
        }

        .formRowInput {
            border: none;

            input, select, textarea {
                width: 100%;
            }

            input {
                border: 1px solid $gray-dark;
                padding: 5px;

                &:focus {
                    box-shadow: 0 0 4px #0087B4;
                    border-color: #005A78;
                }
            }
        }
    }
}

#curVenteGlobal {
    padding-bottom: 15px;
}

#curVenteCommercial {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

#venteClientViewContainer {
    h3 {
        font-size: 16px;
        color: $gray-darker;
        padding-bottom: 5px;
        margin-top: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid $gray-darker;
    }

    h4 {
        color: $gray-darker;

        span {
            color: lighten($gray-dark, 10%);
        }
    }

    .client_infos {
        font-size: 12px;
        color: $gray-dark;
        padding-left: 30px;
        margin-top: 10px;

        i {
            font-size: 14px;
            color: $gray-darker;
            margin-left: -20px;
            float: left;
        }

    }

    #contactSelect {
        width: 100%;
        padding: 7px 0;
    }

    .contactActions {
        display: inline-block;
        float: right;
        margin-right: -90px;
    }
}

#venteSearchProduct {
    line-height: 28px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}

#addProductResult {
    display: none;
}

#venteRemises {
    display: none;
    padding: 10px;
    margin: 5px 0;
    background-color: #F5F5F5;
    font-size: 15px;
    color: #8C0000;

    .title {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid $gray-darker;
    }

    .remises_lines,
    .total_remises_vente,
    .total_remises_articles,
    .total_remises {
        text-align: right;
        padding: 4px 30px 4px 10px;

        .remise {
            margin-bottom: 4px;
        }
        span {
            font-weight: bold;
        }

        i {
            @include transition(all 0.3s ease);
            float: right; 
            margin-right: -30px;
            margin-top: 2px;
            color: #b4b4b4;
            font-size: 18px;
            cursor: pointer;


            &:hover {
                color: $danger;
            }
        }
    }
    .total_remises {
        font-weight: bold;
        font-size: 16px;
    }
}

#ventePanierTotal {
    text-align: center;
    background-color: #DCDCDC;
    border: 1px solid $secondary;
    color: $gray-darker;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

#venteNbArticles {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: $gray_darker;
}

#loadRemiseFormButton {
}

#venteToPay, 
#venteToReturn,
#venteAvoir {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#venteToPay {
    color: $gray_darker;
    background-color: #DCDCDC;
    border: 1px solid $secondary;
}

#venteToReturn {
    color: #fff;
    background-color: #348C41;
}

#venteAvoir {
    color: #fff;
    background-color: #F0B400;
}

#ventePaiementButtons {
    button {
        width: 100%;
        text-align: center;
    }
}

#venteAddPaiementFormContainer {
    padding: 20px;
    text-align: center;
    display: none;

    span {
        font-size: 16px;
        margin-right: 8px;
    }
    input {
        width: 160px;
        border: 1px solid $gray-dark;
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        vertical-align: middle;

        &:focus {
            box-shadow: 0 0 4px #0087B4;
            border-color: #005A78;
        }
    }
    .inputAddon {
        border-color: $gray-dark;
        background-color: $gray-dark;
        color: #fff;
        vertical-align: middle;
        padding: 7px 12px;
    }

    button {
        margin-left: 0 15px;
    }
}

#ventePaimentsLines {
    max-width: 450px;
    margin: 20px 30px;

    .paiement_line {
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid $gray;
        font-weight: bold;
        color: $gray-darker;
        font-size: 16px;

        .paiement_label {
            display: inline-block;
            width: 59%;

            i {
                margin-right: 12px;
            }
        }
        .paiement_montant {
            display: inline-block;
            width: 39%;
            text-align: right;
            padding-right: 40px;
        }
        .deletePaiementButton {
            float: right;
            margin-right: -40px;
            color: $gray-dark;
            font-size: 20px;
            cursor: pointer;
            @include transition(all 0.3s ease);

            &:hover {
                color: $danger;
            }
        }
    }
    .paiements_total {
        color: $gray-darker;
        padding: 8px;
        font-size: 14px;
        font-weight: bold;
        text-align: right;
    }
}

#venteHt {
    margin-top: 15px;

    & > span {
        vertical-align: middle;
    }

    .toggleContainer {
        vertical-align: middle;
    }
}

#avoirRbtForm {
    display: none;
    margin: 30px 0;

    #avoirRbtModePaiement {
        display: none;
    }
}

#customerDiscountsContainer {
    margin: 30px 0 20px;

    #customerDiscounts {
        max-width: 450px;
        margin: 0 30px;
    }


    .title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #totalDiscounts {
        color: $gray-darker;
        padding: 8px;
        font-size: 14px;
        font-weight: bold;
        text-align: right;
    }
}

.selectArticleLine {
    margin: 5px;
    padding: 10px;
    border: 1px solid $gray;

    .product_price {
        font-weight: bold;
        font-size: 14px;
        text-align: right;
    }
}

#ventePanierLines .cartArticleLine,
#curVenteRetours .returnLine {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $gray;

    .product_title {
        color: $article_color;
        font-size: 18px;
        padding-bottom: 8px;
        padding-right: 40px;

        .removeArticle {
            @include transition(all 0.3s ease);
            color: $gray;
            display: inline-block;
            float: right;
            margin-right: -30px;
            font-size: 28px;
            cursor: pointer;

            &:hover {
                color: $danger;
            }
        }
    }
    .product_info {
        color: $gray-darker;
        font-size: 12px;
        padding-left: 15px;
    }

    .article_remises {
        display: none;
        margin: 3px 0;
        font-size: 12px;
        color: #8C0000;
        text-align: right;

        .title {
            font-weight: bold;
        }

        .content {
            .remise {
                font-size: 14px;
                padding: 6px 30px 6px 0;
                span {
                    font-weight: bold;
                }

                i {
                    @include transition(all 0.3s ease);
                    float: right;
                    font-size: 20px;
                    color: #b4b4b4;
                    margin-top: -2px;
                    margin-right: -30px;
                    cursor: pointer;

                    &:hover {
                        color: $danger;
                    }
                }
            }
        }

    }
    .article_options {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 60px;

        .article_qty {
            text-align: left;
            display: inline-block;

            .qty_down,
            .qty_up {
                color: $gray-dark;
                font-size: 32px;
                cursor: pointer;
                vertical-align: middle;
                @include transition(all 0.3s ease);

                &:hover {
                    color: $primary;
                }
            }
            .article_qty_input {
                padding: 5px;
                font-weight: bold;
                font-size: 14px;
                color: $gray-darker;
                border: 1px solid $gray-dark;
                text-align: center;
                width: 60px;
                vertical-align: middle;

                &:focus {
                    box-shadow: 0 0 4px #0087B4;
                    border-color: #005A78;
                }
            }
        }
        .product_total_price {
            display: inline-block;
            float: right;
            margin-right: -60px;
            text-align: right;

            .base_price {
                margin-right: 12px;
                color: $gray-dark;
                font-size: 16px;
                text-decoration: line-through;
            }

            .final_price {
                color: $article_color;
                font-weight: bold;
                font-size: 20px;
            }

        }
    }
    .placeAlert {
        margin-top: 10px;
    }
}

#curVenteRetours {
    margin-top: 15px;
    display: none;

    .totalReturnsTitle {
        font-weight: bold;
        color: #8c0000;
        font-size: 16px;
        display: inline-block;
        float: right;
    }
}

@media print {
    body * {
        visibility: hidden!important;
    }

    #venteTicketContainer, 
    #venteTicketContainer * {
        display: block;
        visibility: visible!important;
    }

    #venteTicketContainer {
        position: absolute;
        left: 0;
        top: 0;
    }
}