h1{
    text-align:center;
}
.border{
    border: solid black 1px;
}

table {
    padding: 0;
}

.bold {
    font-weight: bold;   
}

.addresses_section {
    font-size: 10px;
}

.sender_address {
    background-color: #E6E6E6;
    color: #00003C;
    padding: 10px;
}