form {
    /*border: 3px solid #f1f1f1;*/
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #777777;
    border: none;
}

button {
    background-color: #850000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    border: none;
}

button:hover {
    opacity: 0.8;
}

/* style your lables/button */
input[type="radio"] + label, 
input[type="checkbox"] + label {
    margin-right: 5px;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #444;
    background: #666666;
    color: white;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
    margin-left: -20px;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
    background: #850000;
    border: 1px solid #850000;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}

input[type="radio"]:not(:checked):hover + label,
input[type="checkbox"]:not(:checked):hover + label{
    color: black;
}

label.day:not(:checked) {
    background: #8c8c8c;
}

input[type="radio"]:checked + label.day,
input[type="checkbox"]:checked + label.day {
    background: #b30000;
}

.greyBorder {
    border: 3px solid #850000;
    border-radius: 8px;
    padding: 10px;
}

.container {
    position: absolute;
    margin: auto;
    margin-top: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: auto;
}

body {
    background-color: #333333;
    /*vertical-align:middle;*/
}

h3, b, strong, div.greyBorder {
    color: #879700;
}