.drop {
    float: left;
    border: 1px solid black;
    width:auto;
    white-space:nowrap;
    height: 32px;
    background: url("black_arrow.png") no-repeat right center;
}
.drop:hover {
    background: url("blue_arrow.png") no-repeat right center;
    border-color: #239fdb;
}
select {
    -moz-appearance: none;
    appearance: none;
}

.unselectable {
    float: left;
    border: 1px solid black;
    width:auto;
    white-space:nowrap;
    height: 32px;
    pointer-events: none;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arr {
    border-width:3px; 
    border-style:solid; 
    border-color:black;
    width:auto;
}

.line {
    height:30px;    
}

.cell { 
    border-width:3px;
    border-style:solid; 
    border-color:black;
    width:auto;
}