strong {
    font-size:32px;
}

.deleteButton {
    clear:both;
    cursor:pointer;
    width:90px;
    height:30px;
    border-radius: 4px;
    background-color: #5CD2D2;
    border:none;
    text-align:center;
    line-height:10px;
    color:#FFFFFF;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.customDiv {
    border-radius: 8px;
    margin:5px;
    padding: 15px;
    border:solid 1px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-color:black;
    background-color:white;
}

.customLi {
    padding:3px;
    display: inline;
}

.navDiv {
}

.fixDiv {
    margin-top: 20px;
}
.errorDiv {
    background-color: #ff887a;
}

.divClikable {
    background-color:#75aaff;
}

.divClikable:hover {
    background-color: #a8c9ff;
    cursor: pointer;  
}

.divClikable:active {
    background-color: #1d5cc1;
}

.fillTheDiv {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}

#otherContainer {
    margin-bottom: 18px;
}

#mainContainer {
    text-align:center;
}