@font-face {
    font-family: 'FA';
    src: url(../fonts/fontawesome.eot),
        url(../fonts/fontawesome.ttf);
}

/*Blocs*/
.container {
    margin: 10px 0 20px 0;
    max-width: 1000px;
}
.captionContainer {
    border: 1px solid #828282;
    padding: 8px 10px;
    color: #505050;
    cursor: pointer;

    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.captionContainer:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 65%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(65%,rgba(246,246,246,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 65%,rgba(224,224,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.captionTitle {
    font-size: 16px;
    font-weight: bold;
    color: #292964;
}
.arrow.upArrow:after {
    font-family: 'FA';
    content: '\f0d8';
    margin-left: 8px;
}
.arrow.downArrow:after {
    font-family: 'FA';
    content: '\f0d7';
    margin-left: 8px;
}
.captionTitle:hover {
    color: #2F2FA0;
}
.container .toolBar {
    margin: 5px 0 15px 0;
    text-align: right;
}
.container .toolBar span.button {
    display: inline-block;
    padding: 6px;
}
.blocContent {
    margin: 0;
    padding: 10px 20px;
    border: 1px dotted #A0A0A0;
}

/*Tableau Parts Pending*/
#partListSearchForm {
    margin: 15px 0;
}
#partsPending {
    border: 1px solid #767F87;
    border-collapse: collapse;
}
#partsPending thead th {
     padding: 4px 8px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;

    background: rgb(162,169,178); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(162,169,178,1) 0%, rgba(118,127,135,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,169,178,1)), color-stop(36%,rgba(118,127,135,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(162,169,178,1) 0%,rgba(118,127,135,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a9b2', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}
#partsPending tbody tr {
    cursor: pointer;
    background-color: #E6E6E6;
}
#partsPending tbody tr:hover {
    background-color: #fff;
}
#partsPending tbody tr.odd {
     background-color: #D4D4DC;
}
#partsPending tbody tr.odd:hover {
    background-color: #E8E8F0;
}
#partsPending td {
    font-size: 12px;
    padding: 6px;
    color: #464646;
    border-bottom: 1px solid #A0A0A0;
    text-align: center;
}
#partsPending td.partName {
    font-weight: bold;
    text-align: left;
}

/*Liste Expéditions*/
#currentShipmentList {
    border-collapse: collapse;
}
#currentShipmentList th {
    text-align: left;
    color: #292964;
    padding: 5px;
    border-bottom: 1px solid #292964;
}
#currentShipmentList tbody tr td {
    padding: 10px 0;
    border-bottom: 1px solid #787878;
}

/*Infos Livraison*/
#shippingInfos td {
    font-size: 12px;
}
#partsListRecapContainer table {
    border-collapse: collapse;
    font-size: 11px;
}
#partsListRecapContainer table th {
    color: #292964;
    padding: 5px;
    border-bottom: 1px solid #292964;
}
#partsListRecapContainer table td {
    border: none;
    padding: 5px 10px;
}
#partsListRecapContainer table tbody tr {
    border-bottom: 1px solid #787878;
}

#shipmentButtons a.button {
    margin: 10px;
}

.inputCheckInfos {
    display: inline-block;
    margin-left: 8px;
}
span.Ok {
    color: #00A000;
}
span.Ok:before {
    font-family: 'FA';
    content: '\f00c';
    margin-right: 8px;
    font-size: 16px;
}

span.notOk {
    color: #B40000;
}
span.notOk:before {
    font-family: 'FA';
    content: '\f00d';
    margin-right: 8px;
    font-size: 16px;
}

.error {
    color: #B40000 !important;
}
.error:before {
    content: '\f06a';
    font-family: 'FA';
    font-size: 20px;
    margin-right: 8px;
}
.requestProcess {
    font-weight: bold;
    font-size: 14px;
    color: #00468C;
}
.requestProcess:before {
    font-family: 'FA';
    content: '\f085';
    margin-right: 10px;
}
.confirmation {
    font-weight: bold;
    font-size: 14px;
    color: #209620;
}
.confirmation:before {
    font-family: 'FA';
    content: '\f00c';
    margin-right: 10px;
}
.alert {
    font-weight: bold;
    font-size: 14px;
    color: #FF870F;
}
.alert:before {
    font-family: 'FA';
    content: '\f071';
    margin-right: 10px;
}
.info {
    font-weight: bold;
    font-size: 12px;
    color: #354C64;
}
.info:before {
    font-family: 'FA';
    content: '\f05a';
    margin-right: 10px;
    font-weight: normal;
    font-size: 15px;
}