/*
 ** GLE by Synopsis et DRSI
 *
 * Author: Tommy SAURON <tommy@drsi.fr>
 * Licence : Artistic Licence v2.0
 *
 * Version 1.0
 * Create on : 4-1-2009
 *
 * Infos on http://www.finapro.fr
 *
 */
#calcDiv,.calcDiv
{
    position : fixed;
    z-index : 1000;
    display: block;
    width : 300px;
    min-width: 300px;
    max-width: 300px;
    top: 25px;
    right:0px;
    margin:0pt;
}

#scalButton,.scalButton
{
    font-size: 100%;
    border: 0px;
    background-image : url('button_bg.png');
    background-position : bottom;
    padding: 2px 1px 2px 1px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 2px;


}

#scalSelect,.scalSelect{
    font-size: 9pt;
    max-width: 150px;
    width: 150px;
    min-width: 150px;
}
#scalTitle,.scalTitle
{
    font-size: 12pt;
    color: #cbdd5c;
    text-align: right;
    padding-right: 10pt;
}
.closeButtonScal:hover {
    cursor: pointer;
}
