.fiche div {
    display: inline-block;
    margin-right: 10px;
}

.isDate {
    border: solid gray 1px;
    width: 70px;
}

.round {
    border-radius: 3px;
}

#array {
    border-collapse:separate; 
    border-spacing:0;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    z-index:900 !important;
    margin-top: 30px;
}

#array tr:nth-child(even){
    background: #ccc;
}

/*#array tr:hover {
    background: #bdc3c7;
}*/

#array th, #array td {
    padding: 3px 10px 3px 10px;
    border-right: solid black 1px;
}

.select2-no-results {
    display: none !important;
}

.select2 {
    z-index: 0;
}

.select2:focus {
    z-index: 1000;
}

.ui-datepicker .ui-widget .ui-widget-content .ui-helper-clearfix .ui-corner-all {
    z-index: 1000;
}

.tableforField {
    border-collapse: separate; 
    border-spacing: 15px;
}


input[type="radio"], 
input[type="checkbox"] {
    margin-right: -20px;
    opacity: 0;
}

/* style your lables/button */
input[type="radio"] + label, 
input[type="checkbox"] + label {
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #444;
    background: #aaa;
    color: white;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
}

input[type="radio"]:checked + label,
input[type="radio"]:hover + label,
input[type="checkbox"]:checked + label,
input[type="checkbox"]:hover + label{
    background: rgb(80,90,120);
    border: 1px solid rgb(80,90,120);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}