body { background-color: #FFF; }
.gras { font-weight: bold; }
.bimp_ldlc_page {
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFF;
  opacity: 1;
  z-index: 100;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bimp_ldlc-logo { width: 300px; margin-bottom: 45px; }
.bimp_ldlc-signer_le_rapport {
  max-height: 50px;
  background-color: #01579B;
  color: #FFFFFF;
  padding: 13px 10px;
  border-radius: 30px;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  border: none;
  outline: none;
  fill: transparent;
  transition: all .5s;
  box-shadow: 0px 1px 11px 1px rgba(110, 106, 106, 0.8);
  cursor: pointer;
}
.bimp_ldlc-signer_le_rapport:hover {
  box-shadow: 0px 3px 13px 3px rgba(110, 106, 106, 0.8);
}
.bimp_ldlc_page .bimp_ldlc-carre {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 30px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bimp_ldlc_page .bimp_ldlc-carre.blue-dark {
  background-color: #01579B;
}
.bimp_ldlc_page .bimp_ldlc-carre.red {
  background-color: #d75a4a;
}

.text_bimp {
    color: #EF7D00;
}

.bimp_ldlc_page .bimp_ldlc-carre.bimp {
  background-color: #EF7D00;
}

.bimp_ldlc_page .ldlc {
    background-color: #706f6f;
}

.bimp_ldlc_page .bimp_text {
    color: #EF7D00;
}

.bimp_ldlc_page .bimp_ldlc-carre.gauche_bas {
  bottom: -40px;
  left: -100px;
  box-shadow: 1px 4px 25px rgba(0, 0, 0, 0.33);
}
.bimp_ldlc_page .bimp_ldlc-carre.droite_haut {
  top: -40px;
  right: -100px;
  box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.31);
}

.bimp_ldlc_page .gauche_haut {
    top: 25px;
    left: 25px;
    position: absolute;
}

.bimp_ldlc_page .haut_centre {
    top: 25px;
    text-align: center;
    position:absolute;
}

.bimp_ldlc_page .bas_center_gauches {
    bottom: 40px;
    position: absolute;
    left: 10%;
}

.bimp_ldlc_page .bas_center_gauches .round {
    border-radius: 50%;
    height:50px;
    width:50px;
    border:1px solid black;
}

.bimp_ldlc_page .bas_center_gauches .round:hover {
    border:1px solid #EF7D00;
}

.bimp_ldlc_page .bimp_ldlc-carre.droite_bas {
  bottom: -40px;
  right: -100px;
  box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.31);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* ------- MATERIAL-INPUT ------- */
.bimp__input-groupe {
  position: relative;
  margin-bottom: 25px;
}
.bimp__input-groupe i {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #ee3b33;
  font-size: 23px;
}
.bimp_input-groupe-erreur {
  margin-top: 4px;
  margin-left: 4px;
  color: #D75A4A;
  display: block;
  text-align: left;
}
.bimp_input-groupe-label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #999;
}

.bimp_input-groupe {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  transition: all .7s;
  -webkit-transition: all .5s;
  color: #000;
}
.bimp_input-groupe:focus {
  outline: none;
  border-bottom: 1px solid #d75a4a;
}
.bimp_input-groupe:focus ~ label {
  top: -20px;
  font-size: 14px;
}
.bimp_input-groupe:focus ~ .bimp_input-groupe-barre:before {
  width: 50%;
}
.bimp_input-groupe:focus ~ .bimp_input-groupe-barre:after {
  width: 50%;
}
.bimp_input-groupe-barre {
  position: relative;
  display: block;
}
.bimp_input-groupe-barre:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  background: #EF7D00;
  left: 50%;
}
.bimp_input-groupe-barre:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  background: #EF7D00;
  right: 50%;
}

@media screen and (max-height: 800px) {
  .bimp_ldlc-carre {
    width: 175px;
    height: 175px;
  }
}
@media screen and (max-height: 580px) {
  .bimp_ldlc-carre.droite_haut {
    top: -80px;
  }

  .bimp_ldlc-carre.gauche_bas {
    bottom: -80px;
  }
}


@-webkit-keyframes bimp_ldlc_carre_animation {
  0% {
    left: -100px;
  }
  50% {
    left: -80px;
  }
  100% {
    left: -100px;
  }
}
@-moz-keyframes bimp_ldlc_carre_animation {
  0% {
    left: -100px;
  }
  50% {
    left: -80px;
  }
  100% {
    left: -100px;
  }
}
@keyframes bimp_ldlc_carre_animation {
  0% {
    left: -100px;
  }
  50% {
    left: -80px;
  }
  100% {
    left: -100px;
  }
}
.bimp_animation {
  -webkit-animation-name: bimp_ldlc_carre_animation;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: bimp_ldlc_carre_animation;
  -moz-animation-delay: 0;
  -moz-animation-duration: 2.5s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: bimp_ldlc_carre_animation;
  animation-delay: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.user-card {
  min-height: 60%;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.user-card__body {
  text-align: center;
  color: #706f6f;
}
.user-card__body__name {
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  font-size: 1.4em;
}
.user-card__body__description {
  font-size: 1em;
}
.user-card__body__links {
  list-style: none;
  padding-left:0;
  padding-right: 0;
  padding-bottom: 20px;
}
.user-card__body__links li {
  display: inline-block;
}
.user-card__body__links a {
  padding: 5px;
  color: #706f6f;
  text-decoration: none;
  transition: color .3s ease-in-out;
}
.user-card__body__links a:hover {
  color: #EF7D00;
}
.user-card__body__links .fa {
  font-size: 1.4em;
}

#logout__button__bimp {
    margin-bottom: 25px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #EF7D00;
    background: transparent;
    color: #EF7D00;
    font-weight: bold;
    cursor: pointer;
}

#logout__button__bimp:hover {
    border: none;
    background: #EF7D00;
    color: white;
}

.qs {
  background-color: white;
  border-radius: 16px;
  color: black;
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  position: relative;
  text-align: center;
  width: 45px;
  border:1px solid #706f6f;
  cursor:pointer;
}

.qs .popover {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  bottom: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: -80px;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 9000;
}

.qs:hover .popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 42px;
  }
}
@-moz-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 42px;
  }
}
@-ms-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 42px;
  }
}

#informations {
    position: fixed;
    bottom: 35px;
    height: 45px;
    /*border: 1px solid black;*/
    padding:5px;
    line-height: 45px;
    width:70%;
    border-radius: 10px;
    display:block;
    font-size: .9em;
}