#reportContent,
#searchResultContent {
    padding-top: 20px;
}

#reportContent .deleteReportButton {
    float: right;
    margin: 20px;
}

.reportRowsFilters {
    padding: 10px;
}

.reportRowsFilters {
    width: 250px;
}

.reportTableContainer table {
    text-align: left;
    border: none;
    box-shadow: none;
    padding: 10px 15px;
}

.reportRowsContainer {
    max-height: 450px;
    overflow-y: auto;
}
.reportRowsContainer table {
    padding: 0;
    border-collapse: collapse;
}

.reportRowsContainer .reportRow {
    border: none!important;;
}
.reportRowsContainer .reportRow.even {
    background-color: #F0F0F0;
    border: none!important;
}
.reportRowsContainer .reportRow td {
    padding: 8px;
    border: none!important;
}
.reportRowsContainer .reportRow .rowStatus {
    width: 10%;
}

.reportRowsContainer .reportRow .rowTime {
    width: 10%;
}

.reportRowsContainer .reportRow .rowObject {
    width: 20%;
}

.reportRowsContainer .reportRow .rowReference {
    width: 20%;
}

.reportRowsContainer .reportRow .rowMessage {
    width: 40%;
}

.reportRowsContainer .reportDetailsRow {
    display: none;
}

.reportRowsContainer .reportDetailsRow td {
    background-color: #EBEBEB!important;
}

.detailsDisplayButton {
    font-weight: bold;
    margin: 0 15px;
    cursor: pointer;
    color: #003C78;
}

.detailsDisplayButton:after {
    font-family: 'FontAwesome';
    margin-left: 8px;
}
.detailsDisplayButton.closed:after {
    content: '\f107';
}

.detailsDisplayButton.open:after {
    content: '\f106';
}

