:root {
    --bimp-gray-base-color: $gray-base;
    --bimp-gray-darker-color: $gray-darker;
    --bimp-gray-dark-color: $gray-dark;
    --bimp-gray-color: $gray;
    --bimp-gray-light-color: $gray-light;
    --bimp-gray-lighter-color: $gray-lighter;

    --bimp-primary-color: $primary;
    --bimp-secondary-color: $secondary;
    --bimp-success-color: $success;
    --bimp-info-color: $info;
    --bimp-warning-color: $warning;
    --bimp-danger-color: $danger;
    --bimp-important-color: $important;
    --bimp-selection-color: $selection;
    --bimp-debug-color: $debug-color;
}