table.header {
    background-color: #DCDCDC;
    border-top-color: #505050;
    border-left-color: #505050;
}

table.header td {
    font-size: 8px;
    border-right-color: #505050;
}

table.row {
    background-color: #FFFFFF;
    border-left-color: #505050;
}

table.row td {
    font-size: 7px;
    border-right-color: #505050;
    border-bottom-color: #E6E6E6;
}

table.last {
    background-color: #FFFFFF;
    border-left-color: #505050;
    border-bottom-color: #505050;
}

table.last td {
    font-size: 7px;
    border-right-color: #505050;
}