.round {
    border-radius: 5px;
}

.dd-handle {
    cursor: grab;
}

#nestable {
    padding: 50px;
    border: solid 2px gray;
    border-radius: 8px;
}

 .dd {
    /*max-width: 600px;   width of the box */
}