@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

#passwd {
    position: fixed;
    z-index:9999;
    top:0;left:35%;right:35%;
    width:30%;
    text-align: center;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.12);
    display:none;
}

.close-passwd {
    position: fixed;
    right:36%;top:10px;
    display:none;
}

.css-tooltip {
  position: relative;
  margin-top:17px;
  display: inline-block;
  cursor:pointer;
}
.css-tooltip .tt-content {
  position: absolute;
  color: #31708f;
  background-color: #d9edf7;
  font-weight: normal;
  font-size: 12px;
  z-index: 99999999;
  box-sizing: border-box;
  padding: 10px;
  min-width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: none;
}
.css-tooltip .tt-content i {
  position: absolute;
  overflow: hidden;
}
.css-tooltip .tt-content i:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #d9edf7;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
.css-tooltip.top .tt-content {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.css-tooltip.top .tt-content i {
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
}
.css-tooltip.top .tt-content i:after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.css-tooltip.right .tt-content {
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translate(0, -50%);
}
.css-tooltip.right .tt-content i {
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
}
.css-tooltip.right .tt-content i:after {
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
}
.css-tooltip.bottom .tt-content {
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}
.css-tooltip.bottom .tt-content i {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
}
.css-tooltip.bottom .tt-content i:after {
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
.css-tooltip.left .tt-content {
  top: 50%;
  right: 100%;
  margin-right: 20px;
  transform: translate(0, -50%);
}
.css-tooltip.left .tt-content i {
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
}
.css-tooltip.left .tt-content i:after {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.css-tooltip:hover .tt-content {
  display: block;
}


.navbar-brand{
    display: contents;
}



.btn_action_contrat {
    line-height: 300%;
    width: 100%;
    padding: 5px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.card_interface {
  background-size: contain;
  min-width:90%;
  border-radius: 10px;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  text-align: center;
  padding: 30px 60px;
  margin-top: 30px;
}

.card_interface .img {
    border:none;
  background-color: transparent;
  z-index:2;
  margin: auto auto 20px;
  display: block;
  font-size: 70px;
  color: lightgrey;
}

.card_interface h1 {
  font-size: 22px;
  margin: 10px auto 20px;
  letter-spacing: 1px;
}
.card_interface h2 {
  margin: auto;
  width:90%;
  color: #b1b6c6;
  font-weight: 300;
  font-size: 14px;
}
.card_interface .button {
  
  text-decoration: none;
  background: #EF7D00;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  width:50px;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s;
}
.card_interface .button span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card_interface .button:hover {
  background: transparent;
  color: #EF7D00;
}

/* START TOOLTIP STYLES */
[tool] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tool]::before,
[tool]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tool]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tool]::after {
  content: attr(tool); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tool]:hover::before,
[tool]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tool='']::before,
[tool='']::after {
  display: none !important;
}

/* FLOW: UP */
[tool]:not([flow])::before,
[tool][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tool]:not([flow])::after,
[tool][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tool]:not([flow])::before,
[tool]:not([flow])::after,
[tool][flow^="up"]::before,
[tool][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tool][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tool][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tool][flow^="down"]::before,
[tool][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tool][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tool][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tool][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tool][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tool]:not([flow]):hover::before,
[tool]:not([flow]):hover::after,
[tool][flow^="up"]:hover::before,
[tool][flow^="up"]:hover::after,
[tool][flow^="down"]:hover::before,
[tool][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tool][flow^="left"]:hover::before,
[tool][flow^="left"]:hover::after,
[tool][flow^="right"]:hover::before,
[tool][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}