@media (min-width: 992px) {
  /* line 2, ../scss/demo.scss */
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative; }

  /* line 8, ../scss/demo.scss */
  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute; } }
/* line 16, ../scss/demo.scss */
.all-icons [class*="pe-"] {
  font-size: 40px; }

/* line 19, ../scss/demo.scss */
.all-icons input {
  border: 0; }

/* line 22, ../scss/demo.scss */
.all-icons .font-icon-detail {
  text-align: center;
  padding: 45px 0px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0; }

/* line 29, ../scss/demo.scss */
.all-icons .font-icon-detail input {
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #aaa;
  font-size: 13px; }

/* line 38, ../scss/demo.scss */
#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px); }

/* line 44, ../scss/demo.scss */
.places-buttons .btn {
  margin-bottom: 30px; }

/* line 47, ../scss/demo.scss */
.sidebar .nav > li.active-pro {
  position: absolute;
  width: 100%;
  bottom: 10px; }

/* line 52, ../scss/demo.scss */
.sidebar .nav > li.active-pro a {
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #FFFFFF; }

/* line 58, ../scss/demo.scss */
.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3) {
  text-align: center; }

@media all and (max-width: 991px) {
  /* line 64, ../scss/demo.scss */
  .sidebar .nav > li.active-pro {
    position: initial; } }
/* line 69, ../scss/demo.scss */
#passwd {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 35%;
  right: 35%;
  width: 30%;
  text-align: center;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  display: none; }

/* line 82, ../scss/demo.scss */
.close-passwd {
  position: fixed;
  right: 36%;
  top: 10px;
  display: none; }

/* line 88, ../scss/demo.scss */
.css-tooltip {
  position: relative;
  margin-top: 17px;
  display: inline-block;
  cursor: pointer; }

/* line 94, ../scss/demo.scss */
.css-tooltip .tt-content {
  position: absolute;
  color: #31708f;
  background-color: #d9edf7;
  font-weight: normal;
  font-size: 12px;
  z-index: 99999999;
  box-sizing: border-box;
  padding: 10px;
  min-width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: none; }

/* line 108, ../scss/demo.scss */
.css-tooltip .tt-content i {
  position: absolute;
  overflow: hidden; }

/* line 112, ../scss/demo.scss */
.css-tooltip .tt-content i:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #d9edf7;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }

/* line 120, ../scss/demo.scss */
.css-tooltip.top .tt-content {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%); }

/* line 125, ../scss/demo.scss */
.css-tooltip.top .tt-content i {
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px; }

/* line 132, ../scss/demo.scss */
.css-tooltip.top .tt-content i:after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); }

/* line 136, ../scss/demo.scss */
.css-tooltip.right .tt-content {
  top: 50%;
  left: 100%;
  margin-left: 10px;
  transform: translate(0, -50%); }

/* line 142, ../scss/demo.scss */
.css-tooltip.right .tt-content i {
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px; }

/* line 149, ../scss/demo.scss */
.css-tooltip.right .tt-content i:after {
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg); }

/* line 154, ../scss/demo.scss */
.css-tooltip.bottom .tt-content {
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0); }

/* line 159, ../scss/demo.scss */
.css-tooltip.bottom .tt-content i {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px; }

/* line 166, ../scss/demo.scss */
.css-tooltip.bottom .tt-content i:after {
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg); }

/* line 170, ../scss/demo.scss */
.css-tooltip.left .tt-content {
  top: 50%;
  right: 100%;
  margin-right: 20px;
  transform: translate(0, -50%); }

/* line 176, ../scss/demo.scss */
.css-tooltip.left .tt-content i {
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px; }

/* line 183, ../scss/demo.scss */
.css-tooltip.left .tt-content i:after {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg); }

/* line 188, ../scss/demo.scss */
.css-tooltip:hover .tt-content {
  display: block; }

/* line 193, ../scss/demo.scss */
.navbar-brand {
  display: contents; }

/* line 197, ../scss/demo.scss */
.btn_action_contrat {
  line-height: 300%;
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-weight: bold; }

/* line 207, ../scss/demo.scss */
#addContratIn {
  display: none;
  width: 50%;
  line-height: 225%;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  padding: 30px 60px;
  font-size: 18px;
  margin-top: 1.5%; }

/* line 217, ../scss/demo.scss */
#alert_error {
  margin-bottom: 2%;
  display: none; }

/* line 222, ../scss/demo.scss */
.card_interface {
  display: inline-block;
  background-size: contain;
  min-width: 90%;
  border-radius: 10px;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  text-align: center;
  padding: 30px 60px;
  margin-top: 30px; }

/* line 233, ../scss/demo.scss */
.card_interface .img {
  border: none;
  background-color: transparent;
  z-index: 2;
  margin: auto auto 20px;
  display: block;
  font-size: 70px;
  color: lightgrey; }

/* line 243, ../scss/demo.scss */
.card_interface h1 {
  font-size: 22px;
  margin: 10px auto 20px;
  letter-spacing: 1px; }

/* line 248, ../scss/demo.scss */
.card_interface h2 {
  margin: auto;
  width: 90%;
  color: #b1b6c6;
  font-weight: 300;
  font-size: 14px; }

/* line 255, ../scss/demo.scss */
.card_interface .button {
  text-decoration: none;
  background: #EF7D00;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  width: 50px;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s; }

/* line 269, ../scss/demo.scss */
.card_interface .button span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top; }

/* line 274, ../scss/demo.scss */
.card_interface .button:hover {
  background: transparent;
  color: #EF7D00; }

/* START TOOLTIP STYLES */
/* line 280, ../scss/demo.scss */
[tool] {
  position: relative;
  /* opinion 1 */ }

/* Applies to all tooltips */
/* line 285, ../scss/demo.scss */
[tool]::before,
[tool]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: .9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0; }

/* line 296, ../scss/demo.scss */
[tool]::before {
  content: '';
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */ }

/* line 301, ../scss/demo.scss */
[tool]::after {
  content: attr(tool);
  /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  /* absurdity 2 */ }

/* Make the tooltips respond to hover */
/* line 326, ../scss/demo.scss */
[tool]:hover::before,
[tool]:hover::after {
  display: block; }

/* don't show empty tooltips */
/* line 332, ../scss/demo.scss */
[tool='']::before,
[tool='']::after {
  display: none !important; }

/* FLOW: UP */
/* line 338, ../scss/demo.scss */
[tool]:not([flow])::before,
[tool][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333; }

/* line 344, ../scss/demo.scss */
[tool]:not([flow])::after,
[tool][flow^="up"]::after {
  bottom: calc(100% + 5px); }

/* line 348, ../scss/demo.scss */
[tool]:not([flow])::before,
[tool]:not([flow])::after,
[tool][flow^="up"]::before,
[tool][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em); }

/* FLOW: DOWN */
/* line 357, ../scss/demo.scss */
[tool][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333; }

/* line 362, ../scss/demo.scss */
[tool][flow^="down"]::after {
  top: calc(100% + 5px); }

/* line 365, ../scss/demo.scss */
[tool][flow^="down"]::before,
[tool][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em); }

/* FLOW: LEFT */
/* line 372, ../scss/demo.scss */
[tool][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%); }

/* line 379, ../scss/demo.scss */
[tool][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%); }

/* FLOW: RIGHT */
/* line 386, ../scss/demo.scss */
[tool][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%); }

/* line 393, ../scss/demo.scss */
[tool][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%); }

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0); } }
@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%); } }
/* FX All The Things */
/* line 416, ../scss/demo.scss */
[tool]:not([flow]):hover::before,
[tool]:not([flow]):hover::after,
[tool][flow^="up"]:hover::before,
[tool][flow^="up"]:hover::after,
[tool][flow^="down"]:hover::before,
[tool][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards; }

/* line 425, ../scss/demo.scss */
[tool][flow^="left"]:hover::before,
[tool][flow^="left"]:hover::after,
[tool][flow^="right"]:hover::before,
[tool][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards; }
