@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 10, ../scss/public_form.scss */
html {
  background: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; }

/* line 19, ../scss/public_form.scss */
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
  color: #A2A5A6;
  text-align: center;
  padding: 20px 0 0; }
  /* line 27, ../scss/public_form.scss */
  a:hover {
    color: #00BFE6; }

/* line 32, ../scss/public_form.scss */
form {
  margin: 5% auto;
  width: 400px;
  min-height: 400px;
  background: white;
  padding: 2.5% 5% 2.5%;
  border-radius: 2.5%; }

/* line 41, ../scss/public_form.scss */
form img {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  display: block;
  padding: 0; }

/* line 49, ../scss/public_form.scss */
h2 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: center; }

/* line 56, ../scss/public_form.scss */
input {
  margin: 5% 0;
  border: none;
  width: 100%;
  font-size: 1.5em;
  padding: 0 0 2%;
  background: none;
  border-bottom: 2px solid #FBD75C; }

/* line 66, ../scss/public_form.scss */
textarea:focus, input:focus {
  outline: 0; }

/* line 70, ../scss/public_form.scss */
label {
  color: #BDC3C7;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 4px; }

/* line 77, ../scss/public_form.scss */
.button {
  background: none;
  border: none;
  width: 100%;
  min-height: 50px;
  margin: 10px 0 10px;
  border-radius: 2.5%;
  color: white;
  padding: 0.5% 0 0;
  font-size: 1.75em;
  cursor: pointer;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2b07e+0,fbd75c+100 */
  background: #f2b07e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2b07e), color-stop(100%, #fbd75c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f2b07e 0%, #fbd75c 100%);
  /* IE10+ */
  background: linear-gradient(to right, #f2b07e 0%, #fbd75c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b07e', endColorstr='#fbd75c',GradientType=1 );
  /* IE6-9 */ }
  /* line 101, ../scss/public_form.scss */
  .button:hover {
    background-position: -400px; }
  /* line 105, ../scss/public_form.scss */
  .button:disabled {
    background: lightgrey;
    border: none;
    width: 100%;
    min-height: 50px;
    margin: 10px 0 10px;
    border-radius: 2.5%;
    color: white;
    padding: 0.5% 0 0;
    font-size: 1.75em; }

/* line 118, ../scss/public_form.scss */
#erp_bimp {
  margin-top: 25%; }

/* line 122, ../scss/public_form.scss */
.errors {
  color: #A00000;
  text-align: center; }

/* line 127, ../scss/public_form.scss */
.success {
  font-size: 16px;
  color: #1F995C;
  text-align: center;
  margin: 30px 0; }

/* line 134, ../scss/public_form.scss */
p.alert_msg {
  font-size: 11px;
  line-height: 11px;
  margin-left: 30px;
  color: #A00000; }
