body{
    position: absolute;
}
  #ui-dialog-title-dialog{
    font-size: 150%;
    padding: 4px;
  }
  .ui-dialog-titlebar-close{
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 8px;
    right: 0px;
  }
  #dialog input, #dialog select
  {
  }
  legend
  {
    font-size: 14pt;
    border: 1px Solid #000000;
    padding: 4pt;
    padding-left: 8pt;
    padding-right: 8pt;
  }
  #ajouterPanel{
    background-color: #FFFFFF;
  }
 body{
    font-size: 65%;
 }
.Modtable input,.Modtable select, .Modtable textarea, .addtable input,.addtable select, .addtable textarea
{
    width: 195px;
}
.glink{
    font-weight: 900;
}
.glink:hover{
    text-decoration: underline;
}
.promoteZ {
        z-index: 2006; /* Dialog z-index is 1006*/
}
.ui-datepicker-trigger
{
    vertical-align: middle;
}
th{
    padding: 4px;
    white-space: nowrap;
}
