$main_color: #282828;

body {
    margin: 0;
}
#ticket {
    font-family: roboto,arial,tahoma,verdana,helvetica;
    color: $main_color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 15px;


    div {
        box-sizing: border-box;
    }

    .bold {
        font-weight: bold;
    }

    .ticket_header {
        margin-bottom: 20px;
    }

    .ticket_footer {
        margin-top: 10px;
        border-top: 4px solid $main_color;
        border-bottom: 4px solid $main_color;
        p {
            margin: 5px 0;
        }
    }

    .header_block {
        display: inline-block;
        padding: 0 10px 10px 0;
        vertical-align: top;
        width: 50%;

        img {
            width: 100%;
            height: auto;
        }

        &:last-child {
            padding-left: 25px;
            padding-top: 25px;
        }
    }

    .footer_block {
        text-align: center;
        display: inline-block;
        padding: 0 0 5px 0;
        vertical-align: middle;
        width: 20%;

        img {
            width: 100%;
            height: auto;
        }

        &:last-child {
            width: 80%;
            padding-left: 10px;
        }
    }

    #ticket_lines {
        font-size: 14px;
        border-collapse: collapse;
        margin: 20px 0 5px 0;
        width: 100%;

        thead tr th  {
            text-align: center;
            font-weight: bold;
            border-bottom: 2px solid $main_color;

            &:first-child {
                text-align: left;
            }
        }

        tbody tr td {
            font-weight: bold;
            font-size: 13px;
            overflow: hidden;
            text-align: center;            
        }
        
        tbody tr.article_desc td {
            text-align: left;
        }
        
        tbody tr.article_amounts td {
            border-bottom: 1px solid lighten($main_color, 15%);
            padding: 3px;
            
            &:first-child {
                text-align: left;
                padding-left: 0;
            }
            &:last-child {
                text-align: right;
                padding-right: 0;
            }
        }
    }

    #ticket_totaux {
        font-size: 17px;
        line-height: 19px;
        margin-bottom: 15px;
        width: 100%;
        text-align: right;

        tbody tr td {
            &:first-child {
                width: 80%;
            }

            &:last-child {
                width: 20%
            }
        }
    }

    #ticket_payments,
    #ticket_rendus {
        margin-bottom: 15px;

        tbody tr td {
            font-size: 14px;

            &:first-child {
                padding-right: 15px;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}