/*Colors*/
.row {
  margin-top: 20px;
  margin-bottom: 20px; }

h1 {
  color: #f9721d;
  padding-bottom: 20px;
  margin: 30px 0;
  border-bottom: 1px solid #f9721d;
  float : left; }

h2 {
  color: #f9721d;
  padding-bottom: 20px;
  margin: 30px 30px;
  float : left;
}

h3 {
  color: #f9721d;
}

.butAction {
  display: inline-block;
  padding: 10px 18px;
  margin: 6px 2px;
  background-color: #E6DBD4;
  cursor: pointer;
  color: #645f5c;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .butAction:hover {
    text-decoration: none;
    background-color: #f9721d;
    color: #fff; }
  .butAction i.left {
    margin-right: 12px; }
  .butAction i.right {
    margin-left: 12px; }

.error {
  background-color: #f9721d;
  padding: 20px 20px 20px 80px;
  font-weight: bold;
  color: #fff;
  font-size: 15px; }
  .error:before {
    font-family: 'FontAwesome';
    content: '\f06a';
    font-size: 28px;
    margin-left: -50px;
    margin-right: 30px;
    position: absolute;
    top: 10px; }

#butCacheReMail {
  color: #207996;
  font-weight: bold;
  padding: 10px 18px;
  margin: 6px 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #butCacheReMail:before {
    font-family: 'FontAwesome';
    margin-right: 12px;
    content: '\f021'; }
  #butCacheReMail:hover {
    text-decoration: none;
    background-color: #207996;
    color: #fff; }

#panCacheReMail {
  padding: 10px 18px;
  margin: 6px 0; }
  #panCacheReMail select {
    margin-right: 12px;
    display: inline-block; }

body {
  color: #645f5c; }

table {
  width: 100%;
  background-color: #fffdfd; }
  table tr {
    border-bottom: 1px dotted #FFA369; }
  table th, table td {
    padding: 12px 20px; }
  table th {
    background-color: #f9721d;
    color: #fff;
    font-weight: bold; }

form input {
  padding: 8px 12px;
  border-radius: none;
  border: 1px solid #DCDCDC; }
  form input[type=submit] {
    border: none; }
