table.header {
    background-color: #DCDCDC;
}

table.header td {
    font-size: 8px;
}

table.row {
    background-color: #FFFFFF;
}

table.row td {
    font-size: 7px;
}

table.last {
    background-color: #FFFFFF;
}

table.last td {
    font-size: 7px;
}