div.eventAbss{
    position: absolute;
    border: solid black 1px;
    background: #C8D8F6;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3) 0%, rgba(40, 40, 40, 0.3) 100%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.3)), color-stop(1, rgba(40,40,40,.3)) );
    border-radius: 6px;
    overflow: hidden;
}
div.eventAbss.actif{
    z-index: 100;
    height: 130%!important;
    width: 130%!important;
}
div.calendarSyn{
    position: relative;
    height: 400px;
    width: 200px;
    float: left;
    border: solid black 1px;
}
div.taille1 div.calendarSyn{
    height: 145px;
    width: 189px;
}
div.oneDay{
    position: relative;
}
div.contentOneDay{
    float: left;
    border: solid black 2px;
}
img.bgAgenda{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

div.contentListUser{
    display: inline;
    padding: 15px;
}
div.listUser{
    display: none;
}

.datePlus{
    float:right;
}

div.userOneDay{
    z-index: 99;
    position: relative;
    background: whitesmoke;
    margin: 10px 20px;
    padding: 3px;
border-radius: 10px;
text-align: center;
}


.wc-day-column-last {
    border-right: 4px double #BBCCFF !important;
}


div.wc-cal-event div.wc-title,div.wc-cal-event div.wc-title a{
    color: black!important;
}

.ui-button, .floatL{
    z-index: 100;
    position: relative;
}

.twhite{
    color:white;
}