/* main */
/*==============================================================================
|| La structure principale du site.
==============================================================================*/




#struct_main
{
    padding: 15px;
}




/*======================================
|| Les elements de formulaire.
======================================*/

/* ----- */
#struct_main select,
#struct_main input
{
    border: 1px solid #555;
    color: #666666;
    font-size: 0.9em;
}


/* Attention les input de type hidden ne doivent pas en faire partie sinon on aura des '.' dans l'affichage */
#struct_main input[type=hidden]
{
    border:0;
}

/*======================================
|| Tableau special calendrier.
======================================*/

#struct_main table.calendar
{
    border-collapse: collapse;
}

#struct_main table.calendar a,
#struct_main table.calendar input,
#struct_main table.calendar select
{
    color: inherit;
}

/* Enleve le decalage a gauche du au border-collapse : Firefox respecte les specifications, mais c'est moche : IE ne respecte rien */
#struct_main table.calendar caption
{
    font-size: 16px;
    padding: 10px;
}

#struct_main table.calendar caption img
{
    vertical-align: middle;
}

#struct_main table.calendar caption a.today { }

#struct_main table.calendar tr,
#struct_main table.calendar caption
{
    font-size: 1.0em;
}

#struct_main table.calendar tfoot tr
{
    font-size: 1.1em;
}

#struct_main table.calendar tr select
{
    font-size: 1.0em;
}

#struct_main table.calendar thead tr
{
    background-color: #205bb3;
}

/* Alternance des couleurs generiques */
#struct_main table.calendar tr.row0,
#struct_main table.calendar tr.row0 select,
#struct_main table.calendar tr.row0 input
{
    background-color: #3b9dcc;
    background-image: url(images/separateur_projet.png);
    background-repeat: repeat-x;
}

/* Alternance des couleurs generiques */
#struct_main table.calendar tr.row1,
#struct_main table.calendar tr.row1 select,
#struct_main table.calendar tr.row1 input
{
    background-color: #3092c4;
    background-image: url(images/separateur_projet.png);
    background-repeat: repeat-x;
}

#struct_main table.calendar tbody th
{
    text-align: left;
    font-weight: normal;
}

#struct_main table.calendar tfoot
{
    color: #666666;
}


/* Barre de navigation par semaine */


#struct_main table.calendar tr
{
    white-space: nowrap;
}


/* Alternance des couleurs entre les taches (application) */
/* Alternance des couleurs entre les taches (projet) */
#struct_main table.calendar th.proj0
{
    background-color: #3b9dcc;
    background-image: url(images/separateur_projet.png);
    background-repeat: repeat-x;
}

/* Alternance des couleurs entre les taches (projet) */
#struct_main table.calendar th.proj1
{
    background-color: #3092c4;
    background-image: url(images/separateur_projet.png);
    background-repeat: repeat-x;
}

/* Alternance des couleurs entre les taches */
#struct_main table.calendar tr.task0,
#struct_main table.calendar tr.task0 select,
#struct_main table.calendar tr.task0 input
{
    background-color: #3ba0c3;
    background-image: url(images/separateur_tache.png);
    background-repeat: repeat-x;

}

/* Alternance des couleurs entre les taches */
#struct_main table.calendar tr.task1,
#struct_main table.calendar tr.task1 select,
#struct_main table.calendar tr.task1 input
{
    background-color: #3295b5;
    background-image: url(images/separateur_tache.png);
    background-repeat: repeat-x;
}

/* >V2| -----------------------------*/

/*========== On met en couleur Samedi=6 et Dimanche=0 ==========*/

#struct_main table.calendar tr td.day_1,
#struct_main table.calendar tr td.day_2,
#struct_main table.calendar tr td.day_3,
#struct_main table.calendar tr td.day_4,
#struct_main table.calendar tr td.day_5
{

}

#struct_main table.calendar tr th.day_6,
#struct_main table.calendar tr th.day_0,
#struct_main table.calendar tr td.day_6,
#struct_main table.calendar tr td.day_6 input[type=text],
#struct_main table.calendar tr td.day_0,
#struct_main table.calendar tr td.day_0 input[type=text],
#struct_main table.calendar tr td.day_6:hover,
#struct_main table.calendar tr td.day_0:hover
#struct_main table.calendar tr td.day_6 input:hover,
#struct_main table.calendar tr td.day_0 input:hover
{
    background-color: #DDDDDD;
    color: black;
}


/*==============================================================================
|| Ecran "activity".
==============================================================================*/

#struct_main.activities table.calendar input[type=text]
{
    width: 1,5em;
    text-align: center;
}

.display_value
{
    text-align: center;
}


.nowrap
{
    white-space: nowrap;
}



/*==============================================================================
|| Suivi du curseur sur les tableaux
==============================================================================*/

#struct_main table.calendar tbody tr:hover input
{
    color: white !important;
}
