 
/* Autre que BimpTheme */
.login_block {
    .notif_white {
        margin: 0 10px 5px 0;
        display: inline-block;
        vertical-align: top;

        & > span.badge.bg-danger {
            margin-top: -20px;
            margin-left: -6px;
            background-color: #f5365c !important;
            padding: 1px 4px !important;
        }

        & > i {
            color: white !important;
            font-size: 16px;
        }

        &:hover, &:hover i {
            text-decoration: none!important;
        }
    }

    #allow_notif {
        margin: 0 10px 5px 0;
        display: inline-block;
        vertical-align: top;

        i {
            color: #f5365c;
            font-size: 16px;
        }
    }

    .dropdown-menu.dropdown-menu-right.notification-dropdown  {
        margin-right: 50px;
    }

    .bimp_notification_dropdown {
        a {
            color: #000064!important;    
        }

        h4.header {
            margin: 0; padding: 15px; font-size: 16px; border-bottom: 1px solid #f1f1f1; 
        }
    }
}
/* Fin Autre que BimpTheme */

.dropdown-menu.dropdown-menu-right.notification-dropdown  {
    min-width: 250px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #999 !important;
}

.modifDropdown > a {
    margin-right: 10px;
}

a.nav-link.dropdown-toggle:not(.notif_white) > i {
    color: black !important;
}

.list_notification {
    line-height: 22px;
    font-size: 12px;

    .list_part {
        border-bottom: 1px solid #ccc;
        padding: 4px 10px 15px 10px;
        min-width: 320px;
        max-width: 800px;

        &:first-child {
            border-top: 1px solid #ccc;
        }

        &:hover{
            border-left: 5px solid $primary;
            padding-left: 5px;
            background-color: #f5f5f5;       
        }

        &.notif_link:hover {
            cursor: pointer;
        }

        .part_list_header {
            text-align: left;
            background-color: #F7F7F7;
            margin-top: -4px;
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 0;
            padding: 0 10px;

            span {
                display: inline-block;
                margin-right: 3px;
            }
        }

        .date_notif {
            color: #4D4C4C;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 11px;
            text-align: left;
        }   

        .hashtag_src {
            font-weight: bold;
        }

        .hashtag_content {
            margin: 5px;
            padding: 5px;
            background-color: #FFFFE1;
            border-color: #FFFFE1;
            border-radius: 8px;
            box-shadow: 0 0 2px #787878;
        }
    }
}

/* Demande de validations */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_demande_valid_comm"] {
    min-width: 300px!important;
}

/* Bimp message */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_bimp_note"] {
    min-width: 400px!important;
}

div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_notif_task"] {
    min-width: 800px!important;
}

/* style general chat */
.msg_cotainer {
    border-radius: 25px;
    background-color: #E6E1E0;
    color: #333;
    padding: 10px;
    margin: 4px;
    position: relative;
    min-width: 150px;
    max-width: 65%;
    text-align: center;
    font-size: 1.3em;
    line-height: normal;
}

.justify-content-end .msg_cotainer {
    background-color: #78e08f;
}
.justify-content-start .msg_cotainer {
    background-color: #82ccdd;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.msg_time {
    position: absolute;
    left: 25px;
    bottom: -15px;
    color: rgba(0,0,0,0.5);
    font-size: 10px;
}
.justify-content-end .msg_time{
    left: auto;
    right: 25px;
}


/* plus spécifique*/
.img-circle{
    margin: 5px;
}
.nonLu{
    opacity: 0.4;
}
.nonLu.my{
    opacity: 1; 
    animation: colorblink 2s infinite;
}
@keyframes colorblink { 
    0% { }
    50% { 
        opacity: 0; 
    } 
}   

/* petit */
.petit .msg_cotainer{
    font-size: 1em;
}
.petit.justify-content-end {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}


/* menu */
.lnMsg{
    border-bottom: 1px dotted #B3A9A9;
}

.titreFilMsg{
    font-size:1.4em;
}


/* Bimp task */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_notif_task"] {
    width: auto;    min-width: 800px;

    overflow-y: scroll;
}

div.tabs-animated {
    width: auto;
    max-height: auto;
    overflow-y: scroll;
}

div.task_panel {
    max-height: auto;
    overflow-y: scroll;
    padding: 0px;
    line-height: 22px;
    width: 800px;

    .task_src {
        font-size: 11px;
        font-style: italic;
        color: #006AFF;
    }

    .parent_task {
        margin: 5px 0;
        font-style: italic;
    }

    .task_subj {
        font-weight: bold;
    }

    .task_txt {
        margin: 5px;
        padding: 5px;
        background-color: #FFFFE1;
        border-color: #FFFFE1;
        border-radius: 8px;
        box-shadow: 0 0 2px #787878;
    }
}

/*BimpValidation*/

div.bv_demandes_panel {
    max-height: auto;
    overflow-y: scroll;
    padding: 0px;
    line-height: 22px;
    width: 800px;

    .user_demande {
        font-size: 11px;
        font-style: italic;
        color: #006AFF;
    }
}

/* Les onglets */
ul#nav_task > li {
    width: 48%;
}

ul#nav_task > li.reload {
    width: 2%;
}

.nav-tabs > li.reload > a {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs > li.reload > a > span {
    margin: 0px;
}

.nav-tabs > li.reload > a:hover {
    background-color: unset !important;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(180, 180, 180);
    border-left-color: rgb(255, 255, 255);
}
