div[name=tariff] {
    margin-bottom: 10px;
    border: 1px solid #c2c2c2;
    padding: 20px;
     background: white;
}

div[name=ticket] {
    padding-left: 30px;
}

.error_submit {
    border: 1px solid red;
}

.p_error {
    color: red;
}