
/*Styles génériques*/

.typeLabel {
    border-radius: 24px;
    padding: 3px 8px;
    font-size: 11px;
    color: #fff;
}

/*Forms*/

.formRow {
    padding: 5px;
    width: 100%;
}
.formRow .formLabel {
    text-align: right;
    display: inline-block;
    width: 25%;
    padding-right: 15px;
}
.formRow .formInput {
    text-align: left;
    display: inline-block;
    width: 70%;
}

select.switch {
    width: 75px;
    font-weight: bold;
}

select.switch option[value='1'] {
    color: #3b6ea0;
}
select.switch option[value='0'] {
    color: #8C8C8C;
}

.formRow input[type=checkbox] {
    margin-right: 12px;
}

.formRow .formInput select.fullwidth,
.formRow .formInput input.fullwidth {
    width: 100%;
}

.formRow .inputDesc {
    padding-left: 25%;
}
.formRow .inputDesc p{
    font-size: 12px;
    font-style: italic;
    color: #787878;
    margin: 8px 0;
    padding-left: 15px;
}

.inputHelp {
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
    font-style: italic;
    color: #787878;
}

.formSwitch input {
    margin: 0 5px;
}
.formSwitch label {
    margin-right: 20px;
}
.formSubmit {
    text-align: right;
    padding: 10px 20px;
}

.formSubmit .button {
    margin-left: 10px;
}

.buttonsContainer {
    text-align: left;
    padding: 10px 20px;
}
.buttonsContainer .button {
    margin-right: 10px;
}

.objectToolbar,
.toolBar {
    padding: 15px 0;
    text-align: right;
}

/*Listes*/
table thead tr th {
    padding: 10px 6px;
    margin-bottom: 8px;
    border-bottom: 1px solid #292964;
    color: #292964;
    text-align: left;
}

.objectListTable table {
    border: none;
    box-shadow: none;
}
.objectListTable td {
    padding: 5px 6px;
}

.objectListTable .objectListRowInput,
.objectListTable .objecRowEditInput {
    width: 90%;
}

.objectListTable span.button {
    margin: 0 3px;
}

.sortTitle.active {
    font-weight: bold;
}
.sortTitle:after
{
    font-family: 'FontAwesome';
    margin-left: 8px;
    opacity: 0;
    color: #fff;
}
.sortTitle:hover {
    text-decoration: none!important;
}
.sortTitle.active:after,
.sortTitle:hover:after {
    opacity: 1;
    text-decoration: none!important
}

.sortTitle.sort-asc:after {
    content: '\f0d8';
}
.sortTitle.sort-desc:after {
    content: '\f0d7';
}
.sortTitle.active.sort-asc:after {
    content: '\f0d7';
}
.sortTitle.active.sort-desc:after {
    content: '\f0d8';
}
.sortTitle.active.sort-asc:hover:after {
    content: '\f0d8';
}
.sortTitle.active.sort-desc:hover:after {
    content: '\f0d7';
}

/*Messages*/

.alert {
    border: none!important;
    padding: 5px 12px;
}
.form-alert {
    margin-left: 15px;
    margin-right: 15px;
}
.alert-success {
    color: #348C41!important;
    background-color: #E7FAEA;
}
.alert-info {
    color: #3B6EA0!important;
    background-color: #E2ECF5;
}
.alert-warning {
    color: #B48335!important;
    background-color: #F5EEE2;
}
.alert-danger {
    color: #A00000!important;
    background-color: #F5E2E2;
}

.badge-warning {
    background-color: #B48335!important;
}

.badge-danger {
    background-color: #A00000;
}

.success {
    color: #348C41!important;
    font-weight: bold;
}
.info {
    color: #3B6EA0!important;
    font-weight: bold;
}
.warning {
    color: #B48335!important;
    font-weight: bold;
}
.danger {
    color: #A00000!important;
    font-weight: bold;
}

.ajaxResultContainer {
    display: none;
    margin: 20px 15px;
}

/*Opérations */

.operationTable {
    border: 1px solid #C8C8C8!important;
}
.operationTable .alert {
    margin: 5px 30px;
    padding: 10px 15px;
}

#debugContainer {
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    margin: 15px 0;
    padding: 0 15px 15px;
}

/*Sections dépliables*/

.foldable_section .foldable_section_caption {
    margin-top: 15px;
    padding: 8px 15px;

    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 1%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9f9f9 1%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9f9f9 1%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    border: 1px solid #B4B4B4;
    font-size: 12px;
    font-weight: bold;
    color: #292964;
    cursor: pointer;
}
.foldable_section .foldable_section_caption:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f2f2f2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
.foldable_section > .foldable_section_caption:after {
    font-family: 'FontAwesome';
    margin-right: 10px;
    float: right;
    font-size: 14px;
}
.foldable_section.closed > .foldable_section_caption:after {
    content: '\f0d7';
}
.foldable_section.open > .foldable_section_caption:after {
    content: '\f0d8';
}
.foldable_section.closed > .foldable_section_content {
    display: none;
}
.foldable_section.open > .foldable_section_content {
    display: block;
}
.foldable_section .foldable_section_content {
    margin-left: 15px;
    margin-top: 15px;

    padding-left: 15px;

    border-left: 1px dotted #B4B4B4;
}