/*
 ** GLE by Synopsis et DRSI
 *
 * Author: Tommy SAURON <tommy@drsi.fr>
 * Licence : Artistic Licence v2.0
 *
 * Version 1.0
 * Create on : 4-1-2009
 *
 * Infos on http://www.finapro.fr
 *
 */

    #mnubut:HOVER, .mnubut_sec:HOVER
    {
        text-decoration: underline;
        cursor: pointer;
        color: #0000FF;
        background-color: #FFFFFF;
    }
    #mnubut, .mnubut_sec
    {
        text-decoration: none;
        cursor: pointer;
        color: #0000FF;
        background-color: #D3D3D3;
        margin-left: 0pt;
        margin-right: 0pt;
        padding-left: 4pt;
        padding-right: 4pt;
        border: 1px Solid #000000;
    }
    .menuDiv, #menudiv
    {
        display: none;
        position: absolute;
        z-index: 200;
        background-color: #DDDDED;
        opacity: 0.95;
        display: none;
        z-index: 200;
        float:left;
        max-width: 60%;
        height: 100%;
        border: 1px Solid #010101;
    }


    .secMenuDiv, #secMenuDiv
    {
        display: none;
        position: absolute;
        z-index: 200;
        background-color: #CCCCED;
        opacity: 0.95;
        display: none;
        z-index: 200;
        float:left;
        max-width: 60%;
        height: 100%;
        border: 1px Solid #010101;
    }
    .menu:HOVER, #menu:HOVER
    {
        text-decoration: underline;
        cursor: pointer;
        color: #0000FF;
    }
    ul
    {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .menuSep
    {
        text-align: center;
        vertical-align: middle;
        background-color: #FFFFFF;
        color: #101010;
        font-size: 10pt;
        list-style: none;
        border-top: 1px Solid #010101;
        border-bottom: 1px Solid #010101;
    }
    body {
        overflow: hidden;
        max-width: 98%;
        background-color: #FFFFFF;
        color: #101010;
        font-size: 10px;
        font-family: arial,sans-serif,verdana, helvetica;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .SecMenu{
        font-size: 9pt;
    }
    #biselect,.biselect
    {
        max-width: 75px;
        min-width: 75px;
        width: 75px;
        font-size: smaller;
    }
    #bibutton, .bibutton
    {
        padding-left:2pt;padding-right:2pt;padding-top:0pt;padding-bottom:0pt;
        font-size: smaller;
        font-weight: 700;
    }
    TH#bi, TH.bi
    {
        width: 45px;
        max-width: 45px;
        font-size: smaller;
        font-weight: 900;
    }



div.tmenu
{
    position: relative;
    display: block;
    white-space: nowrap;
    border-left: 0px;
    border-right: 1px Solid #C0C0C0;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 2px 0px;
    font-size: 12px;
    height: 22px;
}



span.butAction:link,a.butActionDelete:link, input.butActionDelete    {  font-weight: bold; background: white; border: 1px solid #997777; color: #801111; padding: 0em 0.7em; margin: 0em 0.5em; text-decoration: none; white-space: nowrap; }
span.butAction:link,a.butActionDelete:active, input.butActionDelete  {  font-weight: bold; background: white; border: 1px solid #997777; color: #801111; padding: 0em 0.7em; margin: 0em 0.5em; text-decoration: none; white-space: nowrap; }
span.butAction:link,a.butActionDelete:visited, input.butActionDelete {  font-weight: bold; background: white; border: 1px solid #997777; color: #801111; padding: 0em 0.7em; margin: 0em 0.5em; text-decoration: none; white-space: nowrap; }
span.butAction:link,a.butActionDelete:hover, input.butActionDelete   {  font-weight: bold; background: #FFe7ec; border: 1px solid #997777; color: #801111; padding: 0em 0.7em; margin: 0em 0.5em; text-decoration: none; white-space: nowrap; }


.butActionGsm:hover  {
      width:100%;
      background: #FFFFFF;
      color: #8CACBB;
      padding: 0em 0.7em 0 0.3em;
      margin: 0em 0.5em 0 0;
      font-weight:900; font-size:110%;
      text-decoration: none;
      border-right: 1px solid #FFFFFF;
      white-space: nowrap;
      min-height: 21px;
                    }



.butActionGsm, .butActionGsm:link{
      width:100%;
      font-weight: bold;
      border-right: 1px solid #FFFFFF;
      color: #FFFFFF;
      font-weight:900; font-size:110%;
      padding: 0em 0.7em 0 0.3em;
      margin: 0em 0.7em 0 0;
      white-space: nowrap;
      text-decoration: none;
      min-height: 21px;
    vertical-align: middle;
}

