// **************
// ENTITE : bimp
// **************

/* ***** VERSION FLASHY (ORANGE) ***** */

$gray-base:              #000 !default;
$gray-darker:            #282828 !default;
$gray-dark:              #636363 !default;
$gray:                   #B4B4B4 !default;
$gray-light:             #DCDCDC !default;
$gray-lighter:           #F5F5F5 !default;

$brand-primary:         #EF7D00 !default;
$brand-secondary:       #636363 !default;
$brand-success:         #348C41 !default;
$brand-info:            #3B6EA0 !default;
$brand-warning:         #E69900 !default;
$brand-danger:          #A00000 !default;

$primary: $brand-primary;
$secondary: $brand-secondary;
$success: $brand-success;
$info: $brand-info;
$warning: $brand-warning;
$danger: $brand-danger;
$important: #963E96 !default;
$selection: #5897FB !default;

// En-têtes généraux: 
$bimp_headers_color: #fff;
$bimp_headers_bk_color: $primary;

// Backgrounds gris clair / obscurs! 
$bimp_bk_light: #E6E6E6;
$bimp_bk_dark: $secondary;

// Listes: 
$bimp_list_header_color: #fff;
$bimp_list_header_bk_color: $primary;
$bimp_list_header_border: none;
$bimp_list_header_icons_color: #fff;
$bimp_list_header_icons_hover_color: $primary;
$bimp_list_header_icons_hover_bk_color: #fff;

// Panels: 
$bimp_panel_padding: 8px;
$bimp_panel_v_margin: 8px;
$bimp_panel_h_margin: 8px;

// Menu BimpTheme: 
$bimp_theme_logo_bk_color: #fff;
$bimp_theme_menu_bk_color: #3F4E67;
$bimp_theme_menu_active_color: $primary;


/* ***** VERSION CLAIRE ***** */

/* Couleurs principales */

/*$gray-base:              #000 !default;
$gray-darker:            #272829 !default;
$gray-dark:              #636466 !default;
$gray:                   #ADAFB3 !default;
$gray-light:             #C5C8CC !default;
$gray-lighter:           #F5F5F5 !default; // #eee

$brand-primary:         #D97102 !default;
$brand-secondary:       #3E4859 !default; // old: 636363
$brand-success:         #348C41 !default;
$brand-info:            #3B6EA0 !default;
$brand-warning:         #E69900 !default;
$brand-danger:          #A00000 !default;

$primary: $brand-primary;
$secondary: $brand-secondary;
$success: $brand-success;
$info: $brand-info;
$warning: $brand-warning;
$danger: $brand-danger;
$important: #963E96 !default;
$selection: #5897FB !default;

$bimp_headers_color: #1F304D;

// Backgrounds gris clair / obscurs! 
$bimp_bk_light: #DBDFE6;
$bimp_bk_dark: $secondary;

// En-têtes généraux: 
$bimp_headers_color: $bimp_headers_color;
$bimp_headers_bk_color: $bimp_bk_light;

// Listes: 
$bimp_list_header_color: $bimp_headers_color;
$bimp_list_header_bk_color: lighten($bimp_bk_light, 4%);
$bimp_list_header_border: 1px solid #1F304D;
$bimp_list_header_icons_color: $bimp_headers_color;
$bimp_list_header_icons_hover_color: $primary;
$bimp_list_header_icons_hover_bk_color: transparent;

// Panels: 
$bimp_panel_padding: 8px;
$bimp_panel_v_margin: 8px;
$bimp_panel_h_margin: 8px;*/