div.clear{
    clear: both;
}
div.hide{
    display: none;
}

div.divButAction, div.butActionDelete{
    float: right;
}
.butAction{
    font-size: 12px;
}

div.deconnect{
    position: fixed;
    top: 13px;
    right: 132px;
    z-index:1130;
}

.popConnect{
    /*padding: 15px;*/
    cursor: pointer; 
}

div.notificationText,div.notificationObj{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index:1130;
}
div.notificationText{
    bottom: 45px;
}
div.oneNotification{
    border: solid black 1px;
    background: #C8D8F6;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3) 0%, rgba(40, 40, 40, 0.3) 100%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.3)), color-stop(1, rgba(40,40,40,.3)) );
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
}
span.marqueVueNotification{
    padding: 8px;
}



.fullScreen{
    z-index:1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../Synopsis_Tools/img/bgGrisTrans.png);
}
div.fullScreen{
    padding: 20px 50px 50px 50px;

}
iframe.fullScreen{
    width: 100%;
    height: 100%;
    z-index: 1120;
    padding-bottom:45px;
}
div.fullScreen iframe{
    width: 100%;
    height: 100%;
}
div.fullScreen  span{
    float: right;
    cursor:  pointer;
    margin: 10px;

}
/*div.bottomObj{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 25px;
    cursor:  pointer;
    border: solid black 2px;
    z-index:1130;
    background-image: url(../../Synopsis_Tools/img/bgGrisTrans.png);
}*/
div.bottomObj.actif{
    background-color: green;
}

div.bottomObj{
    float: right;

    padding: 10px 25px;
    cursor:  pointer;
    border: solid black 2px;
    background-image: url(../../Synopsis_Tools/img/bgGrisTrans.png);
}


/*div.tabBar{
    position: absolute;
    bottom: 10px;
    top: 81px;
    right: 10px;
    left: 205px;
    overflow: auto;
}*/

div.tabs{
    height: auto;
}


.reglabe2{
    overflow: auto;
}
div.fiche.reglabe{
    position: absolute;
    bottom: 0px;
    top: 65px;
    right: 0px;
    left: 192px;
    overflow: auto;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 5px;
}

#id-container{
    clear: both;
}


/* Pour le menu a onglet des fiche */
div.tabs a.tab:link{
    display: inline-block;
}
div.tabBar{
    margin-top: -4px;
}



div.fiche table.border > tbody > tr > td{
    padding: 12px;
    background-color: #fff;
}
div.fiche table.border > tbody > tr > td:first-child,
div.fiche table.border > tbody > tr > td:first-child + td + td{
    text-align: center;
    background: url("../../includes/jquery/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
}
div.fiche table.border{
    margin-left: 0;
}
body{
    font-size: 13px;
}
div.mainmenu.Synopsis_Projet {
    background-image: url(../../theme/eldy/img/menus/project.png);
}
div.mainmenu.Ressources {
    background-image: url(../../theme/eldy/img/menus/shop.png);
}   
div.mainmenu.zimbra {
    background-image: url(../../Synopsis_Zimbra/e-mail.png);
}      
div.mainmenu.synopsisprojet {
    background-image: url(../../theme/eldy/img/menus/project.png);
}   
div.mainmenu.Process {
    background-image: url(../../Synopsis_Process/process.png);
}
div.mainmenu.Chrono {
    background-image: url(../../Synopsis_Chrono/chronoGr.png);
}
div.mainmenu.SynopsisTools {
    background-image: url(../../Synopsis_Tools/img/tools.png);
}
div.mainmenu.SynopsisToolsBug {
    background-image: url(../../Synopsis_Tools/img/bug.png);
}
div.mainmenu.synopsisficheinter {
    background-image: url(../../synopsisfichinter/img/ficheinter.png);
}



#mainmenutd_project{
    display: none;
}


.tabBar, .fiche{
    position: relative;
}

.noteAjax{
    position: absolute;
    top: 20px;
    left: 280px;  
}
.noteAjax > div{
    float:left;
}
.noteAjax .note{
    display: none;
    background: white;
    border: 1px dotted black;
}
.noteAjax input{
    height: 50px;
    background: none repeat scroll 0% 0% rgb(250, 229, 128); 
    margin-top: 150px;
    margin-right: 10px;
}
#notePublicEdit{
    padding: 5px;
    overflow-y: hidden;
    color: rgb(0, 0, 0);
    background: none repeat scroll 0% 0% rgb(250, 229, 128); 
    margin: 0px 3% 0px 1%;
    height: 350px;
    width: 250px;
}
.editable, .cp{
    cursor: pointer;    
}
a#note.lienNote{
    background-color: #FAE580;
    background-image: none;
}


.ui-jqgrid .ui-jqgrid-htable th div{ height: auto; }

div.bodyline{
    z-index: 2000;
}

.blockvmenupair.rouge{
    background-image: -moz-linear-gradient(center bottom , red 10%, #DCE0E3 100%);
    background-image: -o-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    background-image: -moz-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    /*    background-image: -webkit-linear-gradient(bottom, rgb(253,253,253) 90%, rgb(232,234,236) 100%); */
    background-image: -webkit-linear-gradient(right, red 10%, #DCE0E3 100%);
    background-image: -ms-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    background-image: linear-gradient(bottom, red 10%, #DCE0E3 100%);
}
.blockvmenupair.rouge .editable{
    text-decoration: blink;
}


.champGr{
    width: 100%;
    height: 200px;
}
div.champGr{
    width: 99%;
}
/*
.syntab .actif{
    color: blue;
}
.syntab{
    height: 15px;
}
.syntab li{
    cursor: pointer;
    float:left;
    padding: 10px 5px;
    display: block;
}*/


.showFormChrono{
    float: left;
    margin-right: 15px;
}

th.ui-state-default{
    padding: 0px!important;
}
tr.ui-widget-content td{
    padding: 0 1px;
}

span.timePage {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 0.8em;
}

.divButAction{
    text-align: right;
    margin: 20px;
}


.red, tr.red td.ui-widget-content, tr.red td.ui-widget-content a{
    color: white;
    background-color: #BF0000;
    background-image: none;
}


.datetimepicker{
    min-width: 120px;
}


.fl{
    float: left;
    margin-left: 10px;
}

li.tmenusel a.tmenusel{
    color: black;
}

textarea.grand{
    width: 600px;
    height: 120px;
}

.zonePlus{
    width: 150px;
}