
/*
*BIMP CORE
*/
body.modal-open ul.ui-autocomplete{
    overflow: auto;
    max-height: 400px;
}


div.tabsElem div{
    z-index:1000;
}





div.clear{
    clear: both;
}
div.hide{
    display: none;
}

.supprFav{
    padding: 1px;
    cursor: no-drop;
}

div.divButAction, div.butActionDelete{
    float: right;
}
.butAction{
    font-size: 12px;
    margin: 0.4em 0.9em;
}

div.deconnect{
    position: fixed;
    top: 13px;
    right: 132px;
    z-index:1130;
}

.popConnect{
    /*padding: 15px;*/
    cursor: pointer; 
}

div.notificationText,div.notificationObj{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:1130;
}
div.notificationText{
    bottom: 45px;
}
div.oneNotification{
    border: solid black 1px;
    background: #C8D8F6;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3) 0%, rgba(40, 40, 40, 0.3) 100%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.3)), color-stop(1, rgba(40,40,40,.3)) );
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
}
span.marqueVueNotification{
    padding: 8px;
}



.fullScreen{
    z-index:1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../synopsistools/img/bgGrisTrans.png);
}
div.fullScreen{
    padding: 20px 50px 50px 50px;

}
iframe.fullScreen{
    width: 100%;
    height: 100%;
    z-index: 1120;
    padding-bottom:45px;
}
div.fullScreen iframe{
    width: 100%;
    height: 100%;
}
div.fullScreen  span{
    float: right;
    cursor:  pointer;
    margin: 10px;

}
/*div.bottomObj{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 25px;
    cursor:  pointer;
    border: solid black 2px;
    z-index:1130;
    background-image: url(../../synopsistools/img/bgGrisTrans.png);
}*/
div.bottomObj.actif{
    background-color: green;
}

div.bottomObj{
    float: right;

    padding: 10px 25px;
    cursor:  pointer;
    border: solid black 2px;
    background-image: url(../../synopsistools/img/bgGrisTrans.png);
}


/*div.tabBar{
    position: absolute;
    bottom: 10px;
    top: 81px;
    right: 10px;
    left: 205px;
    overflow: auto;
}*/

div.tabs{
    height: auto;
    margin-bottom: 4px;
}


.reglabe2{
    overflow: auto;
}
div.fiche.reglabe{
    position: absolute;
    bottom: 0px;
    top: 65px;
    right: 0px;
    left: 192px;
    overflow: auto;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 5px;
}

#id-container{
    clear: both;
}


/* Pour le menu a onglet des fiche */
div.tabs a.tab:link{
    display: inline-block;
}
div.tabBar{
    margin-top: -4px;
}



div.fiche table.border > tbody > tr > td,
div.fiche table.border > tbody > tr > th{
    padding: 8px;
    background-color: #fff;
}
div.fiche table.border > tbody > tr > td:first-child,
div.fiche table.border > tbody > tr > td:first-child + td + td,
div.fiche table.titreHG > tbody > tr > td:first-child{
    text-align: center;
    background: url("../../includes/jquery/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
}
div.fiche table.border{
    margin-left: 0;
}
/*body{
    font-size: 13px;
}*/
div.mainmenu.Synopsis_Projet {
    background-image: url(../../theme/eldy/img/menus/project.png);
}
div.mainmenu.Ressources {
    background-image: url(../../theme/eldy/img/menus/shop.png);
}   
div.mainmenu.zimbra {
    background-image: url(../../Synopsis_Zimbra/e-mail.png);
}      
div.mainmenu.Process {
    background-image: url(../../Synopsis_Process/process.png);
}
div.mainmenu.Chrono {
    background-image: url(../../synopsischrono/chronoGr.png);
}
div.mainmenu.SynopsisTools {
    background-image: url(../../synopsistools/img/tools.png);
}
div.mainmenu.SynopsisToolsBug {
    background-image: url(../../synopsistools/img/bug.png);
}
div.mainmenu.synopsisficheinter {
    background-image: url(../../synopsisfichinter/img/ficheinter.png);
}
div.mainmenu.bimpequipment {
    background-image: url(../../bimpequipment/img/logistique.png);
}



#mainmenutd_project{
    /*display: none;*/
}


.tabBar, .fiche{
    position: relative;
}

.noteAjax{
    position: absolute;
    top: 20px;
    left: 280px;  
}
.noteAjax > div{
    float:left;
}
.noteAjax .note{
    display: none;
    background: white;
    border: 1px dotted black;
}
.noteAjax input{
    height: 50px;
    background: none repeat scroll 0% 0% rgb(250, 229, 128); 
    margin-top: 150px;
    margin-right: 10px;
}
.notePublicEdit{
    padding: 5px;
    overflow-y: hidden;
    color: rgb(0, 0, 0);
    background: none repeat scroll 0% 0% rgb(250, 229, 128); 
    margin: 0px 3% 0px 1%;
    height: 350px;
    width: 250px;
}
.editable, .cp{
    cursor: pointer;    
}
.lienNote{
    background-color: #FAE580!important;
    background-image: none;
}


.ui-jqgrid .ui-jqgrid-htable th div{ height: auto; }

div.bodyline{
    z-index: 2000;
}

.blockvmenupair.rouge .menu_contenu{
    background-image: -moz-linear-gradient(center bottom , red 10%, #DCE0E3 100%);
    background-image: -o-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    background-image: -moz-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    /*    background-image: -webkit-linear-gradient(bottom, rgb(253,253,253) 90%, rgb(232,234,236) 100%); */
    background-image: -webkit-linear-gradient(right, red 10%, #DCE0E3 100%);
    background-image: -ms-linear-gradient(bottom, red 10%, #DCE0E3 100%);
    background-image: linear-gradient(bottom, red 10%, #DCE0E3 100%);
}
.blockvmenupair.rouge .editable{
    text-decoration: blink;
}


.champGr{
    width: 100%;
    height: 200px;
}
div.champGr{
    width: 99%;
}

.syntab li.actif a{
    background: rgba(210,210,210, 0.5)  url(/gle_dev/theme/eldy/img/nav-overlay3.png) 50% 0 repeat-x;
}
.syntab{
    height: 15px;
}
.syntab li{
    cursor: pointer;
    float:left;
    padding: 10px 5px;
    display: block;
}


.showFormChrono{
    float: left;
    margin-right: 15px;
}

th.ui-state-default{
    /*padding: 0px!important;*/
}
tr.ui-widget-content td{
    padding: 0 1px;
}

span.timePage {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 0.8em;
}

.divButAction{
    text-align: right;
    margin: 20px;
}


.red, tr.red td.ui-widget-content, tr.red td.ui-widget-content a{
    color: white;
    background-color: #BF0000!important;
    background-image: none;
}

.redT{
    color: #bf0000;
    font-size: large;
}


.datetimepicker{
    min-width: 120px;
}


.fl{
    float: left;
    margin-left: 10px;
}

li.tmenusel a.tmenusel{
    color: black;
}

textarea.grand, select.grand{
    width: 600px;
    height: 120px;
}

textarea.pGrand{
    width: 300px;
    height: 120px;
}

.zonePlus{
    width: 150px;
}

.picto img{
    padding: 5px 8px 0px 0;
}



.conteneur{
    width: 910px;
}

.liste_articles {
    width: 290px;
}

.lienHautDroite {
    margin-top: -27px;
    margin-bottom: 20px;
    float: right;

}
.lienHautDroite2 {
    margin-top: 10px;
    margin-bottom: -10px;
    float: right;
}

.tabResumeDeuxColl{
    float:left;
    margin: 10px;
    width: 380px;
}
.tabResumeDeuxColl th, .tabResumeDeuxColl td{
    padding:8px;
}
.tabResumeDeuxColl th.titre{
    font-size:16px;
}

.small{
    font-size: 90%;
    font-style : italic;
}


.ui-jqgrid-btable .hideonsmartphone, .ui-jqgrid-btable .titInfo {
    display: none;
}

.ui-jqgrid-btable .butAction, #chronoTable .butAction {
    display: inherit;
}

.panCache{
    display: none;
}


.middle{
    width: 50%;
}

table.espace th, table.espace td{
    padding: 10px;
    text-align: center;
}

.floatL{
    float: left;
    margin: 3px 50px 10px;
}






table.fullTable {
    width: 100%!important;
    overflow-x: scroll;
    display: block;
}
table.fullTable tr td.resize{/*correction bug dans repport Bug*/
    font-size:11px!important;
}

table.tabBorder100{
    width: 100%;
    border: double grey 4px;
}

table.tabBorder100 td{
    border: solid grey 1px;
    padding: 3px;
}

.captureSignature{
    min-width: 300px;
    min-height: 300px;
    border: solid black;
}


.loginphoto{
    width: 16px;
}



#calendar .ui-checkboxradio-icon, #calendar .ui-button-icon{
        float: left;
}


#zoneR{
    position: fixed;
    right: 40px;
    top: 20px;
    width: auto;
    background: white;
    padding: 19px;
    border: black solid;
    border-radius: 13px;
}


input, input.flat, textarea, textarea.flat, form.flat select, select, select.flat, .dataTables_length label select{
    color: black;
}



/* z-index modal au dessus du reste*/
/*Note Flo: z-index corrigés pour fullscreen bimpcaisse - ne pas mettre de valeurs inféreieures*/
.ui-widget-overlay{
    z-index: 11250!important;
}
.ui-widget.ui-widget-content{
    z-index: 11251!important;
}.ui-widget.ui-widget-content.ui-autocomplete{
    z-index: 11252!important;
}

.fullScreen{
    z-index: 10002!important;
}

input[name='options_libelle']{
    width: 300px;
}

span.select2-container{
        min-width: 100px;
}

.objectIcon.green{
    color:green;
}