/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2015, 11:06:52
    Author     : victor
*/

@media (max-width:1150px){
    div.fichetwothirdright,div.fichethirdleft{
        float: none;
        width: 100%;

    }

    div.fichetwothirdright{
        margin-top: 15px;
    }

    div.ficheaddleft{
        padding-left: 0;
    }
}

@media (max-width: 940px) ,(max-device-width: 940px)
{
    #but-menu/*.vmenu,#tmenu_tooltip*/{
        display: block;
        width: 42px;
        height: 42px;
        background-image: url(../img/menu.png);
        /*background-size: 25px 25px;*/
        background-size: 42px 42px;
        background-repeat: no-repeat;
        cursor: pointer;
        position:fixed;
        z-index: 101;
        top:2.5px;
        left:5px;
    }

    #id-left, div.tmenudiv{/*conteneur 1 et 2*/
        top:48px;
        position: fixed;
        padding-top: 0;
        bottom: 0;
        /*height: 100%;*/
        background-color: silver;
        border: black solid 1px;
        overflow-y: scroll;
    }

    #id-left{/*conteneur de menu 2*/
        left: -300px;
        width: 300px;
    }
    

    div.mainmenu.topmenuimage{
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-position-y: 20px;
        background-repeat: no-repeat;
        z-index: 100;
    }
    
    div.tmenucenter{
        position: relative;
    }
    
    a.tmenusel, a.tmenu{
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        z-index: 0;
    }
    
    li.tmenusel, li.tmenu{
        /*padding: 0;*/
    }

    .tmenudiv ul.tmenu{/*conteneur du menu 1*/
        width: 200px;
        z-index: 60;
        overflow: scroll;
        height: 100%;
    }
    
    span.timePage{
        display: none;
    }

    li#mainmenutd_{
        display: none;
    }

    div.vmenu{
        width: 95%;
        top:0;
        bottom: 15px;
    }

    .tmenu li div, .vmenu a, .vmenu div, .vmenu span, label, form, div, tbody, .vmenu span{

        font-size: 15px!important;
    }

    a img, td img{
        height: 15px!important;
    }

    /*    .topmenuimage, .mainmenu.tmenudisabled{
            display: none!important;
        }*/

    .login_table{
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
    }

    input[type=image]{
        width: auto;
        min-width: 0;
    }

    div#login_left,div#login_right{
        min-width: 0;
    }

    .tmenudiv ul.tmenu li{/*element du menu 1*/
        width: 100%;
        height: 100px;
        /*padding-top: 24px;*/
        float: left;
        background: #8c8c8c;
        border: solid 1px #c0c0c0;
    }
    
    div#responsive_titre{
        font-size: 20px!important;
        position: relative;
        text-align: center;
        top: 12px;
    }

    .bodylogin div.login_vertical_align{
        bottom: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    
    td.loginfield strong label,#username, #password, td.loginfield label, #securitycode{
        font-size: 200%!important;
    }
    
    td a img#captcha_refresh_img{
        height: 35px!important;
    }
    
    #img_securitycode{
        width: 250px;
        height: 60px!important;
    }
    
    div#login_right img#img_logo{
        width: 250px;
        height: 200px;
        max-width: 400px;
        max-height: 400px;
    }
    
    .wc-toolbar{
        padding-left: 0;
    }
    
    
    .ui-buttonset  .wc-next, .ui-buttonset .wc-prev, .ui-buttonset .wc-today{
        /*width: 75px!important;*/
        width: 4em!important;
        /*height: 32px;*/
        height: 2em;
        vertical-align: middle;
    }
    
    div.formleftzone input{
        margin-left: -200px;
    }
    
    .ui-buttonset .wc-today{
        width: 2em!important;
        margin-left: 0.6em;
        margin-right: 0.3em;
    }
    
    .wc-toolbar .wc-title{
        font-size: 0px;
    }
    
    
    .wc-today .ui-button-text{
        display: none;
    }
    
    .login a{
        margin-left: -5px;
    }
    
    #login_line2 input{
        width: 415px;
        height: 70px;
        font-size: 58px!important;
    }
    
    #username, #password, #securitycode{
        height: 60px;
    }

    #login{
        height: 100%
    }

    div.tmenudiv{
        left:-450px;
        position: fixed;
        top:48px;
        height: 100%;
        overflow: hidden;
    }

    #login_right{
        float : center;
        background-position: left;
        position: relative;
        margin: auto;
    }

    #login_line2, #login_line2 a{
        text-align: center;
        display: block;
    }

    #login_line2 div{
        text-align: left;
    }

    #login_line1 div{
        display: block;

    }

    .left{
        margin: auto;
    }

    #id-right{
        z-index: 4;
        top:50px;
        position: absolute;
        left: 0;
    }

    div.login_block{
        max-width: 150px;
    }

    div.login_block_user, div.login_block_other{
        float: left;
        clear: none;
    }

    div.login_block_other img{
        height: 35px!important;
    }
    

    div#tmenu_tooltip{
        position: fixed;
        width: 100%;
        top:0;
        padding-right: 0;
        z-index: 100;
        background-color: silver;
    }

    div.login_block{
        z-index: 101;
        position: fixed;
    }

    .fichehalfright{
        float: none!important;
    }

    #id_cach{
        width:100%;
        height:100%;
        z-index:50; 
        position:fixed;
        top:48px;
        background: black;
        opacity: 0;
        display: none
    }
}


@media (max-device-width: 940px)
{
    .tmenu li div, .vmenu a, .vmenu div, .vmenu span, label, form, div, tbody, .vmenu span, input, select{

        font-size: 25px!important;
    }

    a img, td img{
        height: 25px!important;
    }
    
    input[type=checkbox], input[type=radio]{
        min-width: 50px;
    }
    
    .ui-button-text-icon-primary .ui-button-text{
        display: none!important;
    }
    
    .wc-toolbar h1.wc-title{
        font-size: 0px;
    }

    input, select{
        height: 45px;
        min-width: 200px;
        /*width: auto;*/
        margin: 5px;
        /*font-size:28px!important;*/
    }

    input.rad{
        width: 20px!important;
        display: inline-block;
    }
}


@media(min-width: 941px) and (min-device-width: 941px){
    .vmenu, .vmenu a, .vmenu div , div#tmenu_tooltip div.tmenudiv{
        font-size: 1em!important;
        left: 0px!important;

    }


    #id-right{
        display: table-cell!important;
    }


    .vmenu{
        height: auto;
    }
    
    div#responsive_titre{
        display: none;
    }
    
    
    .fiche{
        /*width: 100%;*/
    }
}
