.gsxRepairViewForm {
  display: none;
  text-align: center;
}
.gsxRepairViewForm .gsxRepairViewFormContent {
  text-align: left;
  max-width: 600px;
  margin: auto;
  display: inline-block;
}

.partsListContainer .partsSearchContainer {
  padding: 10px;
  background-color: #F0F0F0;
  margin-bottom: 15px;
}
.partsListContainer .searchBloc {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.partsListContainer .searchBloc input, .partsListContainer .searchBloc select {
  margin: 0 8px;
}
.partsListContainer .searchBloc .btn {
  margin: 0 15px;
}

#partsList .panel-title {
  font-weight: bold;
}
#partsList .badge {
  font-size: 11px;
  margin: -3px 8px 0;
}
#partsList .badge.badge-danger {
  background-color: #780000;
}

.partsSearchResult {
  display: none;
  padding: 10px;
  margin: 10px 0;
  background-color: #F0F0F0;
}

.curKeywords .curKeyword {
  display: inline-block;
  margin: 5px 12px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #A0A0A0;
}
.curKeywords .curKeyword:before {
  font-family: "FontAwesome";
  margin-right: 8px;
  content: "\f0b0";
}
.curKeywords .curKeyword .removeKeyWord {
  cursor: pointer;
}
.curKeywords .curKeyword .removeKeyWord i {
  font-size: 14px;
  margin-left: 12px;
  color: #505050;
}
.curKeywords .curKeyword .removeKeyWord i:hover {
  color: #A00000;
}

.partSearchNum {
  display: inline-block;
  margin: 5px 12px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #A0A0A0;
}
.partSearchNum:before {
  font-family: "FontAwesome";
  margin-right: 8px;
  content: "\f002";
}
.partSearchNum .removeSearch {
  cursor: pointer;
}
.partSearchNum .removeSearch i {
  font-size: 14px;
  margin-left: 12px;
  color: #505050;
}
.partSearchNum .removeSearch i:hover {
  color: #A00000;
}

.dataInputTemplate {
  display: none;
}

.subInputsList {
  margin-bottom: 15px;
}

.rapairFormQuestions {
  margin: 15px;
  padding-left: 15px;
  border-left: 1px dotted #B2B2B2;
}

.repairFormQuestion {
  margin-top: 10px;
}
.repairFormQuestion .repairQuestionLabel {
  font-weight: bold;
}
.repairFormQuestion .repairQuestionInput {
  margin: 5px 15px;
}
.repairFormQuestion .repairQuestionInput input, .repairFormQuestion .repairQuestionInput select {
  width: 300px;
}
.repairFormQuestion .repairQuestionInput textarea {
  width: 600px;
}
