body,div,h1,li,ul{
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
li{
    list-style-type:none;
}
.menubar{
    background-color:#43CD80;
    overflow:hidden;
}
.menubar>ul{
    padding-left:20px;
}
.menubar>ul>li{
    float:left;
    padding:10px 15px 10px 15px;

}
.menubar>ul>li>a{
    font-size:18px;
    color:#fff;
}
.home{
    background-color:#3CB371;
}

.submenu1,.submenu2{
    position:absolute;
    background-color:#1E394F;
    border-bottom:solid #43CD80 5px;
    display:none;
}
.product:hover>.submenu1{
    display:block;
}
.service:hover>.submenu2{
    display:block;
}
.submenu1>li{
    padding:5px 10px 5px 10px;
}
.submenu1>li:hover{
    background-color:#5D7B93;
    border-left:solid #43CD80 5px;
}
.submenu1>li>a{
    color:#fff;
}
.submenu2>li{
    padding:5px 10px 5px 10px;
}
.submenu2>li:hover{
    background-color:#5D7B93;
    border-left:solid #43CD80 5px;
}
.submenu2>li>a{
    color:#fff;
}