*::-moz-placeholder {
    color: #787878!important;
}

.Bimp_Propal_form {
    select {
        min-width: 200px;
    }
}

.select2-search--dropdown {
    padding-right: 28px;

    &:after {
        font-family: 'FA5S';
        content: '\f002';
        color: $gray-dark;
        position: absolute;
        top: 9px;
        right: 8px;
        font-size: 14px;
    }
}

.formInputGroup {
    padding-left: 25px;
    border-left: 3px solid $gray;
    margin: 30px 0;

    .formGroupHeading {
        margin-bottom: 5px;

        .formGroupTitle {
            display: inline-block;

            h3 {
                margin-top: 0;
            }
        }
        .formGroupButtons {
            display: inline-block;
            float: right;

            .btn {
                margin-left: 5px;
            }
        }
    }
    .formGroupButtons {
        display: block;
        text-align: right;

        .btn {
            margin-left: 5px;
        }
    }

    &.subObjectForm {
        border: 1px solid #969696;
        padding: 10px;
    }
}

.subObjectsMultipleForms {
    .formInputGroup {
        margin: 10px 0;
    }
}

.fieldRow,
.formRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .inputLabel, 
    .inputContainer,
    .inputMultipleValuesContainer {
        padding: 10px 15px;
        /*margin-right: 12px;*/
    }

    .inputLabel {
        color: #fff;
        background-color: $primary;
        border-bottom: 1px solid #fff;
        font-weight: bold;
        text-align: right;
        vertical-align: middle;
    }

    .fieldRowInput,
    .formRowInput {
        color: $secondary;
        background-color: #fff;
        border-bottom: 1px solid $gray_light;

        .inputContainer {      
            select {
                max-width: 350px!important;
            }
            input {
                width: 350px;

                &[type=checkbox] {
                    width: auto;
                }
            }
            textarea {
                width: 100%;
            }
        }

        .select2 {
            min-width: 160px;
        }
    }
}

@media (max-width: $screen-sm) {
    .fieldRow,
    formRow {
        display: block;

        .inputLabel {
            text-align: left;
        }
    }
}

/*.formRow {
    padding: 5px;
    width: 100%;

    .formLabel {
        text-align: right;
        display: inline-block;
        width: 25%;
        padding-right: 15px;
    }

    .formInput {
        text-align: left;
        display: inline-block;
        width: 70%;

        select.fullwidth, 
        input.fullwidth {
            width: 100%;
        }
    }

    input[type=checkbox] {
        margin-right: 12px;
    }
}*/
.formSubmit {
    text-align: right;
    padding: 10px 20px;
    .button {
        margin-left: 10px;
    }
}
.inputHelp {
    font-size: 12px;
    font-style: italic;
    color: darken($gray, 15%);
    margin: 8px 0;
    padding-left: 15px;
}
.objectToolbar,
.toolBar {
    padding: 15px 0;
    text-align: right;
}

.inputTemplate {
    display: none;
}
.subObjectFormTemplate {
    display: none;
}

/*Inputs*/
input {
    padding-bottom: 5px!important;

    &[type=checkbox] + label {
        margin-left: 8px;
    }

    &[type=text] {
        min-width: 60px;
    }
}

select {
    min-width: 60px;
}

input, select {
    background-color: #fff;
    color: #3C3C3C;
    @include transition(all 0.5s ease);
}

.inputContainer.value_required,
.inputMultipleValuesContainer.value_required {
    border: 1px solid #ff0000;
    box-shadow: 0 0 2px #780000
}

.inputContainer {
    margin: 2px;
    vertical-align: top;

    .help {
        font-size: 12px;
        font-style: italic;
        color: $gray;
        margin: 8px 0;
        padding-left: 15px;
    }

    .addValueInputContainer button.addValueBtn {
        margin-left: 15px;
    }

    .input_card_container {
        padding-top: 15px;
        padding-left: 25px;
    }
}
.inputGroupContainer {
    display: inline-block;
    vertical-align: middle;
}
.auto_expand {
    overflow: hidden;
    line-height: 16px !important;
}
.input-group {
    input {
        padding-bottom: 5px;
    }
}
.object_view_content textarea.note,
.objectlistTable textarea.note {
    background-color: #FFFFE1;
    border-color: #FFFFE1;
    padding: 6px 15px;
    border-radius: 8px;
    box-shadow: 0 0 2px #787878;
}

select.switch {
    width: 75px;
    font-weight: bold;

    option[value='1'] {
        color: #3b6ea0;
    }
    option[value='0'] {
        color: #8C8C8C;
    }
}
.formSwitch {
    label {
        margin-right: 20px;
    }

    input {
        margin: 0 5px;
    }
}
.toggleContainer {
    margin-top: 6px;
    display: inline-block;
}
.toggle {
    display: none;

    & + span,
    & + span + label + span {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top;
        line-height: 20px;
        margin: 0 6px;
        color: $gray;
        @include transition(all 0.5s ease);
    }

    & + span {
        color: $gray-dark;
    }

    & + span + .toggle-slider {
        position: relative; 
        display: inline-block;
        width: 40px; 
        height: 20px;
        cursor: pointer;
        border-radius: 1.5em;
        @include transition(350ms);
        background: linear-gradient(rgba(#000,0.07),rgba(#fff,0)),#ddd;
        box-shadow:
            0 0.07em 0.1em -0.1em rgba(#000,.4) inset,
            0 0.05em 0.08em -0.01em rgba(#fff,.7);
        margin-bottom: 0!important;

        &:after {
            position: absolute; 
            content:'';
            width: 16px; 
            height: 16px;
            top: 2px; 
            left: 2px;
            border-radius: 50%;
            @include transition(250ms ease-in-out);
            background: linear-gradient(#f5f5f5 10%,#eee);
            box-shadow:
                0 0.1em 0.15em -0.05em rgba(#fff,.9
                ) inset,
                0 0.2em 0.2em -0.12em rgba(#000,.5);    
        }

        &:before {
            position: absolute; content:'';
            width: 32px; 
            height: 12px;
            top: 4px; 
            left: 4px;
            border-radius: 0.75em;
            @include transition(250ms ease-in-out);
            background: linear-gradient(rgba(#000,0.07),rgba(#fff,0.1)),#d0d0d0;
            box-shadow:
                0 0.08em 0.15em -0.1em rgba(#000,.5) inset,
                0 0.05em 0.08em -0.01em rgba(#fff,.7),
                0 0 0 0 rgba(#4c6,.7) inset;
        }
    }
    &:checked {
        & + span {
            color: $gray;
        }
        & + span + label + span {
            color: #2fa04b;
        }
        & + span + .toggle-slider {
            &:before {
                box-shadow:
                    0 0.08em 0.15em -0.1em rgba(#000,.5) inset,
                    0 0.05em 0.08em -0.01em rgba(#fff,.7),
                    3em 0 0 0 rgba(#4c6,.7) inset;        
            }  
            &:after {
                left: 22px
            }
        }
    }
}
.search_input_results {
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 4px 4px 4px #505050;
    padding: 0 15px;

    button {
        display: block;
        width: 100%;
        text-align: left;
    }
}
.switchOption {
    &.selected {
        color: #fff!important;
        background-color: $selection!important;
        border-color: $selection!important;
    }
}
.timer_input {
    input, select {
        width: 45px!important;
    }
    span {
        display: inline-block;
        font-weight: bold!important;
        margin: 8px;
    }
}
.optionsContainer {
    text-align: right;

    .optionsButton {
        display: inline-block;
        margin: 5px;
        color: $secondary;
        font-weight: normal;
        margin: 0 3px;
        padding: 4px 6px;
        height: 100%;
        cursor: pointer;
        font-size: 12px;

        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background-color: $primary;

            &:before {
                color: #fff;
            }
        }

        &:before {
            font-size: 14px;
            color: $primary;
            font-family: 'FontAwesome';
            content: '\f013';
            margin-right: 8px;
        }
    }
}
.inputMultipleValues {
    margin: 15px 0;

    & > table {
        width: 100%;
    }
    & > table > tbody > tr.itemRow {
        background-color: #fff;
        border: 1px solid $gray;
        width: 100%;
        & > td {
            background-color: #fff;
            color: #3c3c3c;
            font-weight: bold;
            padding: 3px 12px;
        }

        & > td.item_label {
            width: 80%;
        }
        & > td.positionHandle {
            width: 10%;
        }

        & > td.removeButton {
            width: 10%
        }

        &.ui-sortable-helper {
            box-shadow: 0 0 2px 2px #2F7EA0;

            & > td {
                background-color: #fff;
            }
        }

        &.ui-sortable-placeholder {
            height: 30px;
        }
    }
}
.qtyInputContainer {
    display: inline-block;

    .qtyDown,
    .qtyUp {
        @include transition(all 0.3s ease);
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 23px;
        color: $gray-dark;

        i {
            vertical-align: middle;
            display: inline-block;
        }

        &:hover {
            background-color: $gray-dark;
            color: #fff;
        }

        &.disabled,
        &.disabled:hover {
            background-color: #fff;
            color: #B4B4B4;
        }
    }

    .qtyInput {
        max-width: 80px;
    }
}
.selectOptionHelp {
    display: none;
    margin: 10px 0;
}
.search_input_selected_label {
    font-weight: bold;
    color: $gray-dark;

    i.fa-check {
        color: $success;
    }
}

.texarea_values {
    padding-left: 10px;
    max-height: 60px;
    overflow-y: auto;
    background-color: #F5F5F5;
    list-style: none;

    .textarea_value {
        cursor: pointer;

        &:hover {
            background-color: #EBEBEB;
        }
    }
}

input.disabled,
textarea.disabled,
select.disabled {
    background-color: #E6E6E6!important;
    cursor: progress;
}

input[type=text].large_input {
    @include transition(all 0.3s ease);
    min-width: 300px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid $gray-dark;

    &:focus {
        box-shadow: 0 0 4px #0087B4;
        border-color: #005A78;
    }
}

.searchZipTownResults {
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 4px 4px 4px #505050;
    padding: 0 15px;
    max-height: 400px;
    overflow-y: auto;

    .btn {
        margin: 0
    }
}

/*Check lists:*/ 

.check_list_container {
    max-height: 450px;
    overflow-y: auto;
    margin: 10px;
}
.check_list_item,
.check_list_group_caption {
    margin: 0;
    padding: 0;

    & > label,
    & > .check_list_group_title {
        @include transition(all 0.3s ease);  
        display: inline-block;
        max-width: 100%;
        margin-left: 0!important;
        font-weight: bold;
        background-color: #fff;
        color: darken($gray, 20%);
        cursor: pointer;
    }
}

.check_list_item > input[type=checkbox],
.check_list_group > input[type=checkbox] {
    display: none;
}

.check_list_item > label,
.check_list_group_caption {
    margin: 0 0 5px 0;
    padding: 0 6px 0 24px;

    &:before {
        font-family: 'FontAwesome';
        margin-left: -24px;
        margin-right: 16px;
        font-weight: normal;
        content: '\f096';
        font-size: 14px;
        vertical-align: middle;
    }
}

.check_list_item > input[type=checkbox]:checked + label,
.check_list_group > input[type=checkbox]:checked + .check_list_group_caption {
    color: $gray-darker;

    &:before {
        font-size: 16px;
        content: '\f046';
        color: $primary;
    }
}

.check_list_group_caption > .check_list_group_title {
    @include transition(all 0.3s ease);

    &:after {
        font-family: 'FA5S';
        margin-right: 0;
        margin-left: 8px;
        font-weight: bold;
        font-size: 14px;
        vertical-align: middle;
    }

    &:hover {
        color: #3C3C3C
    }
}

.check_list_group.open {
    & > .check_list_group_caption > .check_list_group_title:after {
        content: '\f0d8';
    }

    & > .check_list_group_items {
        display: block;
    }
}

.check_list_group.closed {
    & > .check_list_group_caption > .check_list_group_title:after {
        content: '\f0d7';
    }

    & > .check_list_group_items {
        display: none;
    }
}

.check_list_group_items {
    padding-left: 10px;
    margin-left: 5px;

    border-left: 1px dotted #B4B4B4;
}
/*Free Forms*/

.freeForm {
    margin: 15px 0;
    text-align: left;

    .alert {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .freeFormContent {
        padding: 15px;
        background-color: #fff;
        border: 1px solid $secondary;
    }

    .freeFormTitle {
        background-color: $secondary;
        color: #fff;
        font-size: 18px;
        padding: 10px 15px;
    }

    .freeFormRow {
        padding: 10px 0;
        border-bottom: 1px solid $gray;
    }

    .freeFormLabel {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .freeFormInput {
        margin-left: 30px;

        .select2-container {
            width: 100%!important;
        }
    }

    .freeFormAjaxResult {
        margin: 15px 0;
        display: none;
    }

    .freeFormSubmit {
        margin-top: 20px;

        &.rightAlign {
            text-align: right;

            .btn {
                margin-left: 15px;
            }

            .buttonLeft {
                float: left;
                margin-left: 0;
                margin-right: 15px;
            }
        }

        &.leftAlign {
            text-align: left;

            .btn {
                margin-right: 15px;
            }

            .buttonRight {
                float: right;
                margin-right: 0;
                margin-left: 15px;
            }
        }


    }
}

.bimp_form {
    .bimp_form_row {
        width: 100%;
        margin-bottom: 10px;
    }

    &.labels_up {
        label {
            display: block;
        }
    }

    .select2 {
        width: 100%!important;
        max-width: 100%!important;
    }
}

.ui-menu .ui-menu-item a {
    padding: .12em .4em!important;
}

.ui-menu .ui-menu-item:last-child a {
    padding-bottom: 1em!important;
}

/*Single Line Forms:*/

.singleLineForm {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #787878;

    .singleLineFormCaption {
        padding: 5px 12px; 
        background-color: #F0F0F0;
    }

    .singleLineFormContent {
        padding: 5px 12px; 
    }

    .inputContainer {
        display: inline-block;
        padding: 4px 0;
        margin-right: 20px;

        .inputHelp {
            display: none;
        }
    }
}