/*Text-align*/

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/*Fonts styles*/
.bold {
    font-weight: bold;
}
 
p.smallInfo {
    color: #787878;
    margin: 5px 0;
    font-size: 11px;
    font-style: italic;
}

/*Scrolls*/

.h_auto_scroll {
    overflow-x: auto;
}

.v_auto_scroll {
    overflow-y: auto;
}

.h_scroll {
    overflow-x: scroll;
}

.v_scroll {
    overflow-y: scroll;
}