/*Text-align*/

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/*Fonts styles*/
.bold {
    font-weight: bold;
}

/*Scrolls*/

.h_auto_scroll {
    overflow-x: auto;
}

.v_auto_scroll {
    overflow-y: auto;
}