table.bimp_list_table,
table.objectlistTable {
    td,th {
        padding: 5px;
    }

    border: none;
    box-shadow: none;
    width: 100%;

    & > thead > tr > th {
        padding: 10px 6px;
        margin-bottom: 8px;
        color: #fff;
        background-color: $primary;
        text-align: left;
        font-weight: bold;

        min-width: 80px;

        &.th_checkboxes {
            min-width: 40px!important;
            width: 40px!important;
        }

        &.th_tools {
            min-width: 0;
        }

        &.positionHandle {
            min-width: 30px;
        }
    }

    & > tbody > tr {
        @include transition(all 0.3s ease);
        background-color: #fff!important;

        & > th {
            padding: 5px 12px 5px 6px;
            background-color: $primary;
            color: #fff;
            border-bottom: 1px solid #fff;
            text-align: right;

            a {
                color: #fff;
                font-weight: bold!important;

                &:hover {
                    font-weight: bold!important;
                    color: #fff;
                    text-decoration: underline;
                }
            }

            .objectIcon {
                color: #F0D5B8;

                &:hover {
                    color: #fff;
                }
            }
        }

        & > td {
            padding: 4px 6px;
            border-bottom: 1px solid #ddd;
            background-color: #fff!important;

            @media (max-width: $screen-sm) {
                .toggle-label-off,
                .toggle-label-on {
                    display: none;
                }
            }

            .inputContainer {
                display: inline-block;
                width: 99%;
            }

            .inputHelp, .inputInfo {
                display: none;
            }

            input, textarea, select {
                width: 100%;
                color: $input-color;
                font-weight: normal;
            }

            .select2-container {
                width: 100% !important;
                min-width: 100%;
            }

            .popover {
                color: $gray-darker;
            }

            .toggle-label-off,
            .toggle-label-on {
                display: none;
            }

            .addValueInputContainer button.addValueBtn {
                float: right;
            }
        }

        &.deactivated {
            background-color: #DCDCDC!important;
            border-color: #C8C8C8!important;
            color: #646464!important;

            & > td {
                background-color: #DCDCDC!important;
                border-color: #C8C8C8!important;
                color: #646464!important;
            }
        }

        &.selected {
            background-color: #FFF5E1!important;

            & > td {
                background-color: #FFF5E1!important;
            }
        }

        &.modified  {
            background-color: #E1F5FF!important;
            border-color: #E1F5FF!important;

            & > td {
                background-color: #E1F5FF!important;
                border-color: #E1F5FF!important;

                .inputContainer .modified {
                    box-shadow: 0 0 3px #003550!important;
                }
            }
        }

        &:hover {
            background-color: #FAFAFA!important;

            & > td {
                background-color: #FAFAFA!important;
            }
        }

        &.deactivated:hover {
            background-color: #E6E6E6!important;

            & > td {
                background-color: #E6E6E6!important;
            }
        }

        &.selected:hover {
            background-color: #FFEFCD!important;

            & > td {
                background-color: #FFEFCD!important;
            }
        }

        &.modified:hover {
            background-color: #CDEFFF!important;

            & > td {
                background-color: #CDEFFF!important;
            }
        }
    }

    & > tfoot > tr > th {
        color: #fff;
        background-color: $primary;
        text-align: right;
        padding: 5px 12px 5px 6px;
    }

    & > tfoot > tr > td {
        background-color: #E6E6E6;
        font-weight: bold;
        color: $gray-darker;
        padding: 5px 6px;
    }

    .objectSubList {
        width: 100%;
        & > thead > tr > th {
            padding: 4px 10px;
            margin-bottom: 4px;
            color: $gray-darker;
            background-color: $gray-lighter;
            text-align: left;
            font-weight: bold;
            border-bottom: 1px solid $primary;
        }

        & > tbody > tr {
            &.selected {
                background-color: #FFF5E1!important;

                & > td {
                    background-color: #FFF5E1!important;
                }
            }

            &.deactivated {
                background-color: #DCDCDC!important;
                border-color: #C8C8C8!important;
                color: #646464!important;

                & > td {
                    background-color: #DCDCDC!important;
                    border-color: #C8C8C8!important;
                    color: #646464!important;
                }
            }

            &.modified  {
                background-color: #E1F5FF!important;
                border-color: #E1F5FF!important;

                & > td {
                    background-color: #E1F5FF!important;
                    border-color: #E1F5FF!important;

                    .inputContainer .modified {
                        box-shadow: 0 0 3px #003550!important;
                    }
                }
            }

            &:hover {
                background-color: #FAFAFA!important;

                & > td {
                    background-color: #FAFAFA!important;
                }
            }

            &.deactivated:hover {
                background-color: #E6E6E6!important;

                & > td {
                    background-color: #E6E6E6!important;
                }
            }

            &.selected:hover {
                background-color: #FFEFCD!important;

                & > td {
                    background-color: #FFEFCD!important;
                }
            }

            &.modified:hover {
                background-color: #CDEFFF!important;

                & > td {
                    background-color: #CDEFFF!important;
                }
            }
        }

        & > tbody > tr > td {
            padding: 4px 10px;
            border-bottom: 1px solid $gray-light;
            background-color: #fff;
            color: $gray-dark;
        }

        & > tfoot > tr {
            & > td, & > th {
                padding: 4px 10px;
                border: none;
                background-color: #F0F0F0;
                color: $gray-darker;
                font-weight: bold;
            }
            & > th {
                text-align: right;
                padding-right: 20px;
            }
        }
    }

    tr.margin_row {
        background-color: #fff;
        & > td {
            background-color: #fff;
            height: 15px;
        }
    }

    tr.total_row {
        & > th {
            text-align: right;
            padding-right: 20px;
        }

        & > td {
            font-weight: bold;
            background-color: #F0F0F0!important;
        }

        & > td, & > th {
            border-top: 1px solid #787878;
            border-bottom: 1px solid #787878;
        }

        & > th:first-child,
            & > td:first-child {
            border-left: 1px solid #787878;
        }

        & > td:last-child {
            border-right: 1px solid #787878;
        }
    }

    & > tfoot > tr.paginationContainer > td {
        background-color: #fff;
    }

    .listFooterButtons > td {
        background-color: #fff;
        padding: 10px 0 0;
    }

    &.center-align {
        & > thead > tr.col_headers > th,
        & > tbody > tr > td,
        & > tfoot > tr > td {
            text-align: center;
        }
    }
}

.sortTitle {
    cursor: pointer;

    &:after {
        font-family: 'FontAwesome';
        margin-left: 8px;
        opacity: 0;
        color: #fff;
        transition: all 0.15s ease;
        -webkit-transition: all 0.15s ease;
    }
    &:hover,
        &.active {
        text-decoration: none!important;
        &:after {
            opacity: 1;
        }
    }

    &.sorted-asc:after {
        content: '\f0d7';
    }
    &.sorted-desc:after {
        content: '\f0d8';
    }
    &.active.sorted-asc:after {
        content: '\f0d8';
    }
    &.active.sorted-desc:after {
        content: '\f0d7';
    }
    &.active.sorted-asc:hover:after {
        content: '\f0d7';
    }
    &.active.sorted-desc:hover:after {
        content: '\f0d8';
    }

    &.deactivated,
    &.deactivated:hover {
        cursor: not-allowed;

        &:after {
            opacity: 0!important;
        }

    }
}

tr.listSearchRow {
    display: none;
    background-color: #DCDCDC;

    & > td {
        background-color: #DCDCDC;    
    }

    i.fa-search {
        font-size: 16px;
        font-weight: bold;
        color: #787878;
    }
    .inputHelp {
        display: none;
    }

    #search_id {
        max-width: 45px;
    }
    td.searchTools {
        text-align: right;

        .btn {
            margin-right: 10px;
        }
    }

    .searchInputContainer {
        width: 100%;
        padding: 2px;

        input, select, .input-group, span.select2 {
            width: 100% !important;
            min-width: 100px!important;
        }

        .optionsContainer {
            display: none;
        }

        .loading {
            display: none;
        }

        .minwidth200 {
            min-width: 0;
        }
    }

}

tr.addObjectRow {
    background-color: #A0A0A0!important;

    & > td {
        background-color: #A0A0A0!important;
    }

    & > td:first-child {
        text-align: center;

        i.fa-plus-circle {
            font-size: 20px;
            font-weight: normal;
            color: #DCDCDC;
        }
    }

    .inputHelp {
        display: none;
    }

    .inputContainer {
        input, select, textarea {
            width: 100%;
        }
    }
}

th.th_tools {
    margin-right: 25px;
}

.headerTools {
    text-align: right;
    height: 100%;

    .headerButton {
        display: inline-block;
        margin: 5px;
        color: #fff;
        font-weight: normal;
        margin: 0 3px;
        padding: 4px 6px;
        height: 100%;
        cursor: pointer;
        font-size: 14px;

        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover {
            color: #EF7D00;
            background-color: #fff;
        }
        &:before,
            &:after {
            font-family: 'FontAwesome';
        }
    }
    .openFiltersPanelButton:before {
        content: '\f0b0';
    }
    .openSearchRowButton:before {
        content: '\f002';
    }
    .openAddObjectRowButton:before {
        content: '\f055';
    }
    .activatePositionsButton:before {
        content: '\f07d';
    }
    .openBulkActionsPopupButton:before {
        content: '\f046';
    }
    .openParametersPopupButton:before {
        content: '\f013';
    }
    .refreshListButton:before {
        content: '\f01e';
    }
    .loadingIcon {
        display: inline-block;
        margin: 5px;
        color: #fff;
        font-weight: bold;
        margin: 0 3px;
        padding: 2px 6px;
        height: 100%;
        opacity: 0;
        font-size: 16px;

        &:before {
            font-family: 'FontAwesome';
            content: '\f110';
        }

        &.visible {
            opacity: 1;
        }
    }
}

td.buttons {
    text-align: right;
    min-width: 160px;
    padding-right: 6px!important;

    .btn {
        margin-right: 4px;
    }
}

.rowButton {
    color: #636363!important;
    text-align: center;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    line-height: 28px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 1px;
    font-size: 13px;
    font-weight: normal;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    &:hover {
        color: #fff!important;
        background-color: #EF7D00;
        text-decoration: none;

        i {
            color: #fff!important;
        }
    }
    &:before {
        font-family: 'FA5S';
    }
    &.editButton:before {
        content: '\f044';
    }
    &.updateButton:before {
        content: '\f0c7';
    }
    &.deleteButton:before {
        content: '\f2ed';
    }
    &.viewButton:before {
        content: '\f06e';
    }

    i {
        color: #636363!important;
    }
}

.ajaxResultContainer {
    display: none;
    margin: 20px 15px;
}

/*Pagination*/

.paginationContainer td {
    background-color: #fff;
}

.listPagination {
    &:empty {
        display: none;
    }

    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-top: 1px solid $gray-light;

    .results_count {
        font-weight: bold;
        text-align: left;
    }

    span.navButton {
        font-size: 13px;
        margin: 0 5px;
        color: #5F5F5F;
        font-weight: bold;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        line-height: 16px;
        vertical-align: middle;

        &:hover {
            color: #EF7D00;
        }
        &:before,
            &:after {
            font-family: 'FontAwesome';
            font-size: 12px;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }
        &.disabled,
        &.disabled:hover {
            color: #C8C8C8;
            cursor: default;
        }
    }
    span.prevButton:before {
        content: '\f053';
        margin-right: 8px;
    }
    span.nextButton:after {
        content: '\f054';
        margin-left: 8px;
    }
    .pages {
        display: inline-block;
        margin: 0 50px;
        color: #A0A0A0;

        .pageBtn {
            font-weight: bold;
            cursor: pointer;
            &:hover {
                color: #505050;
            }
            &.active,
            &.active:hover {
                color: #EF7D00;
                cursor: default;
            }
        }
    }
}

/*Panel Filtres*/

.bimp_filter_container {
    margin-bottom: 5px;

    .bimp_filter_caption {
        font-weight: bold;
        color: $gray-darker;
        padding: 6px 8px;
        margin-bottom: 5px;
        background-color: #DCDCDC;
    }

    .bimp_filter_values_container {
        margin-top: 5px;
    }

    .bimp_filter_value,
    .bimp_filter_value_default {       
        @include transition(all 0.3s ease);
        font-size: 12px;
        display: inline-block;
        margin: 1px;
        padding: 6px 10px;
        background-color: #3E88D2;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #489FF5;
        }

        &.bimp_filter_value_default {
            background-color: #595959;
            &:hover {
                background-color: #595959;
            }
        }

        .bimp_filter_value_remove_btn {

            margin-left: 10px;
            color: #9EC5E6;;
            cursor: pointer;
            float: right;

            &:hover {
                color: #fff;
            }
        }
    }

    input[type=text] {
        width: 100%;
    }

    i.loading {
        display: none;
    }
}

.load_saved_filters_container {
    padding: 5px 0;
    margin: 5px 0;
    border-top: 1px solid $gray-darker;
}
