

.dropdown-menu.dropdown-menu-right.notification-dropdown  {
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;
/*    border: 1px solid grey;
    box-shadow: -5px -5px 2px teal;*/
/*    border: 2px solid rgb(127, 0, 0);
    border: 5px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box;  for Safari 
    background-clip: padding-box;  for IE9+, Firefox 4+, Opera, Chrome */
border: 1px solid rgb(204, 204, 204) !important;
    box-shadow: 1px 1px 2px rgb(204, 204, 204), 0 0 5px rgb(217, 217, 217), 0 0 25px rgb(230, 230, 230);
}

.modifDropdown > a {
    margin-right: 10px;
    /*margin-left: 15px;*/
}

a.nav-link.dropdown-toggle > i {
    color: black !important;
}

.list_notification .list_part {
    border-bottom: 1px solid #f4f4f4;
    padding: 8px;
}
.list_notification .list_part:first-child {
    border-top: 1px solid #f4f4f4;
}

.list_notification .list_part:hover {
    border-left: 5px solid #EF7D00;
    padding-left: 3px;
    background-color: #f5f5f5;
}

.list_notification .list_part.notif_link:hover {
    cursor: pointer;
}
    
.list_notification .list_part .date_notif {
    color: #999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7em;
    text-align: left;
}

/* Demande de validations */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_demande_valid_comm"] {
    width: 270px;
}

/* Bimp message */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_bimp_note"] {
    width: 400px;
}


/* special iframe */

.ajax-modal .BimpNote_list_table_container .headerRow, .ajax-modal .BimpNote_list_table_container td.buttons{
    display: none;
}


/* style general chat */
.msg_cotainer {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* margin-left: 10px; */
    border-radius: 25px;
    background-color: #E6E1E0;
    padding: 10px;
    position: relative;
    margin-bottom: 1.5rem!important;
    min-width: 150px;
    max-width: 65%;
    text-align: center;

    font-size: 1.3em;
    line-height: normal;
}
    
.justify-content-end .msg_cotainer {
    background-color: #78e08f;
}
.justify-content-start .msg_cotainer {
    background-color: #82ccdd;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.msg_time {
    position: absolute;
    left: 25px;
    bottom: -15px;
    color: rgba(0,0,0,0.5);
    font-size: 10px;
}
.justify-content-end .msg_time{
    left: auto;
    right: 25px;
}
    
    
    /* plus spécifique*/
    .img-circle{
        margin: 5px;
    }
    .nonLu{
        opacity: 0.4;
    }
    .nonLu.my{
        opacity: 1; 
      animation: colorblink 2s infinite;
    }
    @keyframes colorblink { 
        0% { }
        50% { 
            opacity: 0; 
        } 
    }   

/* petit */
.petit .msg_cotainer{
    font-size: 1em;
}
.petit.justify-content-end {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}



/* menu */
.lnMsg{
    border-bottom: 1px dotted #B3A9A9;
}

.titreFilMsg{
    font-size:1.4em;
}


/* Bimp task */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_notif_task"] {
    width: auto;    min-width: 800px;

    overflow-y: scroll;
}

div.tabs-animated {
    width: auto;
    max-height: auto;
    overflow-y: scroll;
}

div.task_panel{
    white-space: nowrap;
    max-height: auto;
    overflow-y: scroll;
    padding: 0px;
}

div.single_task {
    text-align: right;
}

/* Les onglets */
ul#nav_task > li {
    width: 48%;
}

ul#nav_task > li.reload {
    width: 2%;
}

.nav-tabs > li.reload > a {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs > li.reload > a > span {
    margin: 0px;
}

.nav-tabs > li.reload > a:hover {
    background-color: unset !important;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(180, 180, 180);
    border-left-color: rgb(255, 255, 255);
}
