
/*div.login_block .dropdown-menu {
    font-weight: normal;
}*/

.dropdown-menu.dropdown-menu-right.notification-dropdown  {
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;
/*    border: 1px solid grey;
    box-shadow: -5px -5px 2px teal;*/
/*    border: 2px solid rgb(127, 0, 0);
    border: 5px solid rgba(255, 0, 0, .5);
    -webkit-background-clip: padding-box;  for Safari 
    background-clip: padding-box;  for IE9+, Firefox 4+, Opera, Chrome */
border: 1px solid rgb(204, 204, 204) !important;
    box-shadow: 1px 1px 2px rgb(204, 204, 204), 0 0 5px rgb(217, 217, 217), 0 0 25px rgb(230, 230, 230);
}

.modifDropdown > a {
    margin-right: 10px;
    /*margin-left: 15px;*/
}

a.nav-link.dropdown-toggle > i {
    color: black !important;
}

.list_notification .list_part {
    border-bottom: 1px solid #f4f4f4;
    padding: 8px;
}
.list_notification .list_part:first-child {
    border-top: 1px solid #f4f4f4;
}

.list_notification .list_part:hover {
    border-left: 5px solid #EF7D00;
    padding-left: 3px;
    background-color: #f5f5f5;
}

.list_notification .list_part.notif_link:hover {
    cursor: pointer;
}
    
.list_notification .list_part .date_notif {
    color: #999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7em;
    text-align: left;
}

/* Demande de validations */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_demande_valid_comm"] {
    width: 270px;
}

/* Bimp message */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_bimp_note"] {
    width: 400px;
}

/* Bimp task */
div.dropdown-menu.bimp_notification_dropdown[aria-labelledby="dropdown_notif_task"] {
    width: auto;    min-width: 800px;

    overflow-y: scroll;
}

div.tabs-animated {
    width: auto;
    max-height: auto;
    overflow-y: scroll;
}

div.task_panel{
    white-space: nowrap;
    max-height: auto;
    overflow-y: scroll;
    padding: 0px;
}

div.single_task {
    text-align: right;
}

/* Les onglets */
ul#nav_task > li {
    width: 48%;
}

ul#nav_task > li.reload {
    width: 2%;
}

.nav-tabs > li.reload > a {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs > li.reload > a > span {
    margin: 0px;
}

.nav-tabs > li.reload > a:hover {
    background-color: unset !important;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(180, 180, 180);
    border-left-color: rgb(255, 255, 255);
}
