
@-webkit-keyframes bimp-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes bimp-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*Styles génériques*/

.clearAfter:after {
    clear: right;
}

#id-right {
    background-color: #F0F0F0;
}

@media (max-width: $screen-sm-max) {
    #id-right {
        z-index: 9950!important;
    }

    #id-left {
        z-index: 10100!important;
        background-color: #fff;
    }

    #tmenu_tooltip {
        z-index: 10100!important;

        .tmenudiv,
        .tmenudiv ul.tmenu {
            z-index: 10100!important;
        }
    }
    .side-nav {
        z-index: 9960!important;
    }

    #but-menu,
    #id-top .login_block {
        z-index: 10110!important;

    }

    body.has_fullscreen {
        #id-right,
        #id-left {
            z-index: 1!important;
        }

        #tmenu_tooltip,
        .side-nav,
        #but-menu,
        #id-top .login_block {
            display: none;
        }
    }
}

.bimp_controller_content {
    color: $gray-darker;
}
.page_content {
    background-color: #fff;
    padding: 15px;
}

div.tabBar {
    padding-left: 15px;
    padding-right: 15px;
}

.tabBar #controllerTabContentContainer {
    margin-left: -15px;
    margin-right: -15px;

    margin-top: -16px;

    padding: 5px;
}

.tabBarWithBottom #controllerTabContentContainer {
    margin-bottom: -23px;

    & + * {
        margin-top: 39px;
    }
}

.section {
}
.ajaxResultContainer {
    margin: 15px;
}

ul.ui-autocomplete {
    overflow-x: hidden;
}

.ui-autocomplete,
.select2-drop,
.select2-dropdown {
    z-index: 10250!important;
}

body.has_fullscreen {
    .modal {
        z-index: 11100!important;
    }
    .modal-backdrop {
        z-index: 11000;
    }
    .ui-autocomplete,
    .select2-drop,
    .select2-dropdown {
        z-index: 11250!important;
    }
}

.content-loading {
    display: none;
    padding: 60px;
    text-align: center;

    .loading-spin {
        font-size: 32px;
        color: $info;
        margin: 30px;
    }
    .loading-text {
        font-size: 16px;
    }
}

.typeLabel {
    border-radius: 24px;
    padding: 3px 8px;
    font-size: 11px;
    color: #fff;
}

.success {
    font-weight: bold;
    color: $success;
}
.info {
    font-weight: bold;
    color: $info;
}
.warning {
    font-weight: bold;
    color: $warning;
}
.danger {
    font-weight: bold;
    color: $danger;
}
.important {
    font-weight: bold;
    color: $important;
}

div.alert {
    margin: 10px 0;

    ul {
        padding-left: 15px;
    }
}

.date, .time, .datetime {
    font-weight: bold;
}

.datetime .time {
    font-weight: normal;
    font-style: italic;
}

.loading {
    font-size: 18px;
    color: $info;
    opacity: 0;
    margin: 0 8px;
    line-height: 22px;
    vertical-align: middle;
    &.active {
        opacity: 1;
    }
}

.historyPopoverButton {
    margin: 0 6px;
    font-weight: normal;
    color: $gray;
    cursor: pointer;
    font-size: 15px;
    @include transition(all 0.3s ease);

    &:before {
        font-family: 'FontAwesome';
        content: '\f1da';
    }

    &:hover {
        color: $primary;
    }
}

.objectIcon {
    @include transition(all 0.3s ease);

    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;

    color: $gray-dark;

    &:hover {
        color: $primary;
    }
}

.dropdown-title {
    display: block;
    margin: 10px 0;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid $gray;
    color: $gray-darker;
    font-weight: bold;
    font-size: 12px;
}

/*Objects Components*/

.object_component {
    @media (max-width: $screen-sm-max) {
        overflow-x: auto;

        .row {
            margin-right: 0!important;
            margin-left: 0!important;
        }
    }
}

.object_component_content {
    background-color: #fff;
}

/*Boutons*/

.btn {
    margin: 2px;
    i {
        font-size: 14px;

        &.left {
            margin-right: 8px;
        }
        &.right {
            margin-left: 8px;
        }
    }
}

.open-close {
    &:after {
        font-family: 'FontAwesome';
        margin-left: 5px;
    }
    &.action-open:after {
        content: '\f0d7';
    }
    &.action-close:after {
        content: '\f0d8';
    }
}

i.iconLeft {
    margin-right: 8px;
}

i.iconRight {
    margin-left: 8px;
}

.buttonsContainer {
    margin: 10px 0;
    padding: 5px 0;
    button, .button, .btn {
        margin: 5px;
        display: inline-block;
    }

    &.align-left {
        text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
}

.panel-footer {
    .btn, .button, button {
        margin: 2px 4px;
    }

    .btn-group {
        margin: 2px 8px;
        .btn {
            margin: 0;
        }
    }
}

.btn-large {
    @media (min-width: $screen-sm-max) {
        font-size: 14px;
        padding: 12px 20px;

        i {
            font-size: 18px;

            &.iconLeft {
                margin-right: 12px;
            }

            &.iconRight {
                margin-left: 12px;
            }
        }
    }
}

.btn-small {
    font-size: 11px;
    padding: 3px 5px;

    i {
        font-size: 12px;

        &.iconLeft {
            margin-right: 5px;
        }

        &.iconRight {
            margin-left: 5px;
        }
    }
}

.smallActionsContainer {
    margin: 5px 0;
    &,
    &.align-left {
        text-align: left;
        .small-action {
            margin-right: 12px;
        }        
    }
    &.align-right {
        .small-action {
            margin-left: 12px;
        }        
    }
    &.align-center {
        .small-action {
            margin: 0 12px;
        }        
    }
}

.small-action {
    @include transition(all 0.3s ease);
    display: inline-block;
    font-weight: normal;
    color: #787878;
    font-size: 11px;
    cursor: pointer;

    &:hover {
        color: $primary;
    }

    i.iconLeft {
        margin-right: 6px;
    }

    i.iconRight {
        margin-left: 6px;
    }
}

/*Panels*/

.panel {
    .panel_header_icon {
        display: inline-block;
        margin: 10px 3px;

        i {
            @include transition(all 0.3s ease);
        }
    }

    &.panel-default {
        .panel_header_icon i {
            color: lighten($panel-default-heading-bg, 25%);
        }
    }

    &.panel-secondary {
        .panel_header_icon i {
            color: lighten($panel-secondary-heading-bg, 25%);
        }
    }

    &.panel-primary {
        .panel_header_icon i {
            color: lighten($panel-primary-heading-bg, 25%);
        }
    }

    &.panel-success {
        .panel_header_icon i {
            color: lighten($panel-success-heading-bg, 25%);
        }
    }

    &.panel-info {
        .panel_header_icon i {
            color: lighten($panel-info-heading-bg, 25%);
        }
    }

    &.panel-warning {
        .panel_header_icon i {
            color: lighten($panel-warning-heading-bg, 25%);
        }
    }

    &.panel-danger {
        .panel_header_icon i {
            color: lighten($panel-danger-heading-bg, 25%);
        }
    }

    .panel-body {
        /*overflow-x: auto;*/

        .beforePanelContainer {
            margin-bottom: 10px;
        }
        .afterPanelContainer {
            margin-top: 10px;
        }
    }

    .panel_header_icon:hover i {
        color: #fff;
    }
}

/*Modales*/

.modal {
    .modal-dialog {
        margin-top: 100px;

        .modal-body {
            max-height: 950px;
        }

        @media (max-height: 1200px) {
            .modal-body {
                max-height: 800px;
            }
        }
        @media (max-height: 1100px) {
            margin-top: 90px;
            .modal-body {
                max-height: 720px;
            }
        }
        @media (max-height: 1000px) {
            margin-top: 80px;
            .modal-body {
                max-height: 640px;
            }
        }
        @media (max-height: 900px) {
            margin-top: 70px;

            .modal-body {
                max-height: 560px;
            }
        }
        @media (max-height: 800px) {
            margin-top: 60px;
            .modal-body {
                max-height: 480px;
            }
        }
        @media (max-height: 700px) {
            margin-top: 40px;
            .modal-body {
                max-height: 400px;
            }
        }
        @media (max-height: 600px) {
            margin-top: 30px;
            .modal-body {
                max-height: 320px;
            }
        }
        @media (max-height: 500px) {
            margin-top: 20px;
            .modal-body {
                max-height: 240px;
            }
        }
    }

    .modal-nav-buttons {
        display: inline-block;
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #969696;

        .modal-nav-prev,
        .modal-nav-next {
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
            font-size: 18px;
            background-color: #636363;
            color: #B4B4B4;
            border-radius: 50%;
            @include transition(all 0.3s ease);
            text-align: center;
            width: 32px;
            height: 32px;

            i {
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
            }

            &:hover {
                color: #636363;
                background-color: #fff;
            }

            &.disabled {
                cursor: default;
                color: #787878;

                &:hover {
                    background-color: #636363;
                    color: #787878;
                }
            }
        }

        .modal-nav-prev i {
            margin-right: 2px;
        }

        .modal-nav-history {
            display: inline-block;
            margin-left: 10px;

            .dropdown-toggle {
                display: inline-block;
                color: #B4B4B4;
                font-size: 16px;
                cursor: pointer;

                &:before {
                    font-family: 'FontAwesome';
                    content: '\f0d7';
                }

                &:hover {
                    color: #fff;
                }

                &.disabled {
                    color: #787878;
                    cursor: default;

                    &:hover {
                        color: #787878;
                    }
                }
            }
        }
    }

    .modal-titles_container {
        display: inline-block;
    }

    .modal-body {
        padding-bottom: 60px;
        overflow-y: auto;

        .page_modal_img {
            max-width: 100%;
            height: auto;
        }
    }

    .select2-container {
        z-index: 11000;
    }
}

.modal-ui-dialog {
    margin-top: 1px;
}

#openModalBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: $secondary;
    cursor: pointer;
    @include transition(all 0.3s ease);

    i {
        color: #fff;
        font-size: 16px;
        vertical-align: middle;
        margin-right: 1px;
    }

    &:hover {
        background-color: $primary;
    }

    &.closed {
        margin-right: -40px;
    }
}


/*Sections dépliables*/

.foldable_section {
    .foldable_section_caption {
        margin-top: 15px;
        padding: 8px 15px;

        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(top,  #f9f9f9 1%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f9f9f9 1%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f9f9f9 1%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

        border: 1px solid #B4B4B4;
        font-size: 12px;
        font-weight: bold;
        color: #292964;
        cursor: pointer;
    }
    .foldable_section_caption:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f2f2f2+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

    }
    & > .foldable_section_caption:after {
        font-family: 'FontAwesome';
        margin-right: 10px;
        float: right;
        font-size: 14px;
    }
    &.closed > .foldable_section_caption:after {
        content: '\f0d7';
    }
    &.open > .foldable_section_caption:after {
        content: '\f0d8';
    }
    &.closed > .foldable_section_content {
        display: none;
    }
    &.open > .foldable_section_content {
        display: block;
    }
    .foldable_section_content {
        margin-left: 15px;
        margin-top: 15px;

        padding-left: 15px;

        border-left: 1px dotted #B4B4B4;
    }
}

.foldable_container {
    & > .foldable_caption {
        cursor: pointer;

        & > .foldable-caret {
            @include transition(all 0.3s ease);
            font-size: 14px;
            display: inline-block;
            opacity: 0;
            margin: 0 6px;
            float: right;

            &:before {
                font-family: 'FontAwesome';
            }
        }

        &:hover {
            .foldable-caret {
                opacity: 1;
            }
        }
    }

    &.open {
        & > .foldable_caption .foldable-caret:before {
            content: '\f0d8';
        }
    }

    &.closed {
        & > .foldable_caption .foldable-caret:before {
            content: '\f0d7';
        }
    }
}

.panel.foldable {
    & > .panel-heading:first-child {
        cursor: pointer;

        .panel-caret {
            @include transition(all 0.3s ease);
            font-size: 14px;
            display: inline-block;
            opacity: 0;
            margin-left: 12px;
            line-height: 30px;

            &:before {
                font-family: 'FontAwesome';
            }
        }

        &:hover {
            .panel-caret {
                opacity: 1;
            }
        }
    }

    &.open {
        .panel-heading .panel-caret:before {
            content: '\f0d8';
        }
    }

    &.closed {
        .panel-heading .panel-caret:before {
            content: '\f0d7';
        }
    }
}

.objectViewtable.foldable {
    & > thead {
        tr:first-child {
            cursor: pointer;

            .foldable-caret {
                @include transition(all 0.3s ease);
                font-size: 14px;
                display: inline-block;
                opacity: 0;
                margin: 0 6px;
                float: right;

                &:before {
                    font-family: 'FontAwesome';
                }
            }

            &:hover {
                .foldable-caret {
                    opacity: 1;
                }
            }
        }  
    } 

    &.open {
        & > thead tr:first-child .foldable-caret:before {
            content: '\f0d8';
        }  
    }

    &.closed:first-child {
        & > thead tr:first-child .foldable-caret:before {
            content: '\f0d7'; 
        } 
    }
}


/*Tiny Popups*/

.tinyPopup {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 8px #787878;
    color: #3c3c3c;
    margin-right: 5px;
    min-width: 250px;
    padding: 15px;
    position: absolute;
    text-align: left;
    right: 0;
    z-index: 9999;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    .title {
        font-size: 11px;
        color: #505050;
        padding-bottom: 8px;
        margin-bottom: 5px;
        border-bottom: 1px solid #B4B4B4;
    }
    .btn {
        display: inline-block;
        margin: 5px 0;
        padding: 8px 12px;
        font-size: 12px;
    }
    .btn:hover {
        background-color: #EF7D00;
        color: #fff;
    }
}


/*Bimp Timer*/ 

.bimp_timer {
    background-color: #fff;
    border: 1px solid $secondary;

    .bimp_timer_header {
        padding: 5px 8px;
        background-color: $primary;
        color: #fff;

        .title {
            padding: 0;

            &:before {
                font-family: 'FontAwesome';
                margin-right: 8px;
                content: '\f017';
            }
        }
    }

    .bimp_timer_time {
        text-align: center;
        color: $gray-darker;
        padding: 10px 16px;
        font-weight: bold;

        .title {
            font-size: 13px;
            color: $gray-dark;
            text-align: left;
            margin-bottom: 8px;
        }

        .bimp_timer_label {
            margin: 0 8px;
        }

        &.bimp_timer_current_time {
            color: lighten($gray-darker, 20%);
            .bimp_timer_value {
                font-size: 22px;
            }
            .bimp_timer_label {
                font-size: 16px;
            }
        }
        &.bimp_timer_total_time {
            color: $gray-darker;
            .bimp_timer_value {
                font-size: 32px;
            }
            .bimp_timer_label {
                font-size: 24px;
            }
        }
    }

    .bimp_timer_footer {
        background-color: $gray-light;
        padding: 5px 8px;
        text-align: right;

        button {
            margin: 2px 3px;
        }
    }
}

/*FixeTabs*/

.fixe_tab_content {
    max-height: 500px;
    overflow-y: scroll;

    .bimp_timer {
        display: inline-block;
    }
}


/*Page Notifications*/

#page_notifications {
    display: none;
    position: fixed; 
    z-index: 99999;
    background-color: transparent;
    padding: 0 30px;
    top: 40px;
    right: 0;
    width: 430px;

    p {
        width: 340px;
        margin: 15px;
        border-radius: 4px;
        box-shadow: 3px 3px 6px $gray-dark;

        margin-left: 370px;
    }

    #notifications_tools {
        margin-bottom: 10px;
        text-align: right;

        .removeAllBimpMsgButton {
            box-shadow: 4px 4px 4px #505050;
        }
    }

    .removeBimpMsgButton {
        @include transition(all 0.3s ease);
        display: inline-block;
        float: right;
        margin-right: -5px;
        margin-top: -5px;
        font-size: 20px;
        cursor: pointer;

        &:after {
            font-family: 'FA5';
            content: '\f057';
        }

        &:hover {
            font-size: 24px;
        }
    }
}


/*Popup login*/ 

#bimp_login_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 99999;
    background-color: rgba(20, 20, 20, 0.75);
    text-align: center;

    iframe {
        margin: 5%;
        width: 80%;
        height: 80%;
    }
}


/*Product Stocks*/

.productStocksContainer {
    display: none;
    position: absolute;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #505050;
    min-width: 300px;
    max-height: 500px;
    overflow-y: auto;
    z-index: 10101;

    h3 {
        margin-top: 0;
        font-size: 17px;
    }

    .stockSearchContainer {
        margin: 10px 0;
        color: $gray-dark;
    }

    .productStockTable > thead > tr > th {
        background-color: #fff;
        color: $gray-darker;
        padding: 5px;
        border-bottom: 2px solid $gray-darker;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    .productStockTable > tbody > tr > td {
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    tr.currentEntrepot {
        font-weight: bold;

        td {
            background-color: #E6E6E6!important;
        }
    }
}

/*Controller Debug times*/

#bimpControllerDebugTimeInfos {
    padding: 30px;
    background-color: #fff;

    table {
        tr td {
            padding: 5px 8px;
        }

        tr td:first-child {
            font-weight: bold;
        }
    }
}

/*Position handles*/

.positionHandle {
    cursor: grab;
    text-align: center;

    span {
        display: inline-block;
        font-size: 15px;
        margin: 0 6px;
    }

    span:before {
        font-family: 'FontAwesome';
        content: '\f07d';
    }
}

.select2-results ul li {
    min-height: 30px;

    &.select2-results__option--highlighted {
        color: #fff!important;

        span {
            color: #fff!important;    
        }
    }
}

/*Debug infos*/

.debug_info {
    margin: 10px;
    padding: 5px 5px 5px 40px;
    border: 1px solid #FF6A00;
    border-left-width: 3px;
    background-color: #FFF4EB;

    i.debug_icon {
        float: left;
        margin-left: -30px;
        font-size: 20px;
        color: #C85300;
    }

    .debug_info_title {
        font-weight: bold;
    }
}