.objectViewtable {
    border: 1px solid $gray-light;
    width: 100%;

    tbody tr {
        th, td {
            padding: 5px 10px;
        }
        th {
            width: 20%;
            min-width: 90px;
            background-color: $primary;
            color: #fff;
            font-weight: bold;
            vertical-align: top;
            text-align: right;
            border-bottom: 1px solid #fff;
        }
        td {
            border-bottom: 1px solid $gray-light;
        }
    }
}
.object_card_table {    
    tbody tr {
        th, td {
            padding: 0 5px;
            border-bottom: 1px solid #fff;
        }

        th {
            width: 30%;
            min-width: 120px;
            font-weight: bold;
            text-align: right;
            vertical-align: top;
            background-color: #fff;
            color: $gray-darker;
        }

        td {
            color: $gray-darker;
            background-color: #fff;
        }
    }
}
.object_common_fields {
    padding: 10px;
    background-color: $gray-lighter;
    border: 1px solid darken($gray-lighter, 10%);
    border-radius: 4px;

    table {
        width: 100%;
        border: none;

        tbody tr {
            th, td {
                padding: 0 5px;                
                color: $gray-darker;
                font-size: 12px;
            }

            th {
                font-weight: bold;
                width: 30%;
                min-width: 90px;
                text-align: right;
                vertical-align: top;
            }
        }
    }
}