.panel-secondary {
    .panel-secondary {
        /*border-color: #c8c8c8;*/
        .panel-heading {
            background-color: #c8c8c8;
            color: $gray_darker;
            border-color: #c8c8c8
        }
    }
}

.object_view_content {
    padding: 0!important;

    .row:not(:first-child) {
        margin-top: 15px;
    }
}

.objectFieldsTableContainer {
    width: 100%;
    border: 1px solid $secondary;
    margin: 5px 0;
}

.bimp_fields_table,
.objectFieldsTable {
    width: 100%;

    & > thead > tr > th {
        padding: 8px 12px;
        background-color: #c8c8c8;
        color: $gray_darker;
        font-size: 15px;
        font-weight: normal;
    }

    & > thead > tr.col_headers > th {
        padding: 5px 8px;
        background-color: $primary;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
    }

    & > tbody {
        & > tr:last-child {
            & > th, & > td {
                border-bottom: none;
            }
        }

        & > tr {
            @include transition(all 0.3s ease);
            & > th, & > td {
                padding: 5px 10px;
            }
            & > th {
                width: 20%;
                min-width: 90px;
                background-color: $primary;
                color: #fff;
                font-weight: bold;
                vertical-align: top;
                text-align: right;
                border-bottom: 1px solid #fff;
            }
            & > td {
                border-bottom: 1px solid $gray-light;

                .inputContainer,
                .inputGroupContainer {
                    margin-right: 10px;

                    textarea, input[type=text] {
                        width: 100%;
                    }
                    select,.select2 {
                        min-width: 160px;
                        max-width: 350px!important;
                    }
                }
                .form-control {
                    width: auto!important;
                }
            }

            &.modified  {
                background-color: #E1F5FF!important;
                border-color: #A9C5D2!important;

                & > td {
                    background-color: #E1F5FF!important;
                    border-color: #A9C5D2!important;
                }
            }
        }
    }

    & > tfoot > tr > td {
        text-align: right;
        padding: 5px 10px;
        background-color: $gray-lighter;
    }

    &.center-align {
        & > thead > tr.col_headers > th,
        & > tbody > tr > td,
        & > tfoot > tr > td {
            text-align: center;
        }
    }

    & > tbody > tr.strong > td {
        font-weight: bold;
        background-color: #F0F0F0;
    }

    & > tbody > tr.title > td {
        font-weight: bold;
        text-align: left;
        background-color: #C8C8C8!important;
        border-top-color: #C8C8C8!important;
        border-bottom-color: #C8C8C8!important;
    }

    tr.total_row {
        & > td {
            font-weight: bold;
            background-color: #F0F0F0!important;
        }
    }
}

.object_header {
    padding: 15px 15px 0 15px;
    background-color: #fff;
    h1, h2 {
        margin-top: 0;
    }

    .object_header_infos {
        margin: 3px 0 0 0;
        font-style: italic;
        color: #787878;
        font-size: 11px;
    }

    .header_status {
        display: inline-block;
        font-size: 15px;
        margin: 5px 10px;
        
        span {
            display: inline-block;
            margin-left: 15px;
        }
    }

    .header_tools {
        display: inline-block;
        margin-left: 15px;
    }

    .headerIconButton {
        @include transition(all 0.3s ease);
        color: #C8C8C8;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            color: $primary;
        }
    }    

    .header_button {
        vertical-align: top;
        display: inline-block;
        margin: 2px 25px 6px 0;
    }

    .header_buttons {
        text-align: right;
        margin-top: 10px;

        .btn {
            margin: 3px 5px;
        }
    }

    .header_bottom {
        margin-top: 10px;
        padding: 5px;
        border-top: 2px solid $gray-dark;
    }
}

/*.object_page_header {
    @include transition(all 0.3s ease);    
}*/

.object_page_header.fixed {
    position: fixed;
    top: 48px;
    right: 0;
    left: 206px;
    z-index: 9000;
    box-shadow: 6px 4px 6px #787878;

    .object_header {
        padding-top: 5px;
    }

    & .object_header_infos {
        display: none;
    }

    .header_buttons {
        margin-top: 0;
    }
    h1 {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 5px
    }

    h2 {
        font-size: 15px;
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 5px
    }

    .header_bottom {
        padding: 0;
        margin-top: 0;
    }

    /*    .nav-tabs li a {
            padding-top: 5px;
            padding-bottom: 5px;
        }*/

}

.object_card {
    margin-top: 0;

    .object_card_status {
        display: inline-block;
        text-align: right;
        float: right;
        margin-left: 15px;
    }
}
.object_card_table {    
    width: 100%;
    margin-top: 5px;

    tbody tr {
        th, td {
            padding: 0 5px;
            border-bottom: 1px solid #fff;
        }

        th {
            width: 20%;
            min-width: 120px;
            font-weight: bold;
            text-align: right;
            vertical-align: top;
            background-color: #fff;
            color: $gray-darker;
        }

        td {
            color: $gray-darker;
            background-color: #fff;
        }
    }
}
.object_common_fields {
    margin: 5px 0;
    background-color: $gray-lighter;

    table {
        width: 100%;
        border: none;

        tbody tr {
            th, td {
                padding: 3px 5px;                
                font-size: 12px;
                border-bottom: 1px solid #fff;
            }

            th {
                font-weight: normal;
                color: $gray-light;
                border-bottom: 1px solid $gray-light;;
                width: 30%;
                min-width: 90px;
                text-align: right;
                vertical-align: top;
                background-color: $secondary;
            }

            td {
                color: $gray-darker;
                border-bottom: 1px solid $gray-light;
                vertical-align: middle;
            }
        }
    }
}
.multiple_values_items_list {
    padding: 5px;

    .multiple_values_item {
        margin: 5px 0;
        border: 1px solid $gray;
        padding: 10px;
    }
}