table: bimpcore_list_config
common_fields: 0

labels: 
    name: configuration de liste
    name_plur: configurations de liste
    is_female: 1
    
fields: 
    owner_type: 
        label: Type objet propriétaire
        values: 
            1: Groupe
            2: Utilisateur
        
    id_owner: 
        label: Propriétaire
        type: id_object
        required: 1
        
    obj_module: 
        label: Module
        required: 1
        
    obj_name: 
        label: Objet
        required: 1
        
    list_name: 
        label: Code liste
        default_value: default
        
    cols: 
        label: Cols
        type: list
        
    sort_field: 
        label: Tri
        default_value: id
        
    sort_option:
        label: Option de tri
        default_value: 
        
    sort_way:
        label: Ordre
        values: 
            asc: Croissant
            desc: Décroissant
        default_value: desc
        
    nb_items: 
        label: Nombre d'éléments par page
        type: int
        values: 
            10: 10
            25: 25
            50: 50
            100: 100
            250: 250
            500: 500
        input: 
            type: switch_options
        default_value: 10
        
    total_row: 
        label: Afficher les totaux
        type: bool
        default_value: 0
        
#    filters: 
#        label: Filtres
#        type: json